<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-12 large-12">
    <div class="callout secondary">Publicidad</div>
  </div>
  <div class="cell small-1 medium-1 large-1"></div>
  <div class="cell small-7 medium-7 large-7">
    <h2>{{ response.data.attributes.title }}</h2>
    <div class="cell small-12 medium-12 large-12">
      <img src="" alt="">
    </div>
    <div class="cell small-12 medium-12 large-12">
      <p [innerHTML]=response.data.attributes.body.processed></p>
      <p>
        <span>Compartir Post</span>
      </p>
      <p>
        <i class="fi-social-facebook"></i>
        <i class="fi-social-twitter"></i>
        <i class="fi-social-google-plus"></i>
        <i class="fi-social-linkedin"></i>
      </p>
    </div>
    <div class="cell small-12 medium-12 large-12 text-center">
      <h4>Deja tu comentario</h4>
      <hr class="logoMinDivider">
    </div>
    <div class=" grid-x cell small-12 medium-12 large-12">
      <div class="cell small-0 medium-3 large-3">
        <label class="show-for-landscape" for="">Nombre</label>
      </div>
      <div class="cell small-12 medium-9 large-9">
        <input type="text" name="" id="" placeholder="Nombre">
      </div>
      <div class="cell small-0 medium-3 large-3">
        <label class="show-for-landscape" for="">Email</label>
      </div>
      <div class="cell small-12 medium-9 large-9">
        <input type="text" name="" id="" placeholder="Email">
      </div>
      <div class="cell small-0 medium-3 large-3">
        <label class="show-for-landscape" for="">Comentarios</label>
      </div>
      <div class="cell small-12 medium-9 large-9">
        <textarea name="" id="" cols="5" rows="5" placeholder="Comentarios"></textarea>
      </div>
    </div>
    <div class=" grid-x cell small-12 medium-12 large-12">
      <div class="cell small-12 medium-12 large-12">
        <div class="cell">
          <span class="badge"> J </span>
          <span class="text-bold">Juan Pablo Rinc&oacute;n</span>
        </div>
        <div class="cell">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio molestias ab non doloremque
            veniam suscipit deleniti sunt quam autem architecto sequi et similique, aliquid provident impedit quia
            explicabo. Quia.</p>
        </div>
        <div class="cell">
          <i class="fi-like"></i>
        </div>
      </div>
      <div class="cell small-12 medium-12 large-12">
        <div class="cell">
          <span class="badge"> J </span>
          <span class="text-bold">Juan Pablo Rinc&oacute;n</span>
        </div>
        <div class="cell">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio molestias ab non doloremque
            veniam suscipit deleniti sunt quam autem architecto sequi et similique, aliquid provident impedit quia
            explicabo. Quia.</p>
        </div>
        <div class="cell">
          <i class="fi-like"></i>
        </div>
      </div>
      <div class="cell small-12 medium-12 large-12">
        <div class="cell">
          <span class="badge"> J </span>
          <span class="text-bold">Juan Pablo Rinc&oacute;n</span>
        </div>
        <div class="cell">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur optio molestias ab non doloremque
            veniam suscipit deleniti sunt quam autem architecto sequi et similique, aliquid provident impedit quia
            explicabo. Quia.</p>
        </div>
        <div class="cell">
          <i class="fi-like"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2">
    <h5>Articulos relacionados</h5>
    <div class="media-object" *ngFor="let related of responseRelated; let i = index">
      <div class="media-object-section">
        <div class="thumbnail">
          <img [src]="related.article_image">
        </div>
      </div>
      <div class="media-object-section">
        <span>{{ related.article_type }}</span>
        <h6>{{ related.title }}</h6>
        <span class="dateLabel">{{ related.changed }}</span>
      </div>
    </div>
    <!-- <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="https://placehold.it/100x100/?text=Card-1">
        </div>
      </div>
      <div class="media-object-section">
        <span>DISE&Ntilde;O</span>
        <h6>Tendencias para decoración navideña</h6>
        <span>04.12.2019</span>
      </div>
    </div>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="https://placehold.it/100x100/?text=Card-1">
        </div>
      </div>
      <div class="media-object-section">
        <span>DISE&Ntilde;O</span>
        <h6>Tendencias para decoración navideña</h6>
        <span>04.12.2019</span>
      </div>
    </div>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="https://placehold.it/100x100/?text=Card-1">
        </div>
      </div>
      <div class="media-object-section">
        <span>DISE&Ntilde;O</span>
        <h6>Tendencias para decoración navideña</h6>
        <span>04.12.2019</span>
      </div>
    </div>
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="https://placehold.it/100x100/?text=Card-1">
        </div>
      </div>
      <div class="media-object-section">
        <span>DISE&Ntilde;O</span>
        <h6>Tendencias para decoración navideña</h6>
        <span>04.12.2019</span>
      </div>
    </div> -->
    <div class="responsive-embed">
      <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="220"
        data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/facebook">Facebook</a></blockquote>
      </div>
    </div>
    <div class="responsive-embed">
      <a class="twitter-timeline" data-width="220" data-height="300"
        href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="grid-x cell small-8 medium-8 large-8 text-center primary">
    <div class="cell small-12 medium-12 large-12">
      <h5>Suscr&iacute;bete a nuestro bolet&iacute;n</h5>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <hr class="logoMinDivider">
    </div>
    <div class="cell small-12 medium-12 large-12">
      <p>Suscr&iacute;bete a nuestro bolet&iacute;n y recibe nuestros &uacute;ltimos contenidos</p>
    </div>
    <div class="cell small-10 medium-10 large-10">
      <input type="text" name="" id="">
    </div>
    <div class="cell small-2 medium-2 large-2">
      <button class="button search_button">Suscribirse</button>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <input type="checkbox" name="" id="">
      <label for="">Declaro haber leido el
        <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
        conforme con el mismo.</label>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
</div>

<div class="grid-x cell small-4 medium-4 large-4"></div>
<div class="grid-x cell small-4 medium-4 large-4">

</div>
