<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell medium-1 large-1">
    </div>
    <div class="cell small-12 medium-3 large-3">
      <div class="cell large-12 medium-12 small-12">
        <ul class="tabs-form-container" data-active-collapse="true"
          data-responsive-accordion-tabs="tabs medium-accordion large-tabs" data-tabs id="content-upload-tabs"
          role="tablist">
          <li class="tabs-title is-active"><a href="#infoForm" aria-selected="true">1</a></li>
          <li class="tabs-title"><a href="#multimedia">2</a></li>
          <li class="tabs-title"><a href="#features">3</a></li>
          <li class="tabs-title"><a href="#contact">4</a></li>
          <li class="tabs-title"><a href="#descProperty">5</a></li>
        </ul>
      </div>
    </div>
    <div class="cell small-12 medium-8 large-8">
      <form action="">
        <div class="form-tabs" data-tabs-content="content-upload-tabs">
          <div class="tabs-panel is-active" id="infoForm">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-12 large-12">
                <h3>Carga de Contenido</h3>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Datos del Proyecto</h5>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Constructora *
                  <select>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Nombre del proyecto *
                  <input type="text" placeholder="">
                </label>
              </div>
            </div>
            <div class="cell medium-12 large-12 small-12">
              <span>Tipo Inmueble</span>
            </div>
            <div class="cell medium-12 large-12 small-12">
              <input id="tipoInmueble1" name="tipoInmueble" type="radio" class="radio_item_circle">
              <label for="tipoInmueble1" class="label-item-circle text-center">
                <div class="date-upload-option text-bold">
                  <i class="fi-home"></i>
                </div>
                Casas
              </label>
              <input id="tipoInmueble2" name="tipoInmueble" type="radio" class="radio_item_circle">
              <label for="tipoInmueble2" class="label-item-circle text-center">
                <div class="date-upload-option text-bold">
                  <i class="fi-home"></i>
                </div>
                Apartamentos
              </label>
              <input id="tipoInmueble3" name="tipoInmueble" type="radio" class="radio_item_circle">
              <label for="tipoInmueble3" class="label-item-circle text-center">
                <div class="date-upload-option text-bold">
                  <i class="fi-home"></i>
                </div>
                Apartaestudios
              </label>
              <input id="tipoInmueble4" name="tipoInmueble" type="radio" class="radio_item_circle">
              <label for="tipoInmueble4" class="label-item-circle text-center">
                <div class="date-upload-option text-bold">
                  <i class="fi-home"></i>
                </div>
                Lotes
              </label>
            </div>
            <div class="cell medium-12 large-12 small-12">
              <span>Estado del Proyecto</span>
            </div>
            <div class="grid-x grid-margin-x">
              <div class="cell medium-8 large-8 small-12">
                <input id="estadoProyecto1" type="radio" name="estadoProyecto" class="radio_item_circle">
                <label for="estadoProyecto1" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  En construcci&oacute;n
                </label>
                <input id="estadoProyecto2" type="radio" name="estadoProyecto" class="radio_item_circle">
                <label for="estadoProyecto2" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Sobre planos
                </label>
                <input id="estadoProyecto3" type="radio" name="estadoProyecto" class="radio_item_circle">
                <label for="estadoProyecto3" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Terminado
                </label>
              </div>
              <div class="cell medium-4 large-4 small-12">
                <label for="">Fecha aproximada de entrega
                  <input type="date" name="" id="">
                </label>
              </div>
            </div>
            <div class="cell small-12 medium-12 large-12">
              <h5>Ubicaci&oacute;n *</h5>
            </div>
            <div class="grid-x grid-margin-x cell medium-12 large-12 small-12">
              <div class="grid-x  cell medium-7 large-7 small-12">
                <div class="cell medium-6 large-6 small-12">
                  <label>Nombre del proyecto *
                    <input type="text" placeholder="">
                  </label>
                  <label>Nombre del proyecto *
                    <input type="text" placeholder="">
                  </label>
                </div>
                <div class="cell medium-6 large-6 small-12">
                  <label>Constructora *
                    <select>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <h5>Direcci&oacute;n *</h5>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <input type="checkbox" name="" id="">
                  <label for="">
                    Sala de ventas
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <label for="">
                    Escribe la direcci&oacute;n de la sala de ventas
                    <input type="text" name="" id="">
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <input type="checkbox" name="" id="">
                  <label for="">
                    Sala de ventas
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <label for="">
                    Escribe la direcci&oacute;n del proyecto
                    <input type="text" name="" id="">
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <input type="checkbox" name="" id="">
                  <label for="">
                    Oficina
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <h5>Estrato *</h5>
                  <input id="estrato1" type="radio" name="estrato" class="radio_item_circle">
                  <label for="estrato1" class="label-item-circle text-center">
                    <div class="date-upload-option-small text-bold">
                      1
                    </div>
                  </label>
                  <input id="estrato2" type="radio" name="estrato" class="radio_item_circle">
                  <label for="estrato2" class="label-item-circle text-center">
                    <div class="date-upload-option-small text-bold">
                      2
                    </div>
                  </label>
                  <input id="estrato3" type="radio" name="estrato" class="radio_item_circle">
                  <label for="estrato3" class="label-item-circle text-center">
                    <div class="date-upload-option-small text-bold">
                      3
                    </div>
                  </label>
                  <input id="estrato4" type="radio" name="estrato" class="radio_item_circle">
                  <label for="estrato4" class="label-item-circle text-center">
                    <div class="date-upload-option-small text-bold">
                      4
                    </div>
                  </label>
                  <input id="estrato5" type="radio" name="estrato" class="radio_item_circle">
                  <label for="estrato5" class="label-item-circle text-center">
                    <div class="date-upload-option-small text-bold">
                      5
                    </div>
                  </label>
                </div>
                <div class="cell small-12 medium-12 large-12">
                  <h5>Banco *</h5>
                </div>
                <div class="cell medium-6 large-6 small-12">
                  <label>Banco o entidad para cr&eacute;dito
                    <select>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </label>
                </div>
                <div class="cell medium-12 large-12 small-12 text-right">
                  <button class="button primary">Siguiente &#62;</button>
                </div>
              </div>
              <div class="medium-4 large-4 small-12">
                <div class="responsive-embed">
                  <iframe
                    src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="multimedia">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-12 large-12">
                <h3>Carga de Contenido</h3>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Logo del proyecto</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Las imagenes debe estar entre ??? y ??? p&iacute;xeles, y ser menores que 1 MB</span>
              </div>
              <div class="cell small-12 medium-4 large-4">
                <button class="hollow secondary upload-button" type="file" name="file">
                  <i class="fi-upload-cloud"></i>
                  Subir archivo
                </button>
              </div>
              <div class="cell small-0 medium-8 large-8">
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Im&aacute;genes</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Las imagenes debe estar entre 710x470 y 730x490 p&iacute;xeles, y ser menores que 1 MB</span>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-12 medium-6 large-6">
                  <div class="container-upload-image">
                    <img src="https://placehold.it/350x250/?text=Imagen-1">
                  </div>
                </div>
                <div class="cell small-12 medium-6 large-6">
                  <div class="container-upload-image-add text-center">
                    <i class="fi-plus"></i>
                    <span>A&ntilde;adir imagen</span>
                  </div>
                </div>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Video</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Url</span>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <input type="text" name="" id="">
              </div>
              <div class="cell medium-6 large-6 small-6 align-right">
                <button class="button primary">&lt; Anterior</button>
              </div>
              <div class="cell medium-6 large-6 small-6 align-left">
                <button class="button primary">Siguiente &gt;</button>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="features">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-12 large-12">
                <h3>Carga de Contenido</h3>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Caracter&iacute;sticas del proyecto</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label primary">
                  <a href="">
                    Piscina
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    3 Habitaciones
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    2 Garajes
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <hr />
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label secondary">
                  <a href="">
                    Piscina
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    3 Habitaciones
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    2 Garajes
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>N&uacute;mero de torres
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Pisos por torres
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Apartamentos por piso / Casas por manzana
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Acensor por torre
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Caracter&iacute;sticas del entorno</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label primary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <hr />
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label secondary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    item
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Colecci&oacute;n
                  <select>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">

              </div>
              <div class="cell medium-6 large-6 small-6 align-right">
                <button class="button primary">&lt; Anterior</button>
              </div>
              <div class="cell medium-6 large-6 small-6 align-left">
                <button class="button primary">Siguiente &gt;</button>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="contact">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-12 large-12">
                <h3>Carga de Contenido</h3>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Datos de contacto</h5>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Nombre *
                  <input type="text" placeholder="">
                </label>
                <label>Email *
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Nombre *
                  <input type="text" placeholder="">
                </label>
                <a href="">Agregar Correo <i class="fi-plus"></i></a>
              </div>
              <div class="cell medium-12 large-12 small-12">
                <input id="esNumeroWhatsapp" type="checkbox">
                <label for="esNumeroWhatsapp">Este es el mismo número de Whatsapp</label>
              </div>
              <div class="cell medium-12 large-12 small-12">
                <a href="">Agregar n&uacute;mero <i class="fi-plus"></i></a>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Horario de atención</h5>
              </div>
              <div class="cell medium-12 large-12 small-12">
                <input id="checkLunes" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkLunes" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Lunes
                  </div>
                </label>
                <input id="checkMartes" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkMartes" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Martes
                  </div>
                </label>
                <input id="checkMiercoles" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkMiercoles" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Mi&eacute;rcoles
                  </div>
                </label>
                <input id="checkJueves" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkJueves" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Jueves
                  </div>
                </label>
                <input id="checkViernes" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkViernes" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Viernes
                  </div>
                </label>
                <input id="checkSabado" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkSabado" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    S&aacute;bado
                  </div>
                </label>
                <input id="checkDomingo" type="checkbox" name="dayTimeAtention" class="radio_item_circle">
                <label for="checkDomingo" class="label-item-circle text-center">
                  <div class="date-upload-option-medium text-bold">
                    Domingo
                  </div>
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <br><br>
              </div>
              <div class="cell medium-4 large-4 small-8">
                <select>
                  <option value="09:00">09:00</option>
                  <option value="10:00">10:00</option>
                  <option value="11:00">11:00</option>
                  <option value="12:00">12:00</option>
                </select>
              </div>
              <div class="cell medium-2 large-2 small-4">
                <select>
                  <option value="am">AM</option>
                  <option value="pm">PM</option>
                </select>
              </div>
              <div class="cell medium-6 large-6 small-12">
              </div>
              <div class="cell medium-12 large-12 small-12">
                <label for="detail">Especificaciones (max 170 caracteres)</label>
                <textarea name="" id="detail" cols="30" rows="5">
                  </textarea>
              </div>
              <div class="cell medium-6 large-6 small-6 align-right">
                <button class="button primary">&lt; Anterior</button>
              </div>
              <div class="cell medium-6 large-6 small-6 align-left">
                <button class="button primary">Siguiente &gt;</button>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="descProperty">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 medium-12 large-12">
                <h3>Carga de Contenido</h3>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Información financiera</h5>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Etiqueta precio *
                  <input type="text" placeholder="">
                </label>
                <label>Cuota incial
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Precio desde
                  <input type="text" placeholder="">
                </label>
                <label>Separación
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>&Aacute;rea</h5>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>&Aacute;rea construida *
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>&Aacute;rea privada *
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Descripci&oacute;n inmueble</h5>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label>Tipo de vivienda
                  <select>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Acabados</span>
              </div>
              <div class="cell medium-12 large-12 small-12">
                <input id="tipoInmueble1" name="tipoAcabado" type="radio" class="radio_item_circle">
                <label for="tipoInmueble1" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Obra Gris
                </label>
                <input id="tipoInmueble2" name="tipoAcabado" type="radio" class="radio_item_circle">
                <label for="tipoInmueble2" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Con acabados
                </label>
                <input id="tipoInmueble3" name="tipoAcabado" type="radio" class="radio_item_circle">
                <label for="tipoInmueble3" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Semi-acabados
                </label>
                <input id="tipoInmueble4" name="tipoAcabado" type="radio" class="radio_item_circle">
                <label for="tipoInmueble4" class="label-item-circle text-center">
                  <div class="date-upload-option text-bold">
                    <i class="fi-home"></i>
                  </div>
                  Sin-acabados
                </label>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Planos</span>
              </div>
              <div class="cell small-12 medium-4 large-4">
                <button class="hollow secondary upload-button" type="file" name="file">
                  <i class="fi-upload-cloud"></i>
                  Subir archivo
                </button>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span>Im&aacute;genes del inmueble</span>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="small-12 medium-4 large-4">
                  <img src="https://placehold.it/250x150/?text=Imagen-Inmueble" alt="">
                  <input type="text" name="" id="" placeholder="Título*">
                  <input type="text" name="" id="" placeholder="Alt*">
                </div>
                <div class="small-12 medium-4 large-4">
                  <img src="https://placehold.it/250x150/?text=Imagen-Inmueble" alt="">
                  <input type="text" name="" id="" placeholder="Título*">
                  <input type="text" name="" id="" placeholder="Alt*">
                </div>
                <div class="small-12 medium-4 large-4">
                  <img src="https://placehold.it/250x150/?text=Imagen-Inmueble" alt="">
                  <input type="text" name="" id="" placeholder="Título*">
                  <input type="text" name="" id="" placeholder="Alt*">
                </div>
                <div class="small-12 medium-4 large-4">
                  <img src="https://placehold.it/250x150/?text=Imagen-Inmueble" alt="">
                  <input type="text" name="" id="" placeholder="Título*">
                  <input type="text" name="" id="" placeholder="Alt*">
                </div>
                <div class="small-12 medium-4 large-4">
                  <img src="https://placehold.it/250x150/?text=Imagen-Inmueble" alt="">
                  <input type="text" name="" id="" placeholder="Título*">
                  <input type="text" name="" id="" placeholder="Alt*">
                </div>
                <div class="small-12 medium-4 large-4 text-center">
                  <button class="hollow secondary upload-button" type="file" name="file">
                    <i class="fi-upload-cloud"></i>
                    Subir archivo
                  </button>
                </div>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Video</h5>
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label>URL
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell small-12 medium-6 large-6">
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Recorrido</h5>
              </div>
              <div class="cell small-12 medium-6 large-6">
                <label>URL
                  <input type="text" placeholder="">
                </label>
              </div>
              <div class="cell small-12 medium-6 large-6">
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book"> Habitaciones*</i>
                </div>
                <div class="cell small-3 medium-3 large-3">
                  <input type="number" name="" id="">
                </div>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book"> Niveles del inmueble*</i>
                </div>
                <div class="cell small-3 medium-3 large-3">
                  <input type="number" name="" id="">
                </div>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book">Ba&ntilde;os*</i>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Ba&ntilde;o social
                  </label>
                </div>
                <div class="cell small-3 medium-3 large-3">
                  <input type="number" name="" id="">
                </div>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book">Garajes*</i>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Cubierto
                  </label>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Descubierto
                  </label>
                </div>
                <div class="cell small-3 medium-3 large-3">
                  <input type="number" name="" id="">
                </div>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book"> Tipo de Garaje*</i>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Comunal
                  </label>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Privado
                  </label>
                </div>
                <div class="cell small-3 medium-3 large-3">
                </div>
              </div>
              <div class="grid-x cell small-12 medium-12 large-12">
                <div class="cell small-3 medium-3 large-3">
                  <i class="fi-address-book"> Sala comedor*</i>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Cubierto
                  </label>
                  <label for="">
                    <input type="checkbox" name="" id="">
                    Descubierto
                  </label>
                </div>
                <div class="cell small-3 medium-3 large-3">
                </div>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <h5>Caracter&iacute;sticas del inmueble</h5>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label primary">
                  <a href="">
                    Piscina
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    3 Habitaciones
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label primary">
                  <a href="">
                    2 Garajes
                  </a>
                  <a href="">
                    <span class="badge "><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell small-12 medium-12 large-12">
                <hr />
              </div>
              <div class="cell small-12 medium-12 large-12">
                <span class="label secondary">
                  <a href="">
                    Piscina
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    3 Habitaciones
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
                <span class="label secondary">
                  <a href="">
                    2 Garajes
                  </a>
                  <a href="">
                    <span class="badge secondary"><i class="fi-x"></i></span>
                  </a>
                </span>
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label for="">
                  &Aacute;rea balc&oacute;n
                </label>
                <input type="text" name="" id="">
              </div>
              <div class="cell medium-6 large-6 small-12">
              </div>
              <div class="cell medium-6 large-6 small-12">
                <label for="">
                  <input type="checkbox" name="" id="">
                  Entrega inmediata
                </label>
              </div>
              <div class="cell medium-6 large-6 small-12">
              </div>
              <div class="cell medium-12 large-12 small-12">
                <label for="detail">Comentarios adicionales</label>
                <textarea name="" id="detail" cols="30" rows="5">
                  </textarea>
              </div>
              <div class="cell medium-12 large-12 small-12">
                <hr>
              </div>
              <div class="cell medium-12 large-12 small-12 text-center">
                <span>A&Ntilde;ADIR TIPOLOG&Iacute;A <i class="fi-plus"></i></span>
              </div>
              <div class="cell medium-6 large-6 small-6 align-right">
                <button class="button primary">&lt; Anterior</button>
              </div>
              <div class="cell medium-6 large-6 small-6 align-left">
                <button class="button primary">Siguiente &gt;</button>
                <label for="">
                  <input type="checkbox" name="" id="">
                  Aceptaci&oacute;n <a href="" target="_blank" rel="noopener noreferrer">Aviso legal</a>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
