<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell small-1 medium-1 large-1"></div>
    <div class="cell small-3 medium-3 large-3">
      <ul class="vertical menu information-company">
        <li class="is-active"><a href="quienes-somos">¿Qui&eacute;nes somos?</a></li>
        <li><a href="glosario">Glosario</a></li>
        <li><a href="contactenos">Cont&aacute;ctenos</a></li>
        <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
        <li><a href="politica-datos">Pol&iacute;tica de tratamiento de datos</a></li>
        <li><a href="mapa-sitio">Mapa del sitio</a></li>
      </ul>
    </div>
    <div class="grid-x cell small-7 medium-7 large-7">
      <h2>¿Qui&eacute;nes somos?</h2>

      <h5>!Somos el Portal Especializado en Vivienda Nueva en Colombia¡</h5>

      <p>Estrenar Vivienda significa querer un futuro, vivir un presente en el que puedas tener la tranquilidad de
        estar en tu hogar, en tu vivienda propia.</p>

      <p>Nuestra historia comenzó en el año 2009 con una revista impresa, que terminó por consolidarse como una de las
        herramientas de mayor prestigio y credibilidad para la compra de vivienda nueva en el Centro de Colombia, y
        que hoy en día podría ser una de las de las revistas de mayor circulación en el país.</p>

      <p>Un año después de este gran éxito nace nuestro canal digital, uno de los principales portales web en el
        sector inmobiliario, que cada día sigue evolucionando, con el único interés de guiar a miles de usuarios en la
        búsqueda de su nuevo hogar.</p>

      <p>Actualmente contamos con más de 480 proyectos de vivienda nueva y más de 160 constructoras registradas. Lo
        que nos permite brindar una variedad de opciones que se ajustan a las diferentes necesidades de los usuarios
        en cuanto a precio, características, ubicación, y las diferentes comodidades que desee. Posicionándonos entre
        los primeros portales inmobiliarios a nivel nacional, y manteniéndonos como líderes en la oferta de vivienda
        nueva en Bogotá.</p>

      <p>Por este y otros motivos estamos seguros que Estrenar Vivienda es el lugar ideal para que los colombianos se
        enamoren de su nuevo hogar, conociendo todas las alternativas de proyectos que tenemos publicados de las más
        de 160 constructoras que depositan su confianza en nosotros para llegar al público que busca habitar o
        invertir en una vivienda.</p>

      <p>Ten presente que Encontrar tu nuevo hogar es posible, y que Estrenar Vivienda ¡Es Felicidad!</p>

      <h6>Direcci&oacute;n y Gerencia</h6>
      <div class="grid-x cell large-12 medium-12 small-12 small-up-1 medium-up-3 large-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-1.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-2.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-3.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
      </div>

      <h6>Direcci&oacute;n y Gerencia</h6>
      <div class="grid-x cell large-12 medium-12 small-12 small-up-1 medium-up-3 large-up-3">
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-1.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-2.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <div class="card-section">
              <img src="assets/images/personal/persona-3.png">
            </div>
            <div class="card-section secondary">
              <p><span class="text-bold">Roberto Escobar</span></p>
              <p><span>Director</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell small-1 medium-1 large-1"></div>
  </div>
</div>
