<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  template="<img src='/assets/images/logo-ev.png' />"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="row columns">
  <div class="medium-3 columns">
      <ul class="menu-left">
          <li><a class="active" href="quienes-somos">¿Quienes somos?</a></li>
          <li><a href="revista-digital">Revista digital</a></li>
          <li><a href="glosario">Glosario</a></li>
          <li><a href="contactenos">Contáctenos</a></li>
          <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
          <li><a href="aviso-legal">Aviso legal</a></li>
          <li><a href="politica-datos">Politica de Tratamiento de datos</a></li>
          <!-- <li><a href="mapa-sitio">Mapa del sitio</a></li> -->

      </ul>
  </div>
  <div class="medium-9 columns">
    <div class="show-for-small-only text-center">
      <h2>{{ responseData.title }}</h2>
    </div>
    <div class="hide-for-small-only">
      <h2>{{ responseData.title }}</h2>
    </div>

      <p [innerHTML]=responseData.body.processed  ></p>
          <hr class="white">
          <div class="row">
            <h2 class="columns">Dirección y Gerencia</h2>
            <div class="medium-4 columns end" *ngFor="let equipo of dataInfoImg.slice(0, 3); let i = index">
                <div class="card team">
                    <img [src]="imgPath + equipo.field_ev_team_image.uri.url" alt="">
                      <div class="section-card">
                          <div class="name">{{ equipo.field_ev_team_name }}</div>
                          <div class="cargo">{{ equipo.field_ev_team_position }}</div>
                      </div>
                  </div>
            </div>
            <h2 class="columns">Coordinación</h2>
            <div class="medium-4 columns end" *ngFor="let equipo of dataInfoImg.slice(3, 6); let i = index">
                <div class="card team">
                    <img [src]="imgPath + equipo.field_ev_team_image.uri.url" alt="">
                      <div class="section-card">
                          <div class="name">{{ equipo.field_ev_team_name }}</div>
                          <div class="cargo">{{ equipo.field_ev_team_position }}</div>
                      </div>
                  </div>
            </div>
            <h2 class="columns">Área Digital</h2>
            <div class="medium-4 columns end" *ngFor="let equipo of dataInfoImg.slice(6, 9); let i = index">
                <div class="card team">
                    <img [src]="imgPath + equipo.field_ev_team_image.uri.url" alt="">
                      <div class="section-card">
                          <div class="name">{{ equipo.field_ev_team_name }}</div>
                          <div class="cargo">{{ equipo.field_ev_team_position }}</div>
                      </div>
                  </div>
            </div>
          </div>
  </div>
</div>
<hr class="white">
<div class="container-blue">
  <div class="row columns text-center">
      <h2 class="deco">Suscribirse a nuestro boletín</h2>
      <p>Suscribete a nustro boletin y recibe nuestros últimos contenidos.</p>
      <div>
        <form [formGroup]="form2">
            <div class="row condensed">
                <div class="medium-7 medium-offset-2 columns">
                    <input type="text" id="email_suscribe" formControlName="email_suscribe" name="email_suscribe" pattern="email" placeholder="Ingresa tu correo electrónico" required>
                </div>
                <div class="medium-1 columns end">
                    <a (click)="onSubmitSuscribe(form2.value)" class="button expanded secondary">Suscribirse</a>
                </div>
                <div class="medium-7 medium-offset-2 columns end text-left">
                    <input id="checkbox1" type="checkbox">
                    <label for="checkbox1">Declaro haber leido el <a href="/aviso-privacidad">
                    Aviso de Privacidad</a> y estar conforme con el mismo</label>
                </div>
            </div>
        </form>
      </div>
  </div>
</div>
<div class="text-center" id="exampleModalSuscribe" data-reveal>
    <img src="/assets/images/logo-ev.png">
    <div style="margin-top: 20px;">
      <h2>¡Suscripción exitosa!</h2>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="text-center" id="exampleModalNosuscribe" data-reveal>
    <img src="/assets/images/logo-ev.png">
    <h2>¡Atención!</h2>
    <p>Su correo ya ha sido registrado anteriormente</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
