<!-- <div class="reveal" id="welcomeModal" data-reveal> -->
<!-- wizard 1 -->
<form [formGroup]="form">
    <div id="wizard0">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 16%">
                    <span class="progress-meter-text">1 de 6</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
        <hr class="white">
        <h1 class="deco">¿Dónde estas buscando?</h1>
        <hr class="white">
        <!-- <input type="search" placeholder="Ciudad o zona"> -->
            <!-- <input
              matInput
              formControlName="search"
              [matAutocomplete]="auto"
              [matAutocompleteConnectedTo]="origin"
              (keyup)="filterValues(form.value.search)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of arrayOptions" [value]="option">{{option}}</mat-option>
          </mat-autocomplete> -->
                <input type="text"
                    placeholder="Pick one"
                    aria-label="Number"
                    matInput
                    (keyup)="filterValues(form.value.search)">
                    <select >
                        <!-- <option disabled>Select Oppo Suits</option> -->
                        <option *ngFor="let option of arrayOptions2">{{option}}</option>
                    </select>
                <!-- <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of arrayOptions | async" [value]="option">
                    <span>{{option}}</span>
                </mat-option>
                </mat-autocomplete> -->
        <hr class="white">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(1);">Siguiente</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Fin wizard 1 -->
    <!-- Wizard 2 -->
    <div id="wizard1" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 32%">
                    <span class="progress-meter-text">2 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">Barranquilla</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Cuál es tu presupuesto de compra?</h1>
            <hr class="white">
            <p>Presupuesto de compra</p>
            <div class="row">
                <div class="salida">Desde $<span><input type="number" id="sliderOutput1"></span>hasta $<span><input
                        type="number" id="sliderOutput2"></span></div>
            </div>
            <div class="row">
                <hr class="white">
                <div class="rango">
                    <div class="slider" data-slider data-initial-start="0" data-initial-end="75">
                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                            aria-controls="sliderOutput1"></span>
                        <span class="slider-fill" data-slider-fill></span>
                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                            aria-controls="sliderOutput2"></span>
                    </div>
                    <div class="valores">
                        <div class="left">$150M</div><div class="right">$1500M</div>
                    </div>
                </div>
            </div>
            <div class="inline">
                <button class="button" (click)="changeStepWizard(0);">Anterior</button>
            </div>
            <div class="inline">
                <button class="button" (click)="changeStepWizard(2);">Siguiente</button>
            </div>
    
        </div>
    
    </div>
    </div>
    <!-- Fin wizard 2 -->
    <!-- Wizard 3 -->
    <div id="wizard2" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 48%">
                    <span class="progress-meter-text">3 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">Barranquilla</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Vas a comprar con subsidio?</h1>
            <hr class="white">
            <div class="row text-center diblock">
                <div class="opcion text-center">
                    <div class="opcion-seleccion boton">
                        <input id="casas" type="checkbox"><label for="casas">SI</label>
                    </div>
                </div>
                <div class="opcion text-center">
                    <div class="opcion-seleccion boton">
                        <input id="casas" type="checkbox"><label for="casas">NO</label>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(1);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(3);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 3 -->
    <!-- Wizard 4 -->
    <div id="wizard3" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 64%">
                    <span class="progress-meter-text">4 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">Barranquilla</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-10 medium-offset-1 columns">
            <div class="row">
                <hr class="white">
                <h1 class="deco">¿En cuanto tiempo consideras estrenar vivienda?</h1>
                <hr class="white">
            </div>
            <div class="row text-center inline">
                <div class="checkblock text-center">
                    <input type="radio">
                    <div class="etiqueta">Inmediatamente</div>
                </div>
                <div class="checkblock  text-center">
                    <input type="radio">
                    <div class="etiqueta">Menos de 3 meses</div>
                </div>
                <div class="checkblock text-center">
                    <input type="radio">
                    <div class="etiqueta">Entre 3 y 6 meses</div>
                </div>
                <div class="checkblock text-center">
                    <input type="radio">
                    <div class="etiqueta">Entre 3 meses y un año</div>
                </div>
                <div class="checkblock text-center">
                    <input type="radio">
                    <div class="etiqueta">Solo estoy mirando</div>
                </div>
            </div>
    
        </div>
    
    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(2);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(4);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 4 -->
    <!-- Wizard 5 -->
    <div id="wizard4" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 82%">
                    <span class="progress-meter-text">5 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">Barranquilla</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Por cual medio prefieres ser contactado?</h1>
            <hr class="white">
            <fieldset>
                <div class="opcion text-center">
                    <div class="opcion-seleccion">
                        <input id="casas" type="checkbox"><label for="casas"><img src="/assets/images/icon-email.png"alt="Casas"></label>
                    </div>
                    <div class="item">Email</div>
                </div>
                <div class="opcion text-center">
                    <div class="opcion-seleccion">
                        <input id="casas" type="checkbox"><label for="casas"><img src="/assets/images/icon-wsap.png"alt="Casas"></label>
                    </div>
                    <div class="item">Whatsapp</div>
                </div>
                <div class="opcion text-center">
                    <div class="opcion-seleccion">
                        <input id="casas" type="checkbox"><label for="casas"><img src="/assets/images/icon-phone.png"alt="Casas"></label>
                    </div>
                    <div class="item">Teléfono o celular</div>
                </div>
            </fieldset>
    
        </div>
    
    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(3);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(5);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 5 -->
    <!-- Wizard 6 -->
    <div id="wizard5" style="display: none;">
        <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 100%">
                    <span class="progress-meter-text">6 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">Barranquilla</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
        </div>
        <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">Déjanos tus datos para poder ayudarte en tu búsqueda de vivienda</h1>
            <hr class="white">
            <div class="container-form">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="text" placeholder="Email">
                <div class="text-left terminos">
                    <div>
                        <input id="checkbox1" type="checkbox"><label for="right-label" class="text-left">Declaro
                            haber leido los <a href="#">Términos de privacidad</a> y estar conforme con los
                            mismos.</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr class="white">
        <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="closeWizard();">Enviar</button>
        </div>
        <div class="inline">
            <button class="button" (click)="closeWizard();">Lo enviaré despues</button>
        </div>
        </div>
    </div>
</form>
<!-- Fin wizard 6 -->
<!-- </div> -->