
// #welcomeModal {
//   display: none !important;
// }


.image-container-wizard-0 img {
  width: 250px;
  height: 280px;
  margin: 10px;
}

.footer-wizard {
  position: relative;
  bottom: 0;
  font-style: italic;
  font-size: 0.6rem;
  color: #c5c5c5;
  width: 63em;
  margin: 0% 25%;
}

.container-info-wizard-0 {
  margin-top: -50%;
}

.wizard-progress-bar {
  border-radius: 1em;
  height: 20%;

  .progress-meter {
    background-color: #a9d13a;
    border-radius: 1em;
  }
}


.radio_item-wizard {
  display: none !important;
}

.radio_item-wizard:checked+label {
  opacity: 1;

  .wizard-option {
    background-color: #a9d13a !important;
  }

  .label_item-wizard-square {
    background-color: #14444E !important;
  }

  .wizard-option-square {
    background-color: #14444E !important;

    i {
      color: #a9d13a;
    }
  }

  .top-select-option {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 14px;
    border-bottom-width: 0px;
    border-color: #a9d13a transparent transparent transparent;
    margin-left: 40%;
    position: relative;
    top: -45%;
    margin-bottom: -14%;
  }
}

.label-item-wizard {
  opacity: 0.1;
  cursor: pointer;
}

.wizard-option {
  border: 1px solid #3a6269;
  border-radius: 10px;
  position: relative;
  padding: 5px 39px 0 39px;
  font-size: 2em;
  line-height: initial;
  width: 100%;
  height: 40px;
  color: #3a6269;
  font-weight: bolder;
}

.label_item-wizard {
  border-radius: 10px;
  position: static;
  font-size: 13px;
  line-height: initial;
  height: 43px;
}

.label-item-wizard-top {
  opacity: 0.1;
  cursor: pointer;
}

.wizard-option-top {
  position: relative;
  font-size: 1.4em;
  line-height: initial;
  width: 100%;
  height: 40px;
  color: #3a6269;
  font-weight: bolder;
}

.label_item-wizard-top {
  border-radius: 10px;
  position: static;
  font-size: 11px;
  line-height: initial;
  height: 43px;
}

.container-wizard-options-top {
  display: flex;
  padding-bottom: 10%;
}

.wizard-option-square {
  border-radius: 10px;
  position: relative;
  font-size: 10px;
  line-height: initial;
  height: 10em;
  padding-top: 2em;
  width: 10em;

  i {
    font-size: 5em;
    color: #ffff;
  }
}

.label_item-wizard-square {
  border-radius: 10px;
  position: relative;
  font-size: 10px;
  line-height: initial;
  height: 10em;
  width: 10em;
  padding-top: 0em;
  background-color: #89a2a6;
}

.privacyTerms {
  height: 3em;
  overflow-y: scroll;
  font-size: 0.75em;
  margin-bottom: 2em;
}

.privacyTermCheck {
  display: flex;
}

.text-option-square {
  font-size: 2em;
  margin-bottom: 2em;
}
