<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  template="<img src='/assets/images/logo-ev.png' />"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<!-- <div class="reveal" id="welcomeModal" data-reveal> -->
<!-- wizard 1 -->
<form [formGroup]="form">
    <!-- Wizard 0 -->
    <div id="wizard0" >
        <div class="row columns ">
            <hr class="white">
                <div class="logo text-center">
                    <a href="/"><img src="/assets/images/logo-ev.png"></a>
                </div>
                <hr class="white">
                <h1 class="deco text-center">Bienvenido a Estrenar Vivienda</h1>
                <hr class="white">
            </div>
            <div class="row columns ">
                <hr class="white">
                <div class="medium-3 medium-offset-3 columns">
                    <div class="bannernews">
                        <img src="/assets/images/asesoria.jpg" alt="" class="fondo">
                        <div class="info">
                            <div class="cta mb1">Quiero recibir ayuda para buscar vivienda</div>
                            <a (click)="changeStepWizard(1);" class="button secondary">Quiero asesoría</a>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns end">
                    <div class="bannernews">
                        <img src="/assets/images/busqueda.jpg" alt="" class="fondo">
                        <div class="info">
                            <div class="cta mb1">Quiero recibir ayuda para buscar vivienda</div>
                            <a href="/" class="button secondary">Realizar búsqueda</a>
                        </div>
                    </div>
                </div>
                <hr class="white">
            </div>
            <hr class="white">
    </div>
    <!-- Fin wizard 0 -->
    <!-- Wizard 1 -->
    <div id="wizard1" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 16%">
                    <span class="progress-meter-text">1 de 6</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
        <hr class="white">
        <h1 class="deco">¿Dónde estas buscando?</h1>
        <hr class="white">
        <div class="">
            <ng-autocomplete
                [data]="arrayOptions"
                [searchKeyword]="keyword"
                (selected)='selectEvent($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <hr class="white">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(2);">Siguiente</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Fin wizard 1 -->
    <!-- Wizard 2 -->
    <div id="wizard2" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 32%">
                    <span class="progress-meter-text">2 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">{{searchPlaceName}}</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Cuál es tu presupuesto de compra?</h1>
            <hr class="white">
            <p>Presupuesto de compra</p>
            <!-- <div class="row">
                <div class="salida">Desde $<span><input type="number" name="budget_from" formControlName="budget_from" id="sliderOutput1"></span>hasta $<span><input
                    name="budget_to" formControlName="budget_to" type="number" id="sliderOutput2"></span></div>
            </div> -->
            <div class="row">
                <hr class="white">
                <div class="rango">
                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                </div>
            </div>
            <div class="inline">
                <button class="button" (click)="changeStepWizard(1);">Anterior</button>
            </div>
            <div class="inline">
                <button class="button" (click)="changeStepWizard(3);">Siguiente</button>
            </div>

        </div>

    </div>
    </div>
    <!-- Fin wizard 2 -->
    <!-- Wizard 3 -->
    <div id="wizard3" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 48%">
                    <span class="progress-meter-text">3 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">{{searchPlaceName}}</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Vas a comprar con subsidio?</h1>
            <hr class="white">
            <div class="row text-center diblock">
                <div class="opcion text-center">
                    <div class="opcion-seleccion boton" *ngFor="let option of responseSubsidioData">
                        <input id="casas" name="subsidy" formControlName="subsidy" type="radio" value="{{option.drupal_internal__tid}}"><label for="casas">{{option.name}}</label>
                    </div>
                </div>
                <!-- <div class="opcion text-center">
                    <div class="opcion-seleccion boton">
                        <input id="casas" type="checkbox"><label for="casas">NO</label>
                    </div>
                </div> -->
            </div>

        </div>

    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(2);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(4);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 3 -->
    <!-- Wizard 4 -->
    <div id="wizard4" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 64%">
                    <span class="progress-meter-text">4 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">{{searchPlaceName}}</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-10 medium-offset-1 columns">
            <div class="row">
                <hr class="white">
                <h1 class="deco">¿En cuánto tiempo consideras estrenar vivienda?</h1>
                <hr class="white">
            </div>
            <div class="row text-center inline">
                <div class="checkblock text-center" *ngFor="let option of responseTiempoData">
                    <input type="radio" name="waitTime" formControlName="waitTime" value="{{option.drupal_internal__tid}}">
                    <div class="etiqueta">{{option.name}}</div>
                </div>
            </div>

        </div>

    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(3);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(5);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 4 -->
    <!-- Wizard 5 -->
    <div id="wizard5" style="display: none;">
    <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 82%">
                    <span class="progress-meter-text">5 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">{{searchPlaceName}}</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
    </div>
    <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">¿Por cual medio prefieres ser contactado?</h1>
            <hr class="white">
            <fieldset>
                <div class="opcion text-center" *ngFor="let option of responseContactadoData">
                    <div class="opcion-seleccion">
                        <input id="casas" name="contactType" formControlName="contactType" type="radio" value="{{option.drupal_internal__tid}}"><label for="casas"><img src="/assets/images/icon-email.png"alt="Casas"></label>
                    </div>
                    <div class="item">{{option.name}}</div>
                </div>
            </fieldset>

        </div>

    </div>
    <hr class="white">
    <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="changeStepWizard(4);">Anterior</button>
        </div>
        <div class="inline">
            <button class="button" (click)="changeStepWizard(6);">Siguiente</button>
        </div>
    </div>
    </div>
    <!-- Fin wizard 5 -->
    <!-- Wizard 6 -->
    <div id="wizard6" style="display: none;">
        <div class="row columns">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <div class="logo text-center">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
            <hr class="white">
            <hr class="white">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="16" aria-valuemin="0"
                aria-valuetext="25 percent" aria-valuemax="100">
                <span class="progress-meter" style="width: 100%">
                    <span class="progress-meter-text">6 de 6</span>
                </span>
            </div>
            <div class="seleccion">
                <div class="item">{{searchPlaceName}}</div>
                <div class="item">$150.000.000</div>
            </div>
        </div>
        </div>
        <div class="row columns text-center">
        <div class="medium-8 medium-offset-2 columns">
            <hr class="white">
            <h1 class="deco">Déjanos tus datos para poder ayudarte en tu búsqueda de vivienda</h1>
            <hr class="white">
            <div class="container-form">
                <input type="text" name="name" formControlName="name" placeholder="Nombre">
                <input type="text" name="last_name" formControlName="last_name" placeholder="Apellido">
                <input type="number" name="phone" formControlName="phone" placeholder="Teléfono">
                <input type="text" name="email" formControlName="email" placeholder="Email" required>
                <div class="text-left terminos">
                    <div>
                        <select id="typeSearch" name="typeSearch" formControlName="typeSearch">
                            <option value="">Desea la vivienda para:</option>
                            <option *ngFor="let option of responseViviendaData; let i = index" [value]="option.drupal_internal__tid">{{option.name}}</option>
                        </select>
                        <!-- <input id="typeSearch" name="typeSearch" formControlName="typeSearch" type="radio" value="{{option.drupal_internal__tid}}"><label for="casas">{{option.name}}</label> -->
                    </div>
                    <div>
                        <input id="checkbox1" type="checkbox"><label for="right-label" class="text-left">Declaro
                            haber leido los <a href="#">Términos de privacidad</a> y estar conforme con los
                            mismos.</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr class="white">
        <div class="row text-center">
        <div class="inline">
            <button class="button" (click)="closeWizard(form.value)">Enviar</button>
        </div>
        <div class="inline">
            <button class="button" (click)="closeWizard(form.value);">Lo enviaré despues</button>
        </div>
        </div>
    </div>
</form>
<!-- Fin wizard 6 -->
<!-- </div> -->
