<div class="container-header" *ngIf='show_header == true && not_show_header == false'>
    <div class="full-w header">
        <div class="small-5 medium-1 columns">
            <div class="logo">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
        </div>
        <div class="medium-11 columns hide-for-small-only">
            <ul class="menu">
                <li>
                    <a href="/proyectos" id="goProject" alt="" title="">Proyectos</a>
                </li>
                <li>
                    <a href="/vis">Vivienda VIS</a>
                </li>
                <li>
                    <a href="/vacacionales">Vacacionales</a>
                </li>
                <li>
                    <a href="/constructoras">Constructoras</a>
                </li>
                <li>
                    <a href="herramientas">Herramientas</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li class="search"><input (change)="findByWord('desktop')" id="searchProjectsWord" class="hide" type="text" placeholder="Ciudad, Barrio, Sector">
                    <a (click)=(searchInput())><img src="/assets/images/search.png"></a>
                </li>
                <li>
                    <a href="{{path_user}}"><img src="/assets/images/user.png"></a>
                </li>
                <li>
                    <a href="{{path_favorites}}"><img src="/assets/images/fav.png"><span class="num_fav">{{number_favorites}}</span></a>
                </li>
            </ul>
        </div>
        <div class="small-2 columns show-for-small-only text-center">
            <div class="title-bar" data-responsive-toggle="responsive-nav-social" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
            </div>
        </div>
        <div class="small-5 columns show-for-small-only text-right">
            <ul class="menu mobile">
                <li>
                    <a id="searchBton" (click)="showSearchInput()"><img src="/assets/images/search.png"></a>
                </li>
                <li>
                    <a id="closButtonHeader" (click)="closeSearchView()" class="hide"><img height="30px" width="30px" src="/assets/images/close.png"></a>
                </li>
                <li>
                    <a href="favoritos"><img src="/assets/images/fav.png"><span class="num_fav"></span></a>
                </li>
            </ul>
        </div>
    </div>

    <!--Fin menu -->
    <div class="row columns text-center block-search mtopMHome">
        <p class="title-home">Te ayudamos a encontrar tu lugar ideal</p>
        <div>
          <div class="row condensed">
              <div class="medium-7 medium-offset-1 columns">
                  <div class="buscador">
                      <img class="search img-search" src="/assets/images/search.png">
                      <input (focus)="onFocusSearch()" (focusout)="onFocusOutSearch()" id="searchWord" type="search" placeholder="¿Qué estás buscando?" />
                  </div>
              </div>
              <div class="medium-2 columns">
                <select id="mySelect" (change)='onOptionsSelected($event)' name="price" *ngIf="filterPrice && filterPrice.length > 0">
                    <option value="">Precio</option>
                    <option id="price_val" *ngFor="let price of filterPrice; let i = index" [value]="price.url">{{price.values.value }}</option>
                </select>
              </div>
              <div class="medium-2 columns end">
                  <a (click)=(searchWord()) class="button expanded secondary bton-search-home">Buscar</a>
              </div>
          </div>
        </div>
    </div>
    <div class="slider-header">
        <div class="banner-home" *ngFor='let img of bannersImg'>
            <img class="img-home-banner" [src]="img.image" alt="">
        </div>
    </div>
</div>

<div class="container-header-white " *ngIf='show_white_header == true && not_show_header == false'>
    <div class="full-w header">
        <div class="small-5 medium-1 columns">
            <div class="logo">
                <a href="/"><img src="/assets/images/logo-ev.png"></a>
            </div>
        </div>
        <div class="medium-11 columns hide-for-small-only">
            <ul class="menu">
                <li>
                    <a href="proyectos" alt="" title="">Proyectos</a>
                </li>
                <li>
                    <a href="vis">Vivienda VIS</a>
                </li>
                <li>
                    <a href="vacacionales">Vacacionales</a>
                </li>
                <li>
                    <a href="constructoras">Constructoras</a>
                </li>
                <li>
                    <a href="herramientas">Herramientas</a>
                </li>
                <li>
                    <a href="blog">Blog</a>
                </li>
                <li class="search"><input (change)="findByWord('desktop')" id="searchProjectsWord" class="hide" type="text" placeholder="Ciudad, Barrio, Sector">
                    <a (click)=(searchInput())><img src="/assets/images/search.png"></a>
                </li>
                <li>
                    <a href="{{path_user}}"><img src="/assets/images/user.png"></a>
                </li>
                <li>
                    <a href="{{path_favorites}}"><img src="/assets/images/fav.png"><span class="num_fav">{{number_favorites}}</span></a>
                </li>
            </ul>
        </div>
        <div class="small-2 columns show-for-small-only text-center">
          <div class="title-bar" data-responsive-toggle="responsive-nav-social" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
          </div>
        </div>
        <div class="small-5 columns show-for-small-only text-right">
            <ul class="menu mobile">
                <li>
                    <a id="searchBton" (click)="showSearchInput()"><img src="/assets/images/search.png"></a>
                </li>
                <li>
                  <a id="closButtonHeader" (click)="closeSearchView()" class="hide"><img height="30px" width="30px" src="/assets/images/close.png"></a>
                </li>
                <li>
                    <a href="{{path_favorites}}"><img src="/assets/images/fav.png"><span class="num_fav">{{number_favorites}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
  <div id="responsive-nav-social" class="show-for-small-only">
    <ul class="vertical menu accordion-menu" data-accordion-menu>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
          <a href="/proyectos" id="goProject" alt="" title="">Proyectos</a>
      </li>
      <li>
          <a href="/vis">Vivienda VIS</a>
      </li>
      <li>
          <a href="/vacacionales">Vacacionales</a>
      </li>
      <li>
          <a href="/constructoras">Constructoras</a>
      </li>
      <li>
          <a href="herramientas">Herramientas</a>
      </li>
      <li>
          <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="{{path_user}}"><img src="/assets/images/user.png"> Iniciar sesión</a>
      </li>
    </ul>
  </div>
  <div id="responsive-search-input" class="hide row columns">
    <div class="buscador">
      <img class="search" src="/assets/images/search.png">
      <input (change)="findByWord('mobile')" id="searchProjectsWordMobile" type="text" placeholder="Ciudad, Barrio, Sector">
    </div>
  </div>
</div>

<!-- </ng-template> -->
