/************************************************************
* Estilos barra de navegación                               *
*************************************************************/
.icon-search-style {
  color: #a9d13a;
  font-size: 2rem;
  position: relative;
  margin-left: -3rem;
  -webkit-transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  -o-transform: rotate(280deg);
  transform: rotate(280deg);
}

.icon-topbar-style {
  color: #a9d13a;
  font-size: 2rem;
  padding: 1rem;
}

.top-bar {
  background-color: blue($color: #000000);
}
