<div class="container-header" *ngIf='show_header == true && not_show_header == false'>
  <div class="full-w header">
      <div class="small-3 columns">
        <div class="logo">
            <a href="/"><img src="/assets/images/logo-ev.png"></a>
        </div>
      </div>
      <div class="medium-9 columns hide-for-small-only">
        <ul class="menu">
          <li>
          <a href="/proyectos" alt="" title="">Proyectos</a>
          </li>
          <li>
          <a href="/vis">Vivienda VIS</a>
          </li>
          <li>
            <a href="#">Vacacionales</a>
            </li>
          <li>
          <a href="/constructoras">Constructoras</a>
          </li>
          <li>
            <a href="herramientas">Herramientas</a>
          </li>
          <li>
          <a href="/blog">Blog</a>
          </li>
          <li><a href="#"><img src="/assets/images/search.png"></a></li>
          <li><a href="{{path_user}}"><img src="/assets/images/user.png"></a></li>
          <li><a href="favoritos"><img src="/assets/images/fav.png"><span class="num_fav">2</span></a></li>
        </ul>
      </div>
  </div>
  
    <!--Fin menu -->
  <div class="row columns text-center">
    <h1>Te ayudamos a encontrar tu lugar ideal</h1>
    <div>
      <form action="">
          <div class="row condensed">
            <div class="medium-6 medium-offset-1 columns">
              <div class="buscador">
                <img class="search" src="/assets/images/search.png">
                <input type="search" placeholder="¿Qué estás buscando?" />
              </div>
            </div>
            <div class="medium-2 columns">
              <select name="precio" id="precio">
              <option value="">Precio</option>
              </select>
            </div>
            <div class="medium-2 columns end">
              <a href="#" class="button expanded secondary">Buscar</a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<div class="container-header-white" *ngIf='show_white_header == true && not_show_header == false'>
  <div class="full-w header">
      <div class="small-2 columns">
          <div class="logo">
              <a href="/"><img src="/assets/images/logo-ev.png"></a>
          </div>
      </div>
      <div class="medium-10 columns hide-for-small-only">
          <ul class="menu">
              <li>
                  <a href="proyectos" alt="" title="">Proyectos</a>
              </li>
              <li>
                  <a href="vis">Vivienda VIS</a>
              </li>
              <li>
                <a href="#">Vacacionales</a>
            </li>
              <li>
                  <a href="constructoras">Constructoras</a>
              </li>
              <li>
                  <a href="herramientas">Herramientas</a>
              </li>
              <li>
                  <a href="blog">Blog</a>
              </li>
              <li><a href="#"><img src="/assets/images/search.png"></a></li>
              <li><a href="{{path_user}}"><img src="/assets/images/user.png"></a></li>
              <li><a href="favoritos"><img src="/assets/images/fav.png"><span class="num_fav">2</span></a></li>
          </ul>
      </div>
  </div>

</div>

