<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell large-12 medium-12 small-12">
      <h2>Comparador</h2>
    </div>
    <div class="cell large-12 medium-12 small-12">
      <table class="scroll-table text-center unstriped">
        <thead>
          <tr>
            <th>
            </th>
            <th width="20%">
              <div class="card text-center">
                <div class="card-section">
                  <h5>Parque Central de Occidente</h5>
                </div>
                <img class="image-comparator" src="https://placehold.it/1920x1080/?text=Card-1">
                <div class="card-section">
                  <div class="grid-x cell large-12 medium-12 small-12">
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-mail"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4 show-for-small-only">
                      <i class="fi-telephone"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-cloud"></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th width="20%">
              <div class="card text-center">
                <div class="card-section">
                  <h5>Parque Central de Occidente</h5>
                </div>
                <img class="image-comparator" src="https://placehold.it/1920x1080/?text=Card-1">
                <div class="card-section">
                  <div class="grid-x cell large-12 medium-12 small-12">
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-mail"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4 show-for-small-only">
                      <i class="fi-telephone"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-cloud"></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th width="20%">
              <div class="card text-center">
                <div class="card-section">
                  <h5>Parque Central de Occidente</h5>
                </div>
                <img class="image-comparator" src="https://placehold.it/1920x1080/?text=Card-1">
                <div class="card-section">
                  <div class="grid-x cell large-12 medium-12 small-12">
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-mail"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4 show-for-small-only">
                      <i class="fi-telephone"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-cloud"></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th width="20%">
              <div class="card text-center">
                <div class="card-section">
                  <h5>Parque Central de Occidente</h5>
                </div>
                <img class="image-comparator" src="https://placehold.it/1920x1080/?text=Card-1">
                <div class="card-section">
                  <div class="grid-x cell large-12 medium-12 small-12">
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-mail"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4 show-for-small-only">
                      <i class="fi-telephone"></i>
                    </div>
                    <div class="cell large-4 medium-4 small-4">
                      <i class="fi-cloud"></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><i class="fi-dollar"></i> Precio</th>
            <td class="stat bold">$129.000.000</td>
            <td class="stat bold">$129.000.000</td>
            <td class="stat bold">$129.000.000</td>
            <td class="stat bold">$129.000.000</td>
          </tr>
          <tr>
            <th><i class="fi-marker"></i> Ubicaci&oacute;n</th>
            <td>Bogot&aacute;, Cedritos</td>
            <td>Bogot&aacute;, Cedritos</td>
            <td>Bogot&aacute;, Cedritos</td>
            <td>Bogot&aacute;, Cedritos</td>
          </tr>
          <tr>
            <th><i class="fi-home"></i> Tipo de vivienda</th>
            <td>VIS</td>
            <td>VIS</td>
            <td>VIS</td>
            <td>VIS</td>
          </tr>
          <tr>
            <th><i class="fi-map"></i> Estado</th>
            <td>Sobre Planos</td>
            <td>Sobre Planos</td>
            <td>Sobre Planos</td>
            <td>Sobre Planos</td>
          </tr>
          <tr>
            <th><i class="fi-home"></i> Tipo</th>
            <td>Apartamento</td>
            <td>Apartamento</td>
            <td>Apartamento</td>
            <td>Apartamento</td>
          </tr>
          <tr>
            <th><i class="fi-ticket"></i> &Aacute;rea</th>
            <td>65 m<sup>2</sup></td>
            <td>65 m<sup>2</sup></td>
            <td>65 m<sup>2</sup></td>
            <td>65 m<sup>2</sup></td>
          </tr>
          <tr>
            <th><i class="fi-address-book"></i> Alcobas</th>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <th><i class="fi-address-book"></i> Ba&ntilde;os</th>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
          </tr>
          <tr>
            <th><i class="fi-address-book"></i> Garajes</th>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <th><i class="fi-address-book"></i> Acabados</th>
            <td>Con acabados</td>
            <td>Con acabados</td>
            <td>Con acabados</td>
            <td>Con acabados</td>
          </tr>
          <tr>
            <th><i class="fi-address-book"></i> Estrato</th>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
