<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  template="<img src='/assets/images/logo-ev.png' />"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div class="row columns">
  <div class="hide-for-small-only">
    <h1>Comparador</h1>
  </div>
  <div class="text-center show-for-small-only">
    <h1>Comparador</h1>
  </div>
</div>
<div class="row columns">
  <div class="comparador">
      <div class="medium-2 small-5 columns hide-for-small-only" style="{{stylesText}}" *ngIf="response_data_project[0]">
          <div class="encabezados" style="{{ marginTop }}">
              <div class="item"><img src="/assets/images/ic-precio.jpg" alt="" class="ico">Precio</div>
              <div class="item"><img src="/assets/images/ic-ubicacion.jpg" alt="" class="ico">Ubicacion</div>
              <div class="item"><img src="/assets/images/ic-vivienda.jpg" alt="" class="ico">Vivienda</div>
              <div class="item"><img src="/assets/images/ic-estado.jpg" alt="" class="ico">Estado</div>
              <div class="item"><img src="/assets/images/ic-tipo.jpg" alt="" class="ico">Tipo</div>
              <div class="item"><img src="/assets/images/ic-area.jpg" alt="" class="ico">Área</div>
              <div class="item"><img src="/assets/images/ic-alcobas.jpg" alt="" class="ico">Alcobas</div>
              <div class="item"><img src="/assets/images/ic-water.jpg" alt="" class="ico">Baños</div>
              <div class="item"><img src="/assets/images/ic-garajes.jpg" alt="" class="ico">Garajes</div>
              <div class="item"><img src="/assets/images/ic-acabados.jpg" alt="" class="ico">Acabados</div>
              <div class="item"><img src="/assets/images/ic-estrato.jpg" alt="" class="ico">Estrato</div>
          </div>
      </div>
      <div class="medium-2 small-5 columns show-for-small-only mgTopComparator" *ngIf="response_data_project[0]">
          <div class="encabezados">
              <div class="item"><img src="/assets/images/ic-precio.jpg" alt="" class="ico">Precio</div>
              <div class="item"><img src="/assets/images/ic-ubicacion.jpg" alt="" class="ico">Ubicacion</div>
              <div class="item"><img src="/assets/images/ic-vivienda.jpg" alt="" class="ico">Vivienda</div>
              <div class="item"><img src="/assets/images/ic-estado.jpg" alt="" class="ico">Estado</div>
              <div class="item"><img src="/assets/images/ic-tipo.jpg" alt="" class="ico">Tipo</div>
              <div class="item"><img src="/assets/images/ic-area.jpg" alt="" class="ico">Área</div>
              <div class="item"><img src="/assets/images/ic-alcobas.jpg" alt="" class="ico">Alcobas</div>
              <div class="item"><img src="/assets/images/ic-water.jpg" alt="" class="ico">Baños</div>
              <div class="item"><img src="/assets/images/ic-garajes.jpg" alt="" class="ico">Garajes</div>
              <div class="item"><img src="/assets/images/ic-acabados.jpg" alt="" class="ico">Acabados</div>
              <div class="item"><img src="/assets/images/ic-estrato.jpg" alt="" class="ico">Estrato</div>
          </div>
      </div>
      <div class="medium-10 small-7 columns">
          <div class="row hide-for-small-only">
              <div class="proyecto text-center">
                  <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[0]">
                      <div id="title"><a href="{{response_data_project[0].url}}">{{ response_data_project[0].project }}</a></div>
                      <div id="foto">
                          <span (click)="removeCompare(response_data_project[0].nid);">
                            <div class="container-foto">
                              <a href="{{response_data_project[0].url}}"><img [src]="url_img_path + response_data_project[0].typology_images" alt="" class="proyecto {{imgStyle}}"></a>
                            </div>
                          </span>
                          <div class="row contact-bton-comparator">
                            <div id="contact-btn" class="columns">
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="tools"></div>
                      <div id="precio">$ {{ response_data_project[0].typology_price }}</div>
                      <hr>
                      <div id="ubicacion">{{ response_data_project[0].project_city }}, {{ response_data_project[0].project_zone }}</div>
                      <hr>
                      <div id="vivienda">{{ response_data_project[0].project_category }}</div>
                      <hr>
                      <div id="estado">{{ response_data_project[0].project_feature_status }}</div>
                      <hr>
                      <div id="tipo">{{ response_data_project[0].property_type }}</div>
                      <hr>
                      <div id="area">{{ response_data_project[0].area_built }} m²</div>
                      <hr>
                      <div id="albobas">{{ response_data_project[0].bedrooms }}</div>
                      <hr>
                      <div id="water">{{ response_data_project[0].bathrooms }}</div>
                      <hr>
                      <div id="garajes">{{ response_data_project[0].garages }}</div>
                      <hr>
                      <div id="acabados">{{ response_data_project[0].finishes }}</div>
                      <hr>
                      <div id="estrato">{{ response_data_project[0].project_feature_stratum }}</div>
                      <hr>
                  </div>
                  <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[1]">
                      <div id="title"><a href="{{ response_data_project[1].url }}">{{ response_data_project[1].project }}</a></div>
                      <div id="foto">
                        <span (click)="removeCompare(response_data_project[1].nid);" class="">
                          <div class="container-foto">
                            <a href="{{ response_data_project[1].url }}"><img [src]="url_img_path + response_data_project[1].typology_images" alt="" class="proyecto {{imgStyle}}">
                            </a>
                          </div>
                        </span>
                        <div class="row contact-bton-comparator">
                          <div id="contact-btn" class="columns">
                            <div class="medium-4 columns">
                              <div class="ev--bots--whatsapp">
                                <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                  <img src="/assets/images/wsap.png">
                                </a>
                              </div>
                            </div>
                            <div class="medium-4 columns">
                              <div class="ev--bots--whatsapp">
                                <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                  <img src="/assets/images/wsap.png">
                                </a>
                              </div>
                            </div>
                            <div class="medium-4 columns">
                              <div class="ev--bots--whatsapp">
                                <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                  <img src="/assets/images/wsap.png">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tools"></div>
                      <div id="precio">$ {{ response_data_project[1].typology_price }}</div>
                      <hr>
                      <div id="ubicacion">{{ response_data_project[1].project_city }}, {{ response_data_project[1].project_zone }}</div>
                      <hr>
                      <div id="vivienda">{{ response_data_project[1].project_category }}</div>
                      <hr>
                      <div id="estado">{{ response_data_project[1].project_feature_status }}</div>
                      <hr>
                      <div id="tipo">{{ response_data_project[1].property_type }}</div>
                      <hr>
                      <div id="area">{{ response_data_project[1].area_built }} m²</div>
                      <hr>
                      <div id="albobas">{{ response_data_project[1].bedrooms }}</div>
                      <hr>
                      <div id="water">{{ response_data_project[1].bathrooms }}</div>
                      <hr>
                      <div id="garajes">{{ response_data_project[1].garages }}</div>
                      <hr>
                      <div id="acabados">{{ response_data_project[1].finishes }}</div>
                      <hr>
                      <div id="estrato">{{ response_data_project[1].project_feature_stratum }}</div>
                      <hr>
                  </div>
                  <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[2]">
                      <div id="title"><a href="{{ response_data_project[2].url }}">{{ response_data_project[2].project }}</a></div>
                      <div id="foto">
                          <span (click)="removeCompare(response_data_project[2].nid);" class="">
                            <div class="container-foto">
                                  <a href="{{ response_data_project[2].url }}"><img [src]="url_img_path + response_data_project[2].typology_images" alt=""
                                        class="proyecto {{imgStyle}}"></a>
                            </div>
                          </span>
                          <div class="row contact-bton-comparator">
                            <div id="contact-btn" class="columns">
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="tools"></div>
                      <div id="precio">$ {{ response_data_project[2].typology_price }}</div>
                      <hr>
                      <div id="ubicacion">{{ response_data_project[2].project_city }}, {{ response_data_project[2].project_zone }}</div>
                      <hr>
                      <div id="vivienda">{{ response_data_project[2].project_category }}</div>
                      <hr>
                      <div id="estado">{{ response_data_project[2].project_feature_status }}</div>
                      <hr>
                      <div id="tipo">{{ response_data_project[2].property_type }}</div>
                      <hr>
                      <div id="area">{{ response_data_project[2].area_built }} m²</div>
                      <hr>
                      <div id="albobas">{{ response_data_project[2].bedrooms }}</div>
                      <hr>
                      <div id="water">{{ response_data_project[2].bathrooms }}</div>
                      <hr>
                      <div id="garajes">{{ response_data_project[2].garages }}</div>
                      <hr>
                      <div id="acabados">{{ response_data_project[2].finishes }}</div>
                      <hr>
                      <div id="estrato">{{ response_data_project[2].project_feature_stratum }}</div>
                      <hr>
                  </div>
                  <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[3]">
                      <div id="title"><a href="{{ response_data_project[3].url }}">{{ response_data_project[3].project }}</a></div>
                      <div id="foto">
                          <span (click)="removeCompare(response_data_project[3].nid);" class="">
                            <div class="container-foto">
                                <a href="{{ response_data_project[3].url }}"><img [src]="url_img_path + response_data_project[3].typology_images" alt=""
                                class="proyecto {{imgStyle}}"></a>
                            </div>
                          </span>
                          <div class="row contact-bton-comparator">
                            <div id="contact-btn" class="columns">
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                              <div class="medium-4 columns">
                                <div class="ev--bots--whatsapp">
                                  <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                    <img src="/assets/images/wsap.png">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="tools"></div>
                      <div id="precio">$ {{ response_data_project[3].typology_price }}</div>
                      <hr>
                      <div id="ubicacion">{{ response_data_project[3].project_city }}, {{ response_data_project[3].project_zone }}</div>
                      <hr>
                      <div id="vivienda">{{ response_data_project[3].project_category }}</div>
                      <hr>
                      <div id="estado">{{ response_data_project[3].project_feature_status }}</div>
                      <hr>
                      <div id="tipo">{{ response_data_project[3].property_type }}</div>
                      <hr>
                      <div id="area">{{ response_data_project[3].area_built }} m²</div>
                      <hr>
                      <div id="albobas">{{ response_data_project[3].bedrooms }}</div>
                      <hr>
                      <div id="water">{{ response_data_project[3].bathrooms }}</div>
                      <hr>
                      <div id="garajes">{{ response_data_project[3].garages }}</div>
                      <hr>
                      <div id="acabados">{{ response_data_project[3].finishes }}</div>
                      <hr>
                      <div id="estrato">{{ response_data_project[3].project_feature_stratum }}</div>
                      <hr>
                  </div>
              </div>
          </div>
          <div class="row show-for-small-only">
              <div class="proyecto text-center">
                <ul class="row-tags-filters">
                  <li class="tags-mobile-filters">
                    <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[0]">
                        <div id="title"><a href="{{response_data_project[0].url}}">{{ response_data_project[0].project }}</a></div>
                        <div id="foto">
                            <div class="container-foto">
                                <span (click)="removeCompare(response_data_project[0].nid);">
                                  <a href="{{response_data_project[0].url}}"><img [src]="url_img_path + response_data_project[0].typology_images" alt=""
                                  class="proyecto img-comparator"></a></span>
                            </div>
                            <div class="row contact-bton-comparator">
                              <div id="contact-btn" class="columns">
                                <div class="small-4 medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="small-4 medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="small-4 medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tools"></div>
                        <div id="precio">$ {{ response_data_project[0].typology_price }}</div>
                        <hr>
                        <div id="ubicacion">{{ response_data_project[0].project_city }}, {{ response_data_project[0].project_zone }}</div>
                        <hr>
                        <div id="vivienda">{{ response_data_project[0].project_category }}</div>
                        <hr>
                        <div id="estado">{{ response_data_project[0].project_feature_status }}</div>
                        <hr>
                        <div id="tipo">{{ response_data_project[0].property_type }}</div>
                        <hr>
                        <div id="area">{{ response_data_project[0].area_built }} m²</div>
                        <hr>
                        <div id="albobas">{{ response_data_project[0].bedrooms }}</div>
                        <hr>
                        <div id="water">{{ response_data_project[0].bathrooms }}</div>
                        <hr>
                        <div id="garajes">{{ response_data_project[0].garages }}</div>
                        <hr>
                        <div id="acabados">{{ response_data_project[0].finishes }}</div>
                        <hr>
                        <div id="estrato">{{ response_data_project[0].project_feature_stratum }}</div>
                        <hr>
                    </div>
                  </li>
                  <li class="tags-mobile-filters">
                    <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[1]">
                          <div id="title"><a href="{{ response_data_project[1].url }}">{{ response_data_project[1].project }}</a></div>
                          <div id="foto">
                              <div class="container-foto">
                                  <span (click)="removeCompare(response_data_project[1].nid);" class=""><a href="{{ response_data_project[1].url }}"><img [src]="url_img_path + response_data_project[1].typology_images" alt=""
                                          class="proyecto img-comparator"></a></span>
                              </div>
                              <div class="row contact-bton-comparator">
                                <div id="contact-btn" class="columns">
                                  <div class="medium-4 columns">
                                    <div class="ev--bots--whatsapp">
                                      <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                        <img src="/assets/images/wsap.png">
                                      </a>
                                    </div>
                                  </div>
                                  <div class="medium-4 columns">
                                    <div class="ev--bots--whatsapp">
                                      <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                        <img src="/assets/images/wsap.png">
                                      </a>
                                    </div>
                                  </div>
                                  <div class="medium-4 columns">
                                    <div class="ev--bots--whatsapp">
                                      <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                        <img src="/assets/images/wsap.png">
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="tools"></div>
                          <div id="precio">$ {{ response_data_project[1].typology_price }}</div>
                          <hr>
                          <div id="ubicacion">{{ response_data_project[1].project_city }}, {{ response_data_project[1].project_zone }}</div>
                          <hr>
                          <div id="vivienda">{{ response_data_project[1].project_category }}</div>
                          <hr>
                          <div id="estado">{{ response_data_project[1].project_feature_status }}</div>
                          <hr>
                          <div id="tipo">{{ response_data_project[1].property_type }}</div>
                          <hr>
                          <div id="area">{{ response_data_project[1].area_built }} m²</div>
                          <hr>
                          <div id="albobas">{{ response_data_project[1].bedrooms }}</div>
                          <hr>
                          <div id="water">{{ response_data_project[1].bathrooms }}</div>
                          <hr>
                          <div id="garajes">{{ response_data_project[1].garages }}</div>
                          <hr>
                          <div id="acabados">{{ response_data_project[1].finishes }}</div>
                          <hr>
                          <div id="estrato">{{ response_data_project[1].project_feature_stratum }}</div>
                          <hr>
                    </div>
                  </li>
                  <li class="tags-mobile-filters">
                    <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[2]">
                        <div id="title"><a href="{{ response_data_project[2].url }}">{{ response_data_project[2].project }}</a></div>
                        <div id="foto">
                            <div class="container-foto">
                                <span (click)="removeCompare(response_data_project[2].nid);" class=""><a href="{{ response_data_project[2].url }}"><img [src]="url_img_path + response_data_project[2].typology_images" alt=""
                                        class="proyecto img-comparator"></a></span>
                            </div>
                            <div class="row contact-bton-comparator">
                              <div id="contact-btn" class="columns">
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tools"></div>
                        <div id="precio">$ {{ response_data_project[2].typology_price }}</div>
                        <hr>
                        <div id="ubicacion">{{ response_data_project[2].project_city }}, {{ response_data_project[2].project_zone }}</div>
                        <hr>
                        <div id="vivienda">{{ response_data_project[2].project_category }}</div>
                        <hr>
                        <div id="estado">{{ response_data_project[2].project_feature_status }}</div>
                        <hr>
                        <div id="tipo">{{ response_data_project[2].property_type }}</div>
                        <hr>
                        <div id="area">{{ response_data_project[2].area_built }} m²</div>
                        <hr>
                        <div id="albobas">{{ response_data_project[2].bedrooms }}</div>
                        <hr>
                        <div id="water">{{ response_data_project[2].bathrooms }}</div>
                        <hr>
                        <div id="garajes">{{ response_data_project[2].garages }}</div>
                        <hr>
                        <div id="acabados">{{ response_data_project[2].finishes }}</div>
                        <hr>
                        <div id="estrato">{{ response_data_project[2].project_feature_stratum }}</div>
                        <hr>
                    </div>
                  </li>
                  <li class="tags-mobile-filters">
                    <div class="{{classRow}} data scroll-hori-mobile columns" *ngIf="response_data_project[3]">
                        <div id="title"><a href="{{ response_data_project[3].url }}">{{ response_data_project[3].project }}</a></div>
                        <div id="foto">
                            <div class="container-foto">
                                <span (click)="removeCompare(response_data_project[3].nid);" class=""><a href="{{ response_data_project[3].url }}"><img [src]="url_img_path + response_data_project[3].typology_images" alt=""
                                        class="proyecto img-comparator"></a></span>
                            </div>
                            <div class="row contact-bton-comparator">
                              <div id="contact-btn" class="columns">
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('email')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                                <div class="medium-4 columns">
                                  <div class="ev--bots--whatsapp">
                                    <a data-open="exampleModal2" (click)="activeAfterContact('phone')" id="ev-bots-whatsapp">
                                      <img src="/assets/images/wsap.png">
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tools"></div>
                        <div id="precio">$ {{ response_data_project[3].typology_price }}</div>
                        <hr>
                        <div id="ubicacion">{{ response_data_project[3].project_city }}, {{ response_data_project[3].project_zone }}</div>
                        <hr>
                        <div id="vivienda">{{ response_data_project[3].project_category }}</div>
                        <hr>
                        <div id="estado">{{ response_data_project[3].project_feature_status }}</div>
                        <hr>
                        <div id="tipo">{{ response_data_project[3].property_type }}</div>
                        <hr>
                        <div id="area">{{ response_data_project[3].area_built }} m²</div>
                        <hr>
                        <div id="albobas">{{ response_data_project[3].bedrooms }}</div>
                        <hr>
                        <div id="water">{{ response_data_project[3].bathrooms }}</div>
                        <hr>
                        <div id="garajes">{{ response_data_project[3].garages }}</div>
                        <hr>
                        <div id="acabados">{{ response_data_project[3].finishes }}</div>
                        <hr>
                        <div id="estrato">{{ response_data_project[3].project_feature_stratum }}</div>
                        <hr>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Modal de contacto -->
<div class="reveal text-center reveal-contact" id="exampleModal2" data-reveal>
    <h2>Contactar</h2>
    <form data-abide novalidate [formGroup]="form4">
        <div class="container-form">
            <span id="spanNameModal" class="error hide">
              Debe digitar un nombre de contacto
          </span>
            <input type="text" placeholder="Nombre" aria-errormessage="nameError" formControlName="name" name="name" required pattern="text">
            <span id="spannLastNameModal" class="error hide">
                  Debe digitar un apellido de contacto
              </span>
            <input type="text" placeholder="Apellido" aria-errormessage="lastnameError" formControlName="lastname" name="lastnanme" required pattern="text">
            <span id="spanEmailModal" class="error hide">
                  Debe digitar un correo de contacto valido
              </span>
            <input type="text" placeholder="Email" aria-errormessage="emailError" formControlName="email" name="email" required pattern="email">
            <span id="spanPhoneModal" class="error hide">
                  Debe digitar un n&uacute;mbre de contacto
              </span>
            <input type="text" placeholder="Teléfono" aria-errormessage="phoneError" formControlName="phone" name="phone" required>
            <span id="spanContactModal" class="error hide">
                  Debe seleccionar una opción
              </span>
            <select id="select" required formControlName="contact" name="contact">
              <option value="Deseas ser contactado">Deseas ser contactado v&iacute;a:</option>
              <option value="telefono">Tel&eacute;fonica</option>
              <option value="email">Correo Electr&oacute;nico</option>
              <option value="whatsapp">Whatsapp</option>
          </select>
            <span id="spanTypesearchModal" class="error hide">
              Debe seleccionar una opción
          </span>
            <fieldset class="text-left">
                <legend>Buscas vivienda para:</legend>
                <input type="radio" formControlName="typeSearch" name="typeSearch" value="habitar" id="houseForHabitar"><label for="">Habitar</label>
                <input type="radio" formControlName="typeSearch" name="typeSearch" value="invertir" id="houseForInvertir"><label for="">Invertir</label>
            </fieldset>

            <div class="text-left terminos">
                <span id="spanTermModal" class="error hide">
                  Debe aceptar los términos
              </span>
                <input id="checkbox1" type="checkbox" formControlName="term" name="term"><label for="right-label" class="text-left">Declaro
                  haber leído los <a href="/aviso-privacidad">Términos de privacidad</a> y estar conforme con los
                  mismos.</label>

            </div>
            <span href="" class="button secondary" (click)="onSubmitModal(form4.value)">Enviar</span>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Fin modal de contacto -->
<!-- Modal de gracias -->
<div class="reveal text-center" id="exampleModal1" data-reveal>
    <img src="/assets/images/logo-ev.png">
    <h2>¡Gracias!</h2>
    <p>Pronto te llegará toda la información a tu correo</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Fin modal gracias -->

<hr class="white">
