.project-images-card {
  width: 270px;
  height: 190px;
}

.link-category-project {
  border: 1px solid #1779ba;
  font-size: 0.4rem;
  font-weight: bolder;
  margin: 2px;
  border-radius: 8px;
  padding: 0.3rem;

  a {
    color: #1468a0;
  }
}

.body-card-project {
  color: #15454F;
}
