<div class="row columns text-center">
  <div class="publicidad">
      <img src="/assets/images/banner1.jpg" alt="">
  </div>
</div>
<div class="row columns">
  <div *ngIf="titleLabel; else titleDefaultTemplate">
      <h1>{{titleLabel}}</h1>
  </div>
  <ng-template #titleDefaultTemplate>
      <div>
          <h1>Proyectos {{wordLabel}}</h1>
      </div>
  </ng-template>
  <!--filtros-->
  <form [formGroup]="form_filters">
      <div class="filtros">

          <div class="row condensed">

              <div class="medium-2 columns">
                  <label>Tipo de inmueble
                  <select id="type" name="type" formControlName="type" (change)="change(form_filters.value)" [(ngModel)]="optionsTypySelected" *ngIf="filterType && filterType.length > 0">
                      <option *ngFor="let type of filterType; let i = index" [value]="type.url">{{type.values.value == "." ? "Todos": type.values.value }}</option>
                  </select>
              </label>
              </div>
              <div class="medium-2 columns">
                  <label>Precio
                  <select id="price" name="price" formControlName="price" (change)="change(form_filters.value)" [(ngModel)]="optionsPriceSelected" *ngIf="filterPrice && filterPrice.length > 0">
                      <option *ngFor="let price of filterPrice; let i = index" [value]="price.url">{{price.values.value }}</option>
                  </select>
              </label>
              </div>
              <div class="medium-2 columns">
                  <label>Ciudad
                  <select id="city" name="city" formControlName="city" (change)="change(form_filters.value)" [(ngModel)]="optionsCitySelected" *ngIf="filterCity && filterCity.length > 0">
                      <option *ngFor="let city of filterCity; let i = index" [value]="city.url">{{city.values.value }}</option>
                  </select>
              </label>
              </div>
              <div class="medium-2 columns">
                  <label>Zona
                  <select id="zone" name="zone" formControlName="zone" (change)="change(form_filters.value)" [(ngModel)]="optionsZoneSelected" *ngIf="filterZone && filterZone.length > 0; else zoneTemplate">
                      <option *ngFor="let zone of filterZone; let i = index" [value]="zone.url">{{zone.values.value }}</option>
                  </select>
                  <ng-template #zoneTemplate>
                      <select disabled="true">
                          <option value="" selected>Seleccione</option>
                      </select>
                  </ng-template>
              </label>
              </div>
              <div class="medium-2 columns">
                  <label>Sector
                  <select id="sector" name="sector" formControlName="sector" (change)="change(form_filters.value)" [(ngModel)]="optionsSectorSelected" *ngIf="filterSector && filterSector.length > 0; else sectorTemplate">
                      <option *ngFor="let sector of filterSector; let i = index" [value]="sector.url">{{sector.values.value }}</option>
                  </select>
                  <ng-template #sectorTemplate>
                      <select disabled="true">
                          <option value="" selected>Seleccione</option>
                      </select>
                  </ng-template>
              </label>
              </div>
              <div class="medium-2 columns">
                  <div class="botones list">
                      <a class="button" data-open="masfiltrosModal">Más filtros</a>
                      <a href="{{path_favorites}}" class="button secondary favorito button-color-ev">Favoritos <img src="/assets/images/fav-white.png" alt="add"></a>
                  </div>
              </div>
          </div>
          <div class="row condensed">
              <div class="filtros-tag">
                  <!-- Aqui van los tags de más filtros -->
                  <!-- <a href="#" class="button close">3 Habitaciones</a> -->
              </div>
          </div>
      </div>
  </form>
  <!--fin filtros-->
  <!-- Modal más filtros -->
  <div class="reveal filter" id="masfiltrosModal" data-reveal>
      <form [formGroup]="form_moreFilters">
          <div class="row">
              <div class="medium-12 colunms text-center">
                  <h2>Más filtros</h2>

              </div>
              <div class="medium-6 columns">
                  <h3>Estado del proyecto</h3>
                  <div *ngFor="let option of ValoresProyecto">
                      <label class="container-check">{{option.values.value}}
                          <input id="project_state" type="radio" name="project_state" formControlName="project_state" (change)="change(form_moreFilters.value)" [(ngModel)]="optionFeatureProyectSelected" value="{{option.url}}">
                          <span class="checkmark-morefilter"></span>
                      </label>
                  </div>
                  <h3>Inmueble</h3>
                  <div class="row">
                      <div class="small-6 columns">
                          <div> Área m2</div>
                      </div>
                      <div class="small-6 columns">
                          <select id="arear_build" name="arear_build" formControlName="arear_build" (change)="change(form_moreFilters.value)" [(ngModel)]="optionsAreaSelected">
                              <option *ngFor="let type of filterAreaBuilt; let i = index" [value]="type.url">{{type.values.value == "." ? "Todos": type.values.value }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="small-6 columns">
                          <div> Habitaciones</div>
                      </div>
                      <div class="small-6 columns">
                          <div class="input-group input-number-group">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-decrement-morefilter" (click)=(decreaseValue(1))>-</span>
                              </div>
                              <input class="input-number input-morefilter" type="number" readonly id="bedroom" value="1" min="0" max="1000">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-increment-morefilter" (click)=(incrementValue(1))>+</span>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="row">
                      <div class="small-6 columns">
                          <div> Baños</div>
                      </div>
                      <div class="small-6 columns">
                          <div class="input-group input-number-group">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-decrement-morefilter" (click)=(decreaseValue(2))>-</span>
                              </div>
                              <input class="input-number input-morefilter" type="number" readonly id="bathroom" value="1" min="0" max="1000">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-increment-morefilter" (click)=(incrementValue(2))>+</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="small-6 columns">
                          <div> Garajes</div>
                      </div>
                      <div class="small-6 columns">

                          <div class="input-group input-number-group">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-decrement-morefilter" (click)=(decreaseValue(3))>-</span>
                              </div>
                              <input class="input-number input-morefilter" type="number" readonly id="garage" value="1" min="0" max="1000">
                              <div class="input-group-button-morefilter">
                                  <span class="input-number-increment-morefilter" (click)=(incrementValue(3))>+</span>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
              <div class="medium-5 columns">
                  <div class="row">
                      <h3>Constructora</h3>
                      <!-- <label>
                      <input type="search" placeholder="Buscar">
                  </label> -->
                      <!-- <div class="small-6 columns"> -->
                    <select id="constructora_builder" name="constructora_builder" formControlName="constructora_builder" (change)="change(form_moreFilters.value)" [(ngModel)]="optionsConstructoraSelected">
                      <option *ngFor="let type of filterBuilder; let i = index" [value]="type.url">{{type.values.value == "." ? "Todos": type.values.value }}</option>
                    </select>
                      <!-- </div> -->
                  </div>
                  <br>
                  <div class="row">
                      <h3>Colecciones</h3>
                      <div class="filtros-tag">
                          <a class="button">Colección 1</a><a class="button">Colección 2</a>
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                      <a (click)="cleanFilter()">Limpiar filtros</a>
                      <a data-close aria-label="Close modal" class="button secondary button-show-apartment">Mostrar <span>{{countProjects}}</span> apartamentos</a>
                  </div>
              </div>
          </div>
      </form>
      <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <!-- Fin modal más filtros -->
  <hr>
</div>
<!-- <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
  <div class="medium-3 columns end project" *ngFor="let project of response_data_project; let i = index">
      <div class="card" data-equalizer-watch>
          <div class="container-photo">
              <a routerLink="{{project.url}}" class=""><img [src]="url_img_path + project.typology_images" alt="" class="proyecto"></a>
              <div class="container-tools">
                  <div class="tags">
                      <div *ngIf="project.project_category.length > 0">
                          <div class="tag" *ngFor="let tags of project.project_category; let i = index">
                              <a routerLink="{{project.url}}" class="">{{ tags }}</a>
                          </div>
                      </div>
                  </div>
                  <div class="add">
                      <a (click)="addFavorite(project.nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                  </div>
              </div>
          </div>
          <div class="card-section info">
              <h2>{{ project.project }}</h2>
              <div class="descripcion">
                  {{ project.project_city }}, {{ project.project_zone }}, {{ project.project_neighborhood }}
              </div>
              <div class="precio text-center">
                  <div>Desde:</div>
                  <span>$ {{ project.typology_price | number }}</span>
              </div>
          </div>
          <div class="card-section">
              <hr>
              <div class="row">
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                          <div class="data"> {{ project.area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                          <div class="data"> {{ project.bathrooms }} alcobas</div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                          <div class="data"> Garaje {{ project.garages }}</div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                          <div class="data"> {{ project.bedrooms }} baños</div>
                      </div>
                  </div>
              </div>
              <hr>
          </div>
          <div class="card-section">
              <div class="button-group align-spaced ">
                  <a class="button" routerLink="{{project.url}}">Ver
                  Proyecto</a>
                  <a class="button" data-open="exampleModal2">Contacto</a>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="row">
  <div class="medium-4 columns proyectolist">
      <div class="resultados">Mostrando <span>{{countProjects}}</span> apartamentos</div>
  </div>
  <div class="medium-2 columns end">
      <!-- <label>Ordenar por: -->
          <select id="sortBy" name="sortBy" (change)="changeSort()" [(ngModel)]="optionsSortSelected" *ngIf="filterSort && filterSort.length > 0">
              <option value="">Ordenar por:</option>
              <option *ngFor="let type of filterSort; let i = index" [value]="type.url">{{type.label == "." ? "Todos": type.label }}  {{type.order}}</option>
          </select>
      <!-- </label> -->
  </div>
  <div class="medium-1 columns end">
      <a class="button secondary ">Comparar</a>
  </div>
  <div class="medium-2 columns fRight pTop8">
      <label><input (click)='showMap($event)' type="checkbox"  [(ngModel)]="eventos" id="cbox1"> Mostrar mapa</label>
  </div>
</div>
<div class="row ">
  <div id="smallScrenn" class="medium-12 columns">
      <div id="FullScrenn" class="medium-3 columns end FullScrenn" *ngFor="let project of response_data_project; let i = index">
          <div class="card" data-equalizer-watch>
              <div class="container-photo">
                  <a routerLink="{{project.url}}" class=""><img [src]="url_img_path + project.typology_images" alt="" class="proyecto"></a>
                  <div class="container-tools">
                      <div class="tags">
                          <div *ngIf="project.project_category.length > 0">
                              <div class="tag" *ngFor="let tags of project.project_category; let i = index">
                                  <a routerLink="{{project.url}}" class="">{{ tags }}</a>
                              </div>
                          </div>
                      </div>
                      <div class="add">
                          <a (click)="addFavorite(project.nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                      </div>
                  </div>
              </div>
              <div class="card-section info">
                  <h2>{{ project.project }}</h2>
                  <div class="descripcion">
                      {{ project.project_city }}, {{ project.project_zone }}, {{ project.project_neighborhood }}
                  </div>
                  <div class="precio text-center">
                      <div>Desde:</div>
                      <span>$ {{ project.typology_price | number }}</span>
                  </div>

              </div>
              <div class="card-section">
                  <hr>
                  <div class="row">
                      <div class="small-6 columns">
                          <div class="item">
                              <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                              <div class="data"> {{ project.area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                          </div>
                      </div>
                      <div class="small-6 columns">
                          <div class="item">
                              <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                              <div class="data"> {{ project.bathrooms }} alcobas</div>
                          </div>
                      </div>
                      <div class="small-6 columns">
                          <div class="item">
                              <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                              <div class="data"> Garaje {{ project.garages }}</div>
                          </div>
                      </div>
                      <div class="small-6 columns">
                          <div class="item">
                              <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                              <div class="data"> {{ project.bedrooms }} baños</div>
                          </div>
                      </div>
                  </div>
                  <hr>
              </div>
              <div class="card-section">
                  <div class="button-group align-spaced ">
                      <a class="button" routerLink="/es/{{project.url}}">Ver
                        Proyecto</a>
                      <a class="button" data-open="exampleModal2">Contacto</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="ProyectMap" class="medium-6 columns hide">


      <agm-map class="agmHeightFavorite" [latitude]='latitude' [longitude]='longitude' [zoom]='zoom' style="height: 580px !important;">
          <agm-marker *ngFor="let marker of response_data_project" [latitude]="marker.latitude" [longitude]="marker.longitude">
              <agm-info-window #infoWindow>
                  {{ marker.project }}
              </agm-info-window>
          </agm-marker>

      </agm-map>
  </div>
</div>
<div class="reveal text-center" id="exampleModal2" data-reveal>
  <h2>Contactar</h2>
  <form data-abide novalidate [formGroup]="form">
      <div class="container-form">
          <span id="spanName" class="error hide">
              Debe digitar un nombre de contacto
            </span>
          <input type="text" placeholder="Nombre" aria-errormessage="nameError" formControlName="name" name="name" required pattern="text">
          <span id="spannLastName" class="error hide">
          Debe digitar un apellido de contacto
        </span>
          <input type="text" placeholder="Apellido" aria-errormessage="lastnameError" formControlName="lastname" name="lastnanme" required pattern="text">
          <span id="spanEmail" class="error hide">
          Debe digitar un correo de contacto valido
        </span>
          <input type="text" placeholder="Email" aria-errormessage="emailError" formControlName="email" name="email" required pattern="email">
          <span id="spanPhone" class="error hide">
          Debe digitar un n&uacute;mbre de contacto
        </span>
          <input type="text" placeholder="Teléfono" aria-errormessage="phoneError" formControlName="phone" name="phone" required>
          <span id="spanContact" class="error hide">
          Debe seleccionar una opción
        </span>
          <select id="select" required formControlName="contact" name="contact">
          <option value="Deseas ser contactado">Deseas ser contactado v&iacute;a:</option>
          <option value="telefono">Tel&eacute;fonica</option>
          <option value="email">Correo Electr&oacute;nico</option>
          <option value="correo">Correo Postal</option>
        </select>
          <span id="spanTypesearch" class="error hide">
          Debe seleccionar una opción
          </span>
          <fieldset class="text-left">
              <legend>Buscas vivienda para:</legend>
              <input type="radio" formControlName="typeSearch" name="typeSearch" value="habitar" id="houseForHabitar"><label for="">Habitar</label>
              <input type="radio" formControlName="typeSearch" name="typeSearch" value="invertir" id="houseForInvertir"><label for="">Invertir</label>
          </fieldset>
          <span id="spanTerm" class="error hide">
          Debe aceptar los términos
          </span>
          <div class="text-left terminos">
              <input id="checkbox1" type="checkbox" formControlName="term" name="term"><label for="right-label" class="text-left">Declaro
                haber leido los <a href="/aviso-privacidad">Términos de privacidad</a> y estar conforme con los
                mismos.</label>

          </div>
          <span href="" class="button secondary" (click)="onSubmit(form.value)">Enviar</span>
      </div>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal text-center" id="exampleModal1" data-reveal>
  <img src="/assets/images/logo-ev.png">
  <h2>¡Gracias!</h2>
  <p>Pronto te llegará toda la información a tu correo</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row columns text-center">
  <button  [disabled]="banderaProyecto" (click)='MoreRecords()'  class="button secondary">Cargar más</button>
</div>
<div class="row columns text-center">
  <div class="medium-6 medium-offset-3 columns">
      <a>
          <div class="comparador-btn-2">
              <div class="container-comparador">
                  <h2 class="deco">¿Quieres comparar?</h2>
                  <div class="subtitle">Selecciona tus proyectos favoritos para hacerlo</div>
              </div>
          </div>
      </a>
  </div>
</div>


<!-- <div id="fullFavorites" class="row hide">
<div class="medium-12 columns">
    <div class="medium-3 columns end" *ngFor="let project of response_data_project; let i = index">
        <div class="card" data-equalizer-watch>
            <div class="container-photo">
                <a routerLink="{{project.url}}" class=""><img [src]="url_img_path + project.typology_images" alt="" class="proyecto"></a>
                <div class="container-tools">
                    <div class="tags">
                        <div *ngIf="project.project_category.length > 0">
                            <div class="tag" *ngFor="let tags of project.project_category; let i = index">
                                <a routerLink="{{project.url}}" class="">{{ tags }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <a class="fav"><img src="/assets/images/fav.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card-section info">
                <h2>{{ project.project }}</h2>
                <div class="descripcion">
                    {{ project.project_city }}, {{ project.project_zone }}, {{ project.project_neighborhood }}
                </div>
                <div class="precio text-center">
                    <div>Desde:</div>
                    <span>$ {{ project.typology_price | number }}</span>
                </div>
            </div>
            <div class="card-section">
                <hr>
                <div class="row">
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                            <div class="data"> {{ project.area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                            <div class="data"> {{ project.bathrooms }} alcobas</div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                            <div class="data"> Garaje {{ project.garages }}</div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                            <div class="data"> {{ project.bedrooms }} baños</div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card-section">
                <div class="button-group align-spaced ">
                    <a class="button" routerLink="{{project.url}}">Ver
                    Proyecto</a>
                    <a class="button" data-open="exampleModal2">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" template="<img src='/assets/images/logo-ev.png' />">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
