
<div class="row columns text-center">
  <div class="publicidad">
      <img src="/assets/images/banner1.jpg" alt="">
  </div>
</div>
<div class="row columns">
  <h1>Proyectos en Baranquilla</h1>
  <!--filtros-->
  <form [formGroup]="form_filters">
    <div class="filtros">
        <div class="row condensed">
            <div class="medium-2 columns">
                <label>Tipo de inmueble
                    <select id="type" name="type" formControlName="type" (change)="change(form_filters.value)">
                        <option value="apartamento">Apartamento</option>
                        <option value="casa">Casa</option>
                    </select>
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Precio
                    <select id="price" name="price" formControlName="price" (change)="change(form_filters.value)">
                        <option value="apartamento">60.000.000-700.000.000</option>
                        <option value="casa">Otro</option>
                    </select>
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Ciudad
                    <select id="city" name="city" formControlName="city" (change)="change(form_filters.value)">
                    <option value="barranquilla">Barranquilla</option>
                    <option value="bogota">Bogot&aacute;</option>
                    </select>
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Zona
                    <select id="zone" name="zone" formControlName="zone" (change)="change(form_filters.value)">
                        <option value="apartamento">Norte</option>
                        <option value="casa">Sur</option>
                    </select>
                </label>
            </div>
            <div class="medium-2 columns">
                <label>Sector
                    <select id="sector" name="sector" formControlName="sector" (change)="change(form_filters.value)">
                        <option value="apartamento">Centro Internacional</option>
                        <option value="casa">Sur</option>
                    </select>
                </label>
            </div>
            <div class="medium-2 columns">
                <div class="botones">
                    <a href="#" class="button ">Más filtros</a>
                    <a href="#" class="button secondary ">Favoritos</a>
                </div>
            </div>
        </div>
        <div class="row condensed">
        <div class="filtros-tag">
            <a href="#" class="button close">3 Habitaciones</a>
        </div>
    </div>
    </div>
  </form>
  <!--fin filtros-->

  <hr>
</div>
<div class="row ">
  <div class="medium-3 columns" *ngFor="let project of response_data_project.projects_1; let i = index">
      <div class="card">
          <div class="container-photo">
              <a href="#" class=""><img [src]="project.url_img" alt="" class="proyecto"></a>
              <div class="container-tools">
                  <div class="tags">
                      <div class="tag"><a href="#">VIS</a></div>
                      <div class="tag"><a href="#">Mi casa ya</a></div>
                  </div>
                  <div class="add">
                      <a href="#" class="fav"><img src="/assets/images/add.png" alt=""></a>
                  </div>
              </div>
          </div>
          <div class="card-section">
              <h2>{{ project.direccion }}</h2>
              <div class="descripcion">
                  {{ project.sub_titulo }}
              </div>
              <div class="precio text-center">
                  <div>Desde:</div>
                  <span>{{ project.valor_venta | number }}</span>
              </div>
              <hr>
          </div>
          <div class="card-section">
              <div class="row">
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                          <div class="data"> {{ project.medida_apartamento }} m</div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                          <div class="data"> {{ project.n_habitaciones }} alcobas</div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                          <div class="data"> {{ project.n_garages }} garajes</div>
                      </div>
                  </div>
                  <div class="small-6 columns">
                      <div class="item">
                          <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                          <div class="data"> {{ project.n_banos }} baños</div>
                      </div>
                  </div>
              </div>
              <hr>
          </div>
          <div class="card-section">
              <div class="button-group align-spaced ">
                <a class="button" routerLink="/proyecto/{{project.titulo}}">Ver
                    Proyecto</a>
                  <a class="button">Contacto</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row columns text-center">
  <a href="#" class="button secondary">Cargar más</a>
</div>
<div class="row columns text-center">
  <div class="medium-6 medium-offset-3 columns">
      <a href="#">
          <div class="comparador-btn-2">
              <div class="container-comparador">
                  <h2 class="deco">¿Quieres comparar?</h2>
                  <div class="subtitle">Selecciona tus proyectos favoritos para hacerlo</div>
              </div>
          </div>
      </a>
  </div>
</div>