<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  template="<img src='/assets/images/logo-ev.png' />"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<hr class="white">
<div class="row columns">
    <div class="medium-8 medium-offset-2 columns">
        <form [formGroup]="form">
            <div class="container-blue form">
                <h1 class="text-center">Iniciar sesión</h1>
                <label for=""> Usuario</label>
                <div class="input-group">
                    <span class="input-group-label"><img src="/assets/images/user-b.png" alt=""></span>
                    <input class="input-group-field" type="text" placeholder="Nombre o correo con el que se registró" formControlName="name" name="name" required pattern="text">
                </div>
                <br>
                <label for=""> Contraseña</label>
                <div class="input-group">
                    <span class="input-group-label"><img src="/assets/images/pass-b.png" alt=""></span>
                    <input class="input-group-field" type="password" placeholder="Contraseña" formControlName="pass" name="pass" required>
                </div>
                <div><a href="/olvide-contrasena">¿Has olvidado tu contraseña?</a></div>
                <div class="text-center">
                    <span href="" class="button secondary" (click)="onSubmit(form.value)">Iniciar sesión</span>
                    <div><a href="register">¿No tienes cuenta? Registrate aquí</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="white">
