<div class="grid-container">
  <div class="cell medium-12 large-12 small-12">
    &nbsp;
  </div>
  <div class="grid-x grid-margin-x grid-margin-y cell medium-12 large-12 small-12">
    <div class="cell medium-3 large-3 small-3"></div>
    <div class="grid-x grid-margin-x medium-6 large-6 small-6 background-primary">
      <div class="cell medium-2 large-2 small-2">
      </div>
      <div class="cell medium-8 large-8 small-8">
        <div class="cell medium-12 large-12 small-12 text-center">
          <h3>Iniciar sesi&oacute;n</h3>
        </div>
        <div class="cell medium-12 large-12 small-12">
          <label for="">Usuario</label>
          <div class="input-group">
            <span class="input-group-label">
              <i class="fi-torso"></i>
            </span>
            <input class="input-group-field" type="text" placeholder="Nombre o correo con el que se registro">
          </div>
        </div>
        <div class="cell medium-12 large-12 small-12">
          <label for="">Contrase&ntilde;a</label>
          <div class="input-group">
            <span class="input-group-label">
              <i class="fi-torso"></i>
            </span>
            <input class="input-group-field" type="text" placeholder="Contrase&ntilde;a">
          </div>
          <div class="cell medium-12 large-12 small-12">
            <a href="/">¿Has olvidado tu contrase&ntilde;a?</a>
          </div>
          <div class="cell medium-12 large-12 small-12 text-center">
            <a class="button search_button">Iniciar Sesi&oacute;n</a>
          </div>
        </div>
        <div class="cell medium-2 large-2 small-2">
        </div>
        <div class="cell medium-3 large-3 small-3"></div>
      </div>
      <div class="cell medium-2 large-2 small-2">
      </div>
      <div class="grid-x grid-margin-x cell medium-12 large-12 small-12">

      </div>
    </div>
  </div>
</div>
