<hr class="white">
<div class="row columns">
    <div class="medium-8 medium-offset-2 columns">
        <div class="container-blue form">
            <h1 class="text-center">Iniciar sesión</h1>
            <div class="input-group">
                <span class="input-group-label"><img src="/assets/images/user-b.png" alt=""></span>
                <input class="input-group-field" type="text" placeholder="Nombre o correo con el que se registró">
            </div>
            <div class="input-group">
                <span class="input-group-label"><img src="/assets/images/pass-b.png" alt=""></span>
                <input class="input-group-field" type="password" placeholder="Contraseña">
            </div>
            <div><a href="#">¿Has olvidado tu contraseña?</a></div>
            <div class="text-center">
                <a href="home.php" class="button secondary">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
<hr class="white">