<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell small-1 medium-1 large-1"></div>
    <div class="cell small-3 medium-3 large-3">
      <ul class="vertical menu information-company">
        <li><a href="quienes-somos">¿Qui&eacute;nes somos?</a></li>
        <li><a href="glosario">Glosario</a></li>
        <li><a href="contactenos">Cont&aacute;ctenos</a></li>
        <li class="is-active"><a href="aviso-privacidad">Aviso de privacidad</a></li>
        <li><a href="politica-datos">Pol&iacute;tica de tratamiento de datos</a></li>
        <li><a href="mapa-sitio">Mapa del sitio</a></li>
      </ul>
    </div>
    <div class="grid-x cell small-7 medium-7 large-7">
      <h2>Aviso de privacidad</h2>
      <p>
        De conformidad con lo dispuesto en la Ley Estatutaria 1581 de Protección de Datos Personales, autorizo a que los
        datos, facilitados voluntariamente a través del presente formulario, pasen a formar parte de una base de datos
        responsabilidad de la ASOCIACIÓN ESTRENAR VIVIENDA, siendo tratados con la finalidad de contactar conmigo y
        proporcionarme información sobre sus productos y servicios. Los datos serán tratados en base a la Política de
        Tratamiento de Datos ubicada en la web: www.estrenarvivienda.com.</p>

      <p>Adicionalmente, autorizo para que los datos puedan ser transferidos a la empresa vinculada a la ASOCIACIÓN
        ESTRENAR VIVIENDA. respecto de las que se plantea la consulta, que dependiendo de su ubicación, puede ser dentro
        o
        fuera de Colombia, con el objeto de que procedan al envío de información sobre sus productos y servicios. Por
        otra
        parte declaro estar informado sobre la posibilidad de ejercer los derechos de consulta y reclamos, mediante
        escrito, dirigido a la ASOCIACIÓN ESTRENAR VIVIENDA, a través de correo electrónico en la dirección:
        protecciondedatos@estrenarvivienda.com, indicando en la línea de Asunto el derecho que desea ejercer. O
        verifique
        si sus datos están en nuestras bases haciendo clic aquí.</p>
    </div>
    <div class="cell small-1 medium-1 large-1"></div>
  </div>
</div>
