.radio_item {
  display: none !important;
}

.radio_item:checked+label {
  opacity: 1;
}

.label-item {
  opacity: 0.1;
  cursor: pointer;
}

.container-date-agenda {
  padding: 4%;
}

.date-agenda-option {
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 10px;
  position: relative;
  padding: 9px;
  font-size: 13px;
  line-height: initial;
  width: 125%;
  height: 43px;
}

/****************************************/
/* Layout rules using position: absolute and pixels. */
.position-pixels.date-as-calendar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.position-pixels.date-as-calendar .weekday,
.position-pixels.date-as-calendar .day,
.position-pixels.date-as-calendar .month,
.position-pixels.date-as-calendar .year {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
}

.position-pixels.date-as-calendar .month {
  top: 0px;
  font-size: 12px;
  padding: 2px 0;
}

.position-pixels.date-as-calendar .weekday {
  top: 16px;
  font-size: 10px;
}

.position-pixels.date-as-calendar .day {
  top: 26px;
  font-size: 24px;
}

.position-pixels.date-as-calendar .year {
  top: 50px;
  font-size: 14px;
}
