<div class="grid-container large-8">
  <div class="grid-x grid-padding-x">
    <div class="large-3 medium-3 small-3 cell">
      <div class="callout secondary">
        <img class="project-images-card" [src]="response.url_img" alt="">
      </div>
    </div>
    <div class="cell large-9 medium-9">
      <i class="fi-heart large icon-topbar-style"></i>
      <span class="rounded link-category-project">
        <a href="">
          VIS
        </a>
      </span>
      <span class="link-category-project">
        <a href="">
          MI CASA YA
        </a>
      </span>

      <h2 class="text-capitalize Text Wrap">
        {{ response.sub_titulo }}
      </h2>
      <p>
        <small>
          {{ response.direccion }}
        </small>
      </p>
      <div class="grid-x grid-padding-x">
        <div class="cell medium-3">
          <p class="text-left">
            <small>
              Desde:
            </small>
            <br>
            <span class="text-bold stat "> {{ response.valor_venta | number }}</span>
          </p>
        </div>
        <div class="cell medium-9 large-9">
          <div class="button-group align-right">
            <a class="search_button button">Contacto</a>
            <a class="button">Ver Video</a>
            <a class="button">Im&aacute;genes</a>
            <a class="button">Recorrido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <div class="orbit" role="region" aria-label="" data-orbit>
          <div class="orbit-controls">
            <button class="orbit-previous" tabindex="0"><span class="show-for-sr">Previous Slide</span>◀︎</button>
            <button class="orbit-next" tabindex="0"><span class="show-for-sr">Next Slide</span>▶︎</button>
          </div>
          <ul class="orbit-container">
            <li class="orbit-slide is-active">
              <div class="grid-x grid-padding-x align-stretch">
                <div class="cell small-6 flex-container flex-dir-column">
                  <div class="flex-child-auto">
                    <img src="https://via.placeholder.com/550x355.png?text=Imagen+Proyecto">
                  </div>
                </div>
                <div class="cell small-3">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
                <div class="cell small-3">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
              </div>
            </li>
            <li class="orbit-slide">
              <div class="grid-x grid-padding-x align-stretch">
                <div class="cell small-3 ">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
                <div class="cell small-3">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
                <div class="cell small-3">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
                <div class="cell small-3">
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                  <div class=" flex-child-shrink">&nbsp;</div>
                  <div class=" flex-child-shrink">
                    <img src="https://via.placeholder.com/250x165.png?text=Imagen+Proyecto">
                  </div>
                </div>
              </div>
            </li>
            <!-- More slides... -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-x grid-padding-x">
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project attributes-project"></i>
        <span class="text-project-attributes">{{ response.medida_apartamento }}<sup>2</sup> &aacute;rea
          construida</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">{{ response.barrio }}<sup>2</sup> &aacute;rea privada</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">{{ response.n_habitaciones }} alcobas</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">{{ response.n_garages }} garaje</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">{{ response.n_banos }} ba&ntilde;os</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">{{ response.n_garages }} deposito</span>
      </div>
      <div class="cell auto icon_attribute_project">
        <i class="fi-map attributes-project "></i>
        <span class="text-project-attributes">sobre planos</span>
      </div>
    </div>
  </section>
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell auto text-center">
      <hr />
      <a class="link_load_attributes_project" href="">
        M&aacute;s caracteristicas del inmueble
      </a>
    </div>
  </div>
  <section>
    <div class="grid-x grid-padding-x align-stretch">
      <div class="large-1 flex-child-shrink">&nbsp;</div>
      <div class="cell large-7">
        <div class="button-group stacked-for-small">
          <button class="button primary" href="#">Mapa</button>
          <button class="button secondary" href="#">Planos</button>
          <button class="button secondary" href="#">Street view</button>
        </div>
        <div>
          <i class="fi-map">{{ response.direccion }}</i>
        </div>
        <div class="responsive-embed">
          <iframe width="90%" height="315"
            src="https://maps.google.com/maps?q=4.6877608,-74.0605576&hl=es&z=14&amp;output=embed" frameborder="0"
            allowfullscreen></iframe>
        </div>
        <div class="cell large-8">
          <h5 class="text-left text-bold">Zonas de inter&eacute;s</h5>
        </div>
      </div>
      <div class=" cell large-4">
        <h4 class="">¿Necesitas asesor&iacute;a?</h4>
        <p class="text-center">D&eacute;janos tus datos para contactarte o agendar una visita:</p>
        <ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="form-contact-tabs">
          <li class="tabs-title is-active"><a href="#contactar" aria-selected="true">Contactar</a></li>
          <li class="tabs-title"><a href="#agendar">Agendar Visita</a></li>
        </ul>
        <!--Seccion formulario asesoria-->
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel" id="contactar">
            <!--Seccion formulario contacto-->
            <form data-abide novalidate>
              <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> Hay algunos errores en su solicitud.</p>
              </div>
              <div class="grid-container">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12">
                    <input type="text" placeholder="Nombre*" aria-errormessage="nameError" required pattern="text">
                    <span class="form-error">
                      Debe digitar un nombre de contacto
                    </span>
                  </div>
                  <div class="cell small-12">
                    <input type="text" placeholder="Apellido*" aria-errormessage="lastnameError" required
                      pattern="text">
                    <span class="form-error">
                      Debe digitar un apellido de contacto
                    </span>
                  </div>
                  <div class="cell small-12">
                    <input type="email" placeholder="Email*" aria-errormessage="emailError" required pattern="email">
                    <span class="form-error">
                      Debe digitar un correo de contacto valido
                    </span>
                  </div>
                  <div class="cell small-12">
                    <input type="tel" placeholder="Tel&eacute;fono*" aria-errormessage="phoneError" required
                      pattern="text">
                    <span class="form-error">
                      Debe digitar un n&uacute;mbre de contacto
                    </span>
                  </div>
                  <div class="cell small-12">
                    <select id="select" required>
                      <option value="">Deseas ser contactado v&iacute;a:</option>
                      <option value="telefono">Tel&eacute;fonica</option>
                      <option value="email">Correo Electr&oacute;nico</option>
                      <option value="correo">Correo Postal</option>
                    </select>
                    <span class="form-error">
                      Debe seleccionar un medio de contacto
                    </span>
                  </div>
                  <fieldset class="cell large-12">
                    <legend>Buscas vivienda para:*.</legend>
                    <input type="radio" name="house-for" value="habitar" id="houseForHabitar"><label
                      for="pocketsRed">Habitar</label>
                    <input type="radio" name="house-for" value="invertir" id="houseForInvertir"><label
                      for="pocketsBlue">Invertir</label>
                    <span class="form-error">
                      Debe elegir el tipo de busqueda
                    </span>
                  </fieldset>
                  <fieldset class="cell large-12">
                    <input id="checkbox1" type="checkbox"><label for="checkbox1" class="small">Declaro haber leido el
                      <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
                      conforme con el mismo.</label>
                    <span class="form-error">
                      Debe aceptor el Aviso de Privacidad
                    </span>
                  </fieldset>
                  <div class="grid-x grid-margin-x">
                    <fieldset class="cell large-12 align-center">
                      <button class="button" type="submit" value="Submit">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </div>
            </form>
            <!--Fin Seccion formulario contacto-->
          </div>
          <div class="tabs-panel is-active" id="agendar">
            <!--Seccion formulario agendar-->
            <form data-abide novalidate>
              <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> Hay algunos errores en su solicitud.</p>
              </div>
              <div class="grid-container">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12">
                    <h6 class="text-center">Agendar Visita</h6>
                    <p class="text-left">Programa la fecha y la jornada en la que deseas visitar y conocer el proyecto
                    </p>
                  </div>
                  <div class="cell small-6">
                    <time datetime="2014-09-24" class="date-as-calendar position-pixels">
                      <span class="weekday">Wednesday</span>
                      <span class="day">24</span>
                      <span class="month">September</span>
                      <span class="year">2014</span>
                    </time>
                  </div>
                  <div class="cell small-6">
                    <fieldset class="cell large-12">
                      <input type="radio" name="house-for" value="habitar" id="houseForHabitar"><label
                        for="houseForHabitar">Ma&ntilde;ana</label>
                    </fieldset>
                    <fieldset class="cell large-12">
                      <input type="radio" name="house-for" value="invertir" id="houseForInvertir"><label
                        for="houseForInvertir">Tarde</label>
                      <span class="form-error">
                        Debe elegir el tipo de jornada
                      </span>
                    </fieldset>
                  </div>
                  <div class="cell small-12 container-date-agenda">
                    <div class="grid-x grid-padding-x align-stretch">
                      <div class="large-3 flex-child-shrink">
                        <input type="radio" class="radio_item" name="house-for" value="invertir" id="horario1">
                        <label class="label_item" for="horario1">
                          <div class="date-agenda-option text-bold text-center">
                            <time>08:00 AM</time>
                          </div>
                        </label>
                      </div>
                      <div class="large-3 flex-child-shrink">
                        <input type="radio" class="radio_item" name="house-for" value="invertir" id="horario2">
                        <label class="label_item" for="horario2">
                          <div class="date-agenda-option text-bold text-center">
                            <time>09:00 AM</time>
                          </div>
                        </label>
                      </div>
                      <div class="large-3 flex-child-shrink">
                        <input type="radio" class="radio_item" name="house-for" value="invertir" id="horario3">
                        <label class="label_item" for="horario3">
                          <div class="date-agenda-option text-bold text-center">
                            <time>10:00 AM</time>
                          </div>
                        </label>
                      </div>
                      <div class="large-3 flex-child-shrink">
                        <input type="radio" class="radio_item" name="house-for" value="invertir" id="horario4">
                        <label class="label_item" for="horario4">
                          <div class="date-agenda-option text-bold text-center">
                            <time>11:00 AM</time>
                          </div>
                        </label>
                      </div>
                      <span class="form-error">
                        Debe seleccionar un horario
                      </span>
                    </div>
                  </div>
                  <div class="cell small-12">
                    <input type="text" placeholder="Nombre*" aria-errormessage="nameError" required pattern="text">
                    <span class="form-error">
                      Debe digitar un nombre de contacto
                    </span>
                  </div>
                  <div class="cell small-12">
                    <input type="email" placeholder="Email*" aria-errormessage="emailError" required pattern="email">
                    <span class="form-error">
                      Debe digitar un correo de contacto valido
                    </span>
                  </div>
                  <div class="cell small-12">
                    <input type="tel" placeholder="Tel&eacute;fono*" aria-errormessage="phoneError" required
                      pattern="text">
                    <span class="form-error">
                      Debe digitar un n&uacute;mbre de contacto
                    </span>
                  </div>
                  <fieldset class="cell large-12">
                    <input id="checkbox1" type="checkbox"><label for="checkbox1" class="small">Declaro haber leido
                      el
                      <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
                      conforme con el mismo.</label>
                    <span class="form-error">
                      Debe aceptor el Aviso de Privacidad
                    </span>
                  </fieldset>
                  <div class="grid-x grid-margin-x">
                    <fieldset class="cell large-12 align-center">
                      <button class="button" type="submit" value="Submit">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </div>
            </form>
            <!--Fin Seccion formulario agendar-->
          </div>
        </div>
        <!--Fin Seccion formulario asesoria-->
      </div>

    </div>
  </section>
</div>
<section>
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell large-12">
      <h4 class="text-center">Otras &aacute;reas disponibles</h4>
    </div>
    <div class="grid-x grid-margin-x small-up-2 medium-up-4">
      <!-- Card Proyecto individual-->
      <div class="cell shrink" *ngFor="let relacionado of response.relacionados; let i = index">
        <div class="card">
          <div class="overlap-container">
            <img class="project-images-card" [src]="relacionado.url_img">
            <div class="card-section-over">
              <div class="cell ">
                <a class="align-bookmark-project" href="">
                  <i class="fi-heart large icon-topbar-style"></i>
                </a>
              </div>
              <div class="cell">
                <i class="fi-heart large icon-topbar-style"></i>
                <span class="text-info-project-card">
                  {{ relacionado.medida_apartamento }} m<sup>2</sup>
                  <span class="badge alert-info-project">!</span>
                </span>
              </div>
              <div class="cell">
                <i class="fi-heart large icon-topbar-style"></i>
                <span class="text-info-project-card">
                  {{ relacionado.n_garages }}
                </span>
              </div>
              <div class="cell">
                <i class="fi-heart large icon-topbar-style"></i>
                <span class="text-info-project-card">
                  {{ relacionado.n_habitaciones }}
                </span>
              </div>
              <div class="cell">
                <i class="fi-heart large icon-topbar-style"></i>
                <span class="text-info-project-card">
                  {{ relacionado.n_banos }}
                </span>
              </div>
            </div>
          </div>
          <div class="card-section">
            <span class="rounded link-category-project">
              <a href="">
                VIS
              </a>
            </span>
            <span class="link-category-project">
              <a href="">
                MI CASA YA
              </a>
            </span>
            <span class="link-category-project">
              <a href="">
                ENTREGA INMEDIATA
              </a>
            </span>
            <span class="link-category-project">
              <a href="">
                FERIA
              </a>
            </span>
          </div>
          <div class="card-section body-card-project">
            <h6 class="text-capitalize Text Wrap">
              {{ relacionado.direccion }}
            </h6>
            <p>
              <small>
                {{ relacionado.sub_titulo }}
              </small>
            </p>
            <p class="text-center">
              <small>
                DESDE
              </small>
              <br>
              <span class="text-bold">
                {{ relacionado.valor_venta }}</span>
            </p>
            <hr />
          </div>
          <div class="card-section">
            <div class="button-group align-spaced ">
              <a class="button" routerLink="/proyecto/{{relacionado.titulo}}">Ver Proyecto</a>
              <!-- <a class="button">Ver Proyecto</a> -->
              <a class="button">Contacto</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Card Proyecto individual-->
    </div>
  </div>
</section>
<section>
  <div class="grid-x grid-padding-x">
    <div class="cell large-12">
      <h4 class="text-center">Caracteristicas del proyecto</h4>
    </div>
    <div class="cell auto icon_attribute_project" *ngFor="let adicional of response.adicionales; let i = index">
      <i class="fi-map attributes-project attributes-project"></i>
      <span class="text-project-attributes">{{ adicional.nombre }}</span>
    </div>
  </div>
</section>
