<div class="ev--bots">
  <div class="ev--bots--whatsapp" style="width: 30px;height: 30px;">
    <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
      <img src="/sites/all/themes/seed_ev/images/icons/icon-whatsapp.png" alt="Facebook">
    </a>
  </div>
  <div class="ev--bots--facebook" style="width: 30px;height: 30px;">
    <a href="https://m.me/Portal.Estrenar.Vivienda" target="_blank" title="Facebook Bot" id="ev-bots-facebook">
      <img src="/sites/all/themes/seed_ev/images/icons/icon-messenger.png" alt="Facebook">
    </a>
  </div>
</div>
