<div id="bots-sidebar" class="ev--bots">
  <div class="ev--bots--whatsapp" style="width: 50px;height: 30px;">
    <a href="https://wa.me/573144119717" target="_blank" title="Whatsapp Bot" id="ev-bots-whatsapp">
      <img src="/assets/images/messenger.png">
    </a>
  </div>
  <!-- <div class="ev--bots--facebook" style="width: 50px;height: 30px;">
    <a title="Facebook Bot" data-open="botFacebook" aria-haspopup="true" id="ev-bots-facebook">
      <img src="/assets/images/face.png">
    </a>
  </div> -->
</div>
<div class="reveal" id="botFacebook" role="dialog" aria-hidden="true" data-yeti-box="botFacebook"
  data-resize="botFacebook" data-reveal style="right: 2.5em; bottom:60%;">
  <span>Estrenar Vivienda</span>
  <p>Hola soy AVI y estoy aqu&iacute; para recomendarte proyectos de vivienda</p>
  <a href="https://m.me/Portal.Estrenar.Vivienda" target="_blank">
    <button class="button" data-open="botFacebook">Click me for another modal!</button>
  </a>
  <button class="close-button" data-close aria-label="Close reveal" type="button"></button>
</div>
