<div class="row columns">
    <h1>Herramientas</h1>
</div>
<!--simuladores-->
<div class="row columns">
    <div class="simuladores">
        <ul class="tabs" data-tabs id="simuladores">
            <li class="tabs-title tool is-active"><a href="#panel1" aria-selected="true">Simulador capacidad
                endeudamiento</a>
            </li>
            <li class="tabs-title tool"><a data-tabs-target="panel2" href="#panel2">Simulador subsidio de vivienda</a>
            </li>
            <li class="tabs-title tool"><a data-tabs-target="panel3" href="#panel3">Simulador cuota inicial</a>
            </li>
            <li class="tabs-title tool"><a data-tabs-target="panel4" href="#panel4">Simulador credito de vivienda</a>
            </li>
        </ul>
        <div class="tabs-content" data-tabs-content="simuladores">
            <div class="tabs-panel is-active cuota" id="panel1">
                <div class="container-form">
                    <div class="row">
                        <div class="medium-4 medium-offset-4 columns text-center">
                            <p> Tus ingresos mensuales</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                        </div>
                        <div class="medium-4 columns text-center campo-destacado">
                            <p>Segun tus ingresos, podrías recibir un prestamo por:</p>
                            <input type="text" value="$350.000.000">
                            <hr>
                            <p> Podrías comprar una vivienda de:</p>
                            <input type="text" value="$500.000.000">
                            <hr>
                            <a href="#" class="button secondary ">Ver proyectos afines</a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="tabs-panel endeudamiento" id="panel2">
                <div class="container-form">
                    <div class="row">
                        <div class="medium-4 columns text-center">
                            <p> Cuentanos cuales son tus ingresos mensuales</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                            <p> Cuales son los ingresos mensuales de la persona con la que solicitarás el subsidio (opcional)</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                            <p> Los ingresos totales son:</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                            <p class="small">
                                * Los ingresos calculados son aproximados y varian dependiendo de la entidad, departamento, ciudad o municipio.
                            </p>
                     
                        </div>
                        <div class="medium-4 columns text-center campo-destacado">
                            <p> Con el total de ingresos puedes obtener un subsidio por:</p>
                            <input type="text" placeholder="">
                            <hr>
                            <p> Equivalentes a:</p>
                            <input type="text" placeholder="">
                            <a href="#" class="button secondary ">Más información</a>
                        </div>
                        <div class="medium-4 columns text-center">
                            <p> </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel3">
                <div class="container-form">
                    <div class="row">
                        <div class="medium-4 columns text-center">
                            <p> Si cuentas con ahorros para la cuota inicial, ingresa el valor</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                            <p> Si deseas incluir primas, ingresa el valor</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                     <div class="text-left">
                      <p>Escoje una de las dos opciones:</p>
                      <fieldset>
                       <div class="row">
                           <div class="medium-6 columns">
                            <label class="container-radio">Crédito hipotecario
                                <input type="radio" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                           </div>
                           <div class="medium-6 columns">
                        
                            <label class="container-radio">Leasing habitacional
                                <input type="radio">
                                <span class="checkmark"></span>
                            </label> 
                           </div>
                       </div>
                     </fieldset>
                     </div>
                        </div>
                        <div class="medium-4 columns text-center campo-destacado">
                            <p> Fecha estimada de entrega</p>
                            <input type="text" placeholder="MM - AAAA">
                            <hr>
                            <p> Plazo actual para cuota inicial</p>
                            <input type="text" placeholder="No. meses">

                        </div>
                        <div class="medium-4 columns text-center">
                            <p> Simulación</p>
                            <div class="container-simulacion">
                                <div class="row text-left">
                                    <div class="medium-10 medium-offset-2 columns">
                                        <div class="item">Valor del inmueble: <span>$200.000.000</span></div>
                                        <div class="item">Cuota inicial: <span>$50.000.000</span></div>
                                        <div class="item">Ahorros y primas: <span>$12.000.000</span></div>
                                        <div class="item">Saldo a diferir: <span>$80.000.000</span></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="simulacion">
                                    <div class="row">
                                        <div class="columns">
                                          <table class="stack">
                                            <thead>
                                              <tr>
                                                <th width="100">Cuota #</th>
                                                <th width="100">Fecha</th>
                                                <th width="150">Valor</th>
                                                <th width="150">Saldo</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                              <tr>
                                                <td>001</td>
                                                <td>03 - 2020</td>
                                                <td>$10.562.000</td>
                                                <td>$60.120.000</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="medium-12 columns text-center">
                            <a href="#" class="button secondary ">Simular</a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-panel credito" id="panel4">
                <div class="container-form">
                    <div class="row">
                        <div class="medium-4 medium-offset-2 columns text-center">
                            <p> Valor de la vivienda a financiar</p>
                            <div class="input-group">
                                <span class="input-group-label">$</span>
                                <input class="input-group-field" type="number">
                            </div>
                            <hr>
                            <p> Plazo de financiamiento (meses)</p>
                            <div class="slider white" data-slider data-initial-start="50">
                                <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
                                <span class="slider-fill" data-slider-fill></span>
                            </div>
                            <div><input type="number" id="sliderOutput1"></div>
                            <hr>
                     <div class="text-left">
                      <p>Escoje una de las dos opciones:</p>
                      <fieldset>
                       <div class="row">
                           <div class="medium-6 columns">
                            <label class="container-radio">Crédito hipotecario
                                <input type="radio" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                           </div>
                           <div class="medium-6 columns">
                        
                            <label class="container-radio">Leasing habitacional
                                <input type="radio">
                                <span class="checkmark"></span>
                            </label> 
                           </div>
                       </div>
                     </fieldset>
                     <p class="small">
                        * Los ingresos calculados son aproximados y varian dependiendo de la entidad, departamento, ciudad o municipio.
                    </p>
                     </div>
                        </div>
                        <div class="medium-4 columns text-center end">
                            <p>Calculo aproximado para poder adquirir tu vivienda:</p>
                           <div class="row calculo" data-equalizer data-equalize-on="medium" id="test-eq">
                               <div class="medium-6 columns">
                                    <div class="container-calc" data-equalizer-watch>
                                        <div class="value">
                                            350.000.000
                                        </div>
                                        <div class="caracteristica">
                                            Monto prestamo
                                        </div>
                                    </div>
                               </div>
                               <div class="medium-6 columns">
                                <div class="container-calc" data-equalizer-watch>
                                    <div class="value">
                                        350.000.000
                                    </div>
                                    <div class="caracteristica">
                                        Cuota inicial 30%
                                    </div>
                                </div>
                           </div>
                           <div class="medium-6 columns">
                            <div class="container-calc" data-equalizer-watch>
                                <div class="value">
                                    16.000.000
                                </div>
                                <div class="caracteristica">
                                    Ingresos minimos mensuales
                                </div>
                            </div>
                       </div>
                       <div class="medium-6 columns">
                        <div class="container-calc" data-equalizer-watch>
                            <div class="value">
                                120
                            </div>
                            <div class="caracteristica">
                                Plazo en meses
                            </div>
                        </div>
                   </div>
                   <div class="medium-6 columns">
                    <div class="container-calc" data-equalizer-watch>
                        <div class="value">
                            11.65%
                        </div>
                        <div class="caracteristica">
                            Tasa de interés
                        </div>
                    </div>
               </div>
               <div class="medium-6 columns">
                <div class="container-calc" data-equalizer-watch>
                    <div class="value">
                        4.000.000
                    </div>
                    <div class="caracteristica">
                        Cuota mensual
                    </div>
                </div>
           </div>
                           </div>
                            <a href="#" class="button secondary ">Ver proyectos afines</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="white">
<!--fin simuladores-->
<div class="row columns" data-equalizer data-equalize-on="medium" id="test-eq">
    <h1 class="deco text-center">Proyectos de interés</h1>
    <div class="medium-3 columns end" *ngFor="let project of response; let i = index">
        <div class="card" data-equalizer-watch>
            <div class="container-photo">
                <a href="proyecto.php" class=""><img [src]="url_img_path + project.typology_images" alt="" class="proyecto"></a>
                <div class="container-tools">
                    <div class="tags">
                      <div  *ngIf="project.project_category.length > 0">
                          <div class="tag" *ngFor="let tags of project.project_category; let i = index">
                              <a>{{ tags }}</a>
                          </div>
                      </div>
                    </div>
                    <div class="add">
                        <a href="#" class="fav"><img src="/assets/images/add.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card-section">
              <h2>{{ project.project }}</h2>
                <div class="descripcion">
                  {{ project.project_city }},
                  {{ project.project_zone }},
                  {{ project.project_neighborhood }}
                </div>
                <div class="precio text-center">
                    <div>Desde:</div>
                    <span>{{ project.typology_price | number }}</span>
                </div>
                <hr>
            </div>
            <div class="card-section">
                <div class="row">
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                            <div class="data"> {{ project.area_built }} m</div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                            <div class="data"> {{ project.bathrooms }} alcobas</div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                            <div class="data"> garajes {{ project.garages }}</div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="item">
                            <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                            <div class="data"> {{ project.bedrooms }} baños</div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card-section">
              <div class="button-group align-spaced ">
                <a class="button" routerLink="/proyecto/{{project.uuid}}">Ver
                    Proyecto</a>
                  <a class="button">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="white">
<div class="row columns text-center">
    <a href="#" class="button secondary">Ver más proyectos</a>
</div>
<hr class="white">
<div class="row columns">
    <h2 class="deco text-center">Artículos de interés</h2>
    <div class="container-blog">
            <div class="medium-3 columns" *ngFor="let mostRead of responseMostRead.results; let i = index">
                <div class="blog-list">
                    <div class="img">
                      <img [src]="url_img_path + mostRead.article_image" alt="">
                    </div>
                    <div class="social">
                        <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                        </div>
                        <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                    </div>

                    <div class="section"><a routerLink="/blog/{{mostRead.url}}">{{ mostRead.article_type }}</a></div>
                    <h3><a routerLink="/blog/{{mostRead.url}}">{{ mostRead.title.slice(0,90) }}</a></h3>
                    <div class="resumen">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                        suscipit sollicitudin mauris.
                    </div>
                    <a routerLink="/blog/{{mostRead.url}}" class="button">Seguir leyendo</a>
                </div>
            </div>

    </div>
</div>
<hr class="white">