<div class="cell large-12">
  <h2>Herramientas</h2>
</div>
<div class="cell large-12">
  <p>Te ofrecemos calculadoras para tu busqueda de vivienda nueva</p>
</div>
<div class="cell large-12">
  <ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" role="tablist"
    data-tabs-id="form-contact-tabs" id="form-contact-tabs">
    <li class="tabs-title is-active"><a href="#simulator-home-benefit" aria-selected="true">Simulador Subsidio de
        Vivienda</a></li>
    <li class="tabs-title"><a href="#simulator-initial-fee">Simulador Cuota Inicial</a></li>
    <li class="tabs-title"><a href="#simulator-borrowing-capacity">Simulador Capacidad de Endeudamiento</a></li>
    <li class="tabs-title"><a href="#simulator-home-credit">Simulador Credito para Vivienda</a></li>
  </ul>
  <!--Seccion formulario asesoria-->
  <div class="tabs-content" data-tabs-content="form-contact-tabs">
    <div class="tabs-panel is-active" id="simulator-home-benefit">
      <!--Seccion formulario contacto-->
      <form data-abide novalidate>
        <div class="grid-x grid-padding-x align-stretch medium-up-4">
          <div class="flex-child-shrink cell medium-4">
            <label class="text-center" for="">
              Cuent&aacute;nos cuelaes son tus ingresos mensuales:
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <hr>
            <label class="text-center" for="">
              Cuales son los ingresos de la persona con la que solicitara
              el subsidio de vivienda (opcional)
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <hr>
            <label class="text-center" for="">
              Los ingresos totales son:
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <p class="help-text" id="">*Los valores calculados son aproximadosy varian dependiendo de la entidad,
              departamento, ciudad o municipio.</p>
          </div>
          <div class="flex-child-shrink cell medium-4">
            <div class="cell medium-12 text-center">
              <span class="text-center">
                Con el total de ingresos puedes obtener un subsidio por:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>20</span>
              <br>
              <span>Salarios minimos legales vigentes</span>
            </div>
            <div class="cell medium-12 text-center">
              <span>
                Equivalentes a:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>20</span>
              <br>
              <span>Salarios minimos legales vigentes</span>
            </div>
            <div class="cell medium-12 text-center">
              <button class="button search_button">M&aacute;s infromaci&oacute;n</button>
            </div>
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
        </div>
      </form>
      <!--Fin Seccion formulario contacto-->
    </div>
    <div class="tabs-panel" id="simulator-initial-fee">
      <!--Seccion formulario agendar-->
      <form data-abide novalidate>
        <div class="grid-x grid-padding-x align-stretch medium-up-4">
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-up-4">
            <label class="text-center" for="">
              Los ingresos mensuales:
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <p class="help-text" id="">*Los valores calculados son aproximadosy varian dependiendo de la entidad,
              Departamento, Ciudad o Municipio.</p>
          </div>
          <div class="flex-child-shrink cell medium-4">
            <div class="cell medium-12 text-center">
              <span class="text-center">
                Seg&uacute;n tus ingresos mensuales, podr&iacute;as recibir un prestamo por:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>$ 350.000.000</span>
            </div>
            <div class="cell medium-12 text-center">
              <span>
                Podr&iacute;s comprar una vivienda de:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>$ 500.000.000</span>
            </div>
            <div class="cell medium-12 text-center">
              <button class="button search_button">Ver proyectos afines</button>
            </div>
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
        </div>
      </form>
      <!--Fin Seccion formulario agendar-->
    </div>
    <div class="tabs-panel" id="simulator-borrowing-capacity">
      <!--Seccion formulario agendar-->
      <form data-abide novalidate>
        <div class="grid-x grid-padding-x align-stretch medium-up-4">
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-up-4">
            <label class="text-center" for="">
              Los ingresos mensuales:
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <p class="help-text" id="">*Los valores calculados son aproximadosy varian dependiendo de la entidad,
              Departamento, Ciudad o Municipio.</p>
          </div>
          <div class="flex-child-shrink cell medium-4">
            <div class="cell medium-12 text-center">
              <span class="text-center">
                Seg&uacute;n tus ingresos mensuales, podr&iacute;as recibir un prestamo por:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>$ 350.000.000</span>
            </div>
            <div class="cell medium-12 text-center">
              <span>
                Podr&iacute;s comprar una vivienda de:
              </span>
            </div>
            <div class="cell medium-12 text-center callout secondary">
              <span>$ 500.000.000</span>
            </div>
            <div class="cell medium-12 text-center">
              <button class="button search_button">Ver proyectos afines</button>
            </div>
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
          <div class="flex-child-shrink cell medium-1">
          </div>
        </div>
      </form>
      <!--Fin Seccion formulario agendar-->
    </div>
    <div class="tabs-panel" id="simulator-home-credit">
      <!--Seccion formulario agendar-->
      <form data-abide novalidate>
        <div class="grid-x grid-padding-x align-stretch medium-up-4">
          <div class="flex-child-shrink cell medium-2">
          </div>
          <div class="flex-child-shrink cell medium-up-4">
            <label class="text-center" for="">
              Valor de la vivienda a financiar:
            </label>
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number">
            </div>
            <hr>
            <label class="text-center" for="">
              Plazo de financiamiento
            </label>
            <input type="range" min="1" max="100" step="1" id="range-financing-term">
            <hr>
            <label class="text-center" for="">
              Escoger una de las dos opciones:
            </label>
            <div class="button-group align-spaced">
              <button class="button search_button">Cr&eacute;dito Hipotecario</button>
              <button class="button">Leasing Habitacional</button>
            </div>
            <p class="help-text" id="">*Los valores calculados son aproximadosy varian dependiendo de la entidad,
              Departamento, Ciudad o Municipio.</p>
          </div>
          <div class="flex-child-shrink cell medium-4">
            <div class="cell medium-12 text-center">
              <span class="text-center">
                C&aacute;lculo aproximado para poder adquirir tu vivienda:
              </span>
            </div>
            <div class="grid-x grid-padding-x align-stretch medium-up-2">
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>350.000.000</span>
                <br>
                <span>Monto pr&eacute;stamo</span>
              </div>
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>150.000.000</span>
                <br>
                <span>Cuota Inicial 30%</span>
              </div>
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>16.338.047</span>
                <br>
                <span>Ingresos m&iacute;nimos mensuales</span>
              </div>
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>120</span>
                <br>
                <span>Plazo en meses</span>
              </div>
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>11.65%</span>
                <br>
                <span>Tasa de inter&eacute;s</span>
              </div>
              <div class="flex-child-shrink cell medium-6 text-center callout secondary">
                <span>4.950.923</span>
                <br>
                <span>Cuota Mensual</span>
              </div>
            </div>
            <div class="cell medium-12 text-center">
              <button class="button search_button">Ver proyectos afines</button>
            </div>
            <div class="flex-child-shrink cell medium-2">
            </div>
          </div>
        </div>
      </form>
      <!--Fin Seccion formulario agendar-->
    </div>
  </div>
  <!--Fin Seccion formulario asesoria-->
</div>

<div class="cell medium-12">
  <h2>Proyectos de inter&eacute;s</h2>
</div>

<div class="cell medium-12">
  <div class="grid-x grid-margin-x small-up-2 medium-up-4">
    <!-- Card Proyecto individual-->
    <div class="cell shrink">
      <div class="card">
        <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
        <div class="card-section">
          <span class="rounded link-category-project">
            <a href="">
              VIS
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              MI CASA YA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              ENTREGA INMEDIATA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              FERIA
            </a>
          </span>
        </div>
        <div class="card-section body-card-project">
          <h6 class="text-capitalize Text Wrap">
            Paque Central de Occidente
          </h6>
          <p>
            <small>
              Apartamento en Centro Internacional del Caribe, Barranquilla
            </small>
          </p>
          <p class="text-center">
            <small>
              DESDE
            </small>
            <br>
            <span class="text-bold">$129.000.000</span>
          </p>
          <hr />
        </div>
        <div class="card-section">
          <div class="button-group align-spaced ">
            <a class="button">Ver Proyecto</a>
            <a class="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell shrink">
      <div class="card">
        <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
        <div class="card-section">
          <span class="rounded link-category-project">
            <a href="">
              VIS
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              MI CASA YA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              ENTREGA INMEDIATA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              FERIA
            </a>
          </span>
        </div>
        <div class="card-section body-card-project">
          <h6 class="text-capitalize Text Wrap">
            Paque Central de Occidente
          </h6>
          <p>
            <small>
              Apartamento en Centro Internacional del Caribe, Barranquilla
            </small>
          </p>
          <p class="text-center">
            <small>
              DESDE
            </small>
            <br>
            <span class="text-bold">$129.000.000</span>
          </p>
          <hr />
        </div>
        <div class="card-section">
          <div class="button-group align-spaced ">
            <a class="button">Ver Proyecto</a>
            <a class="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell shrink">
      <div class="card">
        <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
        <div class="card-section">
          <span class="rounded link-category-project">
            <a href="">
              VIS
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              MI CASA YA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              ENTREGA INMEDIATA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              FERIA
            </a>
          </span>
        </div>
        <div class="card-section body-card-project">
          <h6 class="text-capitalize Text Wrap">
            Paque Central de Occidente
          </h6>
          <p>
            <small>
              Apartamento en Centro Internacional del Caribe, Barranquilla
            </small>
          </p>
          <p class="text-center">
            <small>
              DESDE
            </small>
            <br>
            <span class="text-bold">$129.000.000</span>
          </p>
          <hr />
        </div>
        <div class="card-section">
          <div class="button-group align-spaced ">
            <a class="button">Ver Proyecto</a>
            <a class="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cell shrink">
      <div class="card">
        <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
        <div class="card-section">
          <span class="rounded link-category-project">
            <a href="">
              VIS
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              MI CASA YA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              ENTREGA INMEDIATA
            </a>
          </span>
          <span class="link-category-project">
            <a href="">
              FERIA
            </a>
          </span>
        </div>
        <div class="card-section body-card-project">
          <h6 class="text-capitalize Text Wrap">
            Paque Central de Occidente
          </h6>
          <p>
            <small>
              Apartamento en Centro Internacional del Caribe, Barranquilla
            </small>
          </p>
          <p class="text-center">
            <small>
              DESDE
            </small>
            <br>
            <span class="text-bold">$129.000.000</span>
          </p>
          <hr />
        </div>
        <div class="card-section">
          <div class="button-group align-spaced ">
            <a class="button">Ver Proyecto</a>
            <a class="button">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Card Proyecto individual-->
</div>


<div class="cell medium-12">
  <h2>Art&iacute;culos de inter&eacute;s</h2>
</div>
