<div class="row columns">
  <div class="medium-4 columns">
      <h1>Mi cuenta</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis est eu nibh venenatis.</p>
      <a href="#" class="button secondary">Ver favoritos</a>
      <a href="#" class="button">Cerrar sesión</a>
  </div>
  <div class="medium-8 columns">
      <h2>Datos personales</h2>
      <form>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Nombre</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="Nombre">
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="Apellidos">
              </div>
          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Email</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Telefono</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">País</label>
              </div>
              <div class="medium-5 columns end">
                  <select>
                      <option value="">Seleccione</option>
                  </select>

              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Ciudad</label>
              </div>
              <div class="medium-5 columns end">
                  <select>
                      <option value="">Seleccione</option>
                  </select>
              </div>

          </div>
      </form>
      <hr class="white">
      <h2>Preferencias</h2>
      <form>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Ciudad/zona de interes</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Presupuesto de compra</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Subsidio</label>
              </div>
              <div class="medium-5 columns end">
                  <select>
                      <option value="">No</option>
                  </select>

              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Tiempo en el que considera comprar</label>
              </div>
              <div class="medium-5 columns end">
                  <select>
                      <option value="">Entre 3 y 6 meses</option>
                  </select>
              </div>

          </div>
      </form>
      <hr class="white">
      <h2>Notificaciones</h2>
      <form>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Buscas vivienda para:</label>
              </div>
              <div class="medium-10 columns end">
                  <label class="container-radio">Habitar
                      <input type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span>
                  </label>
                  <label class="container-radio">Invertir
                      <input type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span>
                  </label>
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Medio de contacto</label>
              </div>
              <div class="medium-10 columns end">
                  <label class="container-check">Email
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                  </label>
                  <label class="container-check">WhatsApp
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                  </label>
                  <label class="container-check">Teléfono o celular
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                  </label>
              </div>
          </div>
      </form>
      <hr class="white">
      <h2>Seguridad</h2>
      <form>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Contraseña actual</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Contraseña nueva</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>
          <div class="row">
              <div class="medium-2 columns end">
                  <label for="middle-label" class="text-left middle">Confirmar contraseña</label>
              </div>
              <div class="medium-5 columns end">
                  <input type="text" id="middle-label" placeholder="">
              </div>

          </div>

      </form>
  </div>
</div>
<hr class="white">