<div class="grid-x grid-padding-x">
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="cell small-8 medium-8 large-8">
    <h2 class="" title="" aria-label="">Blog</h2>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="cell small-12 medium-12 large-12">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="https://placehold.it/1080x500/?text=Imagen1" alt="Space">
              <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="https://placehold.it/1080x500/?text=Imagen2" alt="Space">
              <figcaption class="orbit-caption">Lets Rocket!</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="https://placehold.it/1080x500/?text=Imagen3" alt="Space">
              <figcaption class="orbit-caption">Encapsulating</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" src="https://placehold.it/1080x500/?text=Imagen4" alt="Space">
              <figcaption class="orbit-caption">Outta This World</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-x cell small-2 medium-2 large-2"></div>
  <div class="grid-x cell small-6 medium-6 large-6">
    <div class="cell small-12 medium-12 large-12">
      <i class="smallIcon"></i>
      <h4>Lo m&aacute;s le&iacute;do</h4>
    </div>
    <div class="cell small-6 medium-6 large-6">
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section">
            <span class="label secondary">
              <a href="">LA ESPERIENCIA DE ESTRENAR</a>
            </span>
          </div>
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cesant&iacute;s, la cuota inicial para cumplir el sue&ntilde;o de tener vivienda en Colombia
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
                velit soluta quae corporis, similique est praesentium tenetur, nisi, deserunt laudantium neque totam
                dolorem cupiditate quibusdam id.
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>
    <div class="cell small-6 medium-6 large-6">
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section">
            <span class="label secondary">
              <a href="">NOTICIAS DEL SECTOR</a>
            </span>
          </div>
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
                velit soluta quae corporis, similique est praesentium tenetur, nisi, deserunt laudantium neque totam
                dolorem cupiditate quibusdam id.
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>
    <div class="cell small-12 medium-12 large-12">
      <i class="smallIcon"></i>
      <h4>La Experiencia de Estrenar</h4>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <div class="overlay-container">
        <img src="http://lorempixel.com/500/300" />
        <div class="overlay">
          <span>Overlay text</span>
          <i class="fi-address-book"></i>
          <span>David Richards | 04.12.2019</span>
        </div>
      </div>
    </div>
    <div class="grid-x cell small-12 medium-12 large-12 small-up-1 large-up-3 medium-up-3 ">
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>

    <div class="grid-x cell small-12 medium-12 large-12 small-up-1 large-up-2 medium-up-2 ">
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
      <!-- Card Blog individual-->
      <div class="cell shrink">
        <div class="card">
          <img class="project-images-card" src="https://via.placeholder.com/260x150.png?text=Imagen+Proyecto">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              Cedromonti, el nuevo proyecto VIS de Compensar en Zipaquir&aacute;
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">04.12.2019</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>
  </div>
  <div class="grid-x cell small-4 medium-4 large-4 align-stretch">
    <div class="cell small-12 medium-12 large-12 shrink">
      <h4>Recomendados</h4>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 text-center ">
        <div class="image-container-blog-lateral">
          <img src="https://placehold.it/250x280/?text=Card-1" alt="">
          <div class="container-info-blog-lateral">
            <p>Quiero recibir ayuda <br>para buscar vivienda</p>
            <button class="button search_button">Quiero asesor&iacute;a</button>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-12 large-12">
        <h4>Noticias del Sector</h4>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="grid-x cell small-8 medium-8 large-8 text-center primary">
    <div class="cell small-12 medium-12 large-12">
      <h5>Suscr&iacute;bete a nuestro bolet&iacute;n</h5>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <hr class="logoMinDivider">
    </div>
    <div class="cell small-12 medium-12 large-12">
      <p>Suscr&iacute;bete a nuestro bolet&iacute;n y recibe nuestros &uacute;ltimos contenidos</p>
    </div>
    <div class="cell small-10 medium-10 large-10">
      <input type="text" name="" id="">
    </div>
    <div class="cell small-2 medium-2 large-2">
      <button class="button search_button">Suscribirse</button>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <input type="checkbox" name="" id="">
      <label for="">Declaro haber leido el
        <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
        conforme con el mismo.</label>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
</div>

<div class="grid-x cell small-4 medium-4 large-4"></div>
<div class="grid-x cell small-4 medium-4 large-4">

</div>
