<div class="grid-x grid-padding-x">
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="cell small-8 medium-8 large-8">
    <h2 class="" title="" aria-label="">Blog</h2>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="cell small-12 medium-12 large-12">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <div class="orbit-controls">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" [src]="responseNewExperience[0].article_image" alt="Space">
              <figcaption class="orbit-caption">{{responseNewExperience[0].title}}</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" [src]="responseNewExperience[1].article_image" alt="Space">
              <figcaption class="orbit-caption">{{responseNewExperience[1].title}}</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" [src]="responseNewExperience[2].article_image" alt="Space">
              <figcaption class="orbit-caption">{{responseNewExperience[2].title}}</figcaption>
            </figure>
          </li>
          <li class="orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image" [src]="responseNewExperience[3].article_image" alt="Space">
              <figcaption class="orbit-caption">{{responseNewExperience[3].title}}</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-x cell small-2 medium-2 large-2"></div>
  <div class="grid-x cell small-6 medium-6 large-6">
    <div class="cell small-12 medium-12 large-12">
      <i class="smallIcon"></i>
      <h4>Lo m&aacute;s le&iacute;do</h4>
    </div>
    <div class="cell small-6 medium-6 large-6">
      <!-- Card Blog individual-->
      <div class="cell shrink" *ngFor="let mostRead of responseMostRead; let i = index"> 
        <div class="card">
          <img class="project-images-card" [src]="mostRead.article_image">
          <div class="card-section">
            <span class="label secondary">
              <a routerLink="/blog/{{mostRead.uuid + dataArticle}}">{{ mostRead.article_type }}</a>
            </span>
          </div>
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              {{ mostRead.title }}
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis
                velit soluta quae corporis, similique est praesentium tenetur, nisi, deserunt laudantium neque totam
                dolorem cupiditate quibusdam id.
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">{{ mostRead.changed }}</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>
    <div class="cell small-12 medium-12 large-12">
      <i class="smallIcon"></i>
      <h4>La Experiencia de Estrenar</h4>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <div class="overlay-container">
        <img [src]="responseNewExperience[0].article_image" />
        <div class="overlay">
          <span>{{ responseNewExperience[0].title }}</span>
          <i class="fi-address-book"></i>
          <span>{{ responseNewExperience[0].user_name || responseNewExperience[0].changed }}</span>
        </div>
      </div>
    </div>
    <div class="grid-x cell small-12 medium-12 large-12 small-up-1 large-up-3 medium-up-3 ">
      <!-- Card Blog individual-->
      <div class="cell shrink" *ngFor="let newExperience of responseNewExperience; let i = index">
        <div class="card" *ngIf="i >= 1">
          <img class="project-images-card" [src]="newExperience.article_image">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              {{ newExperience.title }}
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis1
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">{{ newExperience.changed }}</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>

    <div class="cell small-12 medium-12 large-12">
      <i class="smallIcon"></i>
      <h4>Nuestro lado eco</h4>
    </div>
    <div class="grid-x cell small-12 medium-12 large-12 small-up-1 large-up-2 medium-up-2 ">
      <!-- Card Blog individual-->
      <div class="cell shrink" *ngFor="let news of responseNews; let i = index">
        <div class="card">
          <img class="project-images-card" [src]="news.article_image">
          <div class="card-section body-card-project">
            <h6 class="text-capitalize text-justify">
              {{ news.title }}
            </h6>
            <p>
              <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et porro repudiandae blanditiis officiis1
              </small>
            </p>
          </div>
          <div class="card-section">
            <span class="dateLabel">{{ news.changed }}</span>
          </div>
        </div>
      </div>
      <!-- Fin Card Blog individual-->
    </div>
  </div>
  <div class="grid-x cell small-4 medium-4 large-4 align-stretch">
    <div class="cell small-12 medium-12 large-12 shrink">
      <h4>Recomendados</h4>
      <div class="cell small-12 medium-12 large-12 shrink" *ngFor="let recommend of responseRecommend; let i = index">
        <p>{{ recommend.title }}</p>
        <span class="dateLabel">{{ recommend.changed }}</span>
      </div>
      <!-- <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div> -->
      <div class="cell small-12 medium-12 large-12 text-center ">
        <div class="image-container-blog-lateral">
          <img src="https://placehold.it/250x280/?text=Card-1" alt="">
          <div class="container-info-blog-lateral">
            <p>Quiero recibir ayuda <br>para buscar vivienda</p>
            <button class="button search_button">Quiero asesor&iacute;a</button>
          </div>
        </div>
      </div>
      <div class="cell small-12 medium-12 large-12">
        <h4>Noticias del Sector</h4>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink" *ngFor="let news of responseNews; let i = index">
        <p>{{ news.title }}</p>
        <span class="dateLabel">{{ news.changed }}</span>
      </div>
      <!-- <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div>
      <div class="cell small-12 medium-12 large-12 shrink">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, veniam quia? Quidem, unde et alias eius</p>
        <span class="dateLabel">04.12.2019</span>
      </div> -->
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
  <div class="grid-x cell small-8 medium-8 large-8 text-center primary">
    <div class="cell small-12 medium-12 large-12">
      <h5>Suscr&iacute;bete a nuestro bolet&iacute;n</h5>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <hr class="logoMinDivider">
    </div>
    <div class="cell small-12 medium-12 large-12">
      <p>Suscr&iacute;bete a nuestro bolet&iacute;n y recibe nuestros &uacute;ltimos contenidos</p>
    </div>
    <div class="cell small-10 medium-10 large-10">
      <input type="text" name="" id="">
    </div>
    <div class="cell small-2 medium-2 large-2">
      <button class="button search_button">Suscribirse</button>
    </div>
    <div class="cell small-12 medium-12 large-12">
      <input type="checkbox" name="" id="">
      <label for="">Declaro haber leido el
        <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
        conforme con el mismo.</label>
    </div>
  </div>
  <div class="cell small-2 medium-2 large-2"></div>
</div>

<div class="grid-x cell small-4 medium-4 large-4"></div>
<div class="grid-x cell small-4 medium-4 large-4">

</div>
