<div class="row columns">
  <div class="medium-3 columns">
      <ul class="menu-left">
          <li><a href="quienes-somos">¿Quienes somos?</a></li>
          <li><a href="revista-digital">Revista digital</a></li>
          <li><a href="glosario">Glosario</a></li>
          <li><a class="active" href="#">Contáctenos</a></li>
          <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
          <li><a href="aviso-legal">Aviso legal</a></li>
          <li><a href="politica-datos">Politica de Tratamiento de datos</a></li>
          <li><a href="mapa-sitio">Mapa del sitio</a></li>

      </ul>
  </div>
  <div class="medium-9 columns">
      <div class="row">
          <div class="medium-8 medium-offset-2 columns">
              <h1>Contáctenos</h1>
              <div class="container-form">
                  <input type="text" placeholder="Nombre">
                  <input type="text" placeholder="Apellido">
                  <input type="text" placeholder="Email">
                  <input type="text" placeholder="Teléfono">
                  <select>
                      <option value="email">Deseas ser contactado via</option>
                  </select>
                  <textarea placeholder="Comentarios"></textarea>

                  <div class="text-left terminos">
                      <div>
                          <input id="checkbox1" type="checkbox"><label for="right-label" class="text-left">Declaro
                              haber leido los <a href="#">Términos de privacidad</a> y estar conforme con los
                              mismos.</label>
                      </div>
                      <div> <input id="checkbox1" type="checkbox"><label for="right-label" class="text-left">Enviar
                              una copia del mensaje a su propio Email</label></div>
                  </div>
                  <div class="text-center">
                  <a href="#" class="button secondary ">Enviar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<hr class="white">
<div class="container-blue">
  <div class="row columns text-center">
      <h2 class="deco">Suscribirse a nuestro boletín</h2>
      <p>Suscribete a nustro boletin y recibe nuestros últimos contenidos.</p>
      <div>
          <form action="">
              <div class="row condensed">
                  <div class="medium-7 medium-offset-2 columns">
                      <input type="text" placeholder="Ingresa tu correo electrónico" />
                  </div>
                  <div class="medium-1 columns end">
                      <a href="#" class="button expanded secondary">Suscribirse</a>
                  </div>
                  <div class="medium-7 medium-offset-2 columns end text-left">
                      <input id="checkbox1" type="checkbox"><label for="checkbox1">Declaro haber leido el <a href="#">
                              Aviso de Privacidad</a> y estar conforme con el mismo</label>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>