<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell small-1 medium-1 large-1"></div>
    <div class="cell small-3 medium-3 large-3">
      <ul class="vertical menu information-company">
        <li><a href="quienes-somos">¿Qui&eacute;nes somos?</a></li>
        <li><a href="glosario">Glosario</a></li>
        <li class="is-active"><a href="contactenos">Cont&aacute;ctenos</a></li>
        <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
        <li><a href="politica-datos">Pol&iacute;tica de tratamiento de datos</a></li>
        <li><a href="mapa-sitio">Mapa del sitio</a></li>
      </ul>
    </div>
    <div class="grid-x cell small-8 medium-8 large-8">
      <div class="cell small-2 medium-2 large-2"></div>
      <div class="grid-x cell small-6 medium-6 large-6">
        <div class="cell small-12 medium-12 large-12">
          <h2>Cont&aacute;ctanos</h2>
        </div>
        <div class="cell small-12 medium-12 large-12">
          <input type="text" name="" id="" placeholder="Nombre*">
        </div>
        <div class="cell small-12 medium-12 large-12">
          <input type="text" name="" id="" placeholder="Apellido*">
        </div>
        <div class="cell small-12 medium-12 large-12">
          <input type="text" name="" id="" placeholder="Email*">
        </div>
        <div class="cell small-12 medium-12 large-12">
          <input type="text" name="" id="" placeholder="Tel&eacute;fono">
        </div>
        <div class="cell small-12 medium-12 large-12">
          <select name="" id="">
            <option value="">Ciudad</option>
            <option value="">.....</option>
          </select>
        </div>
        <div class="cell small-12 medium-12 large-12">
          <select name="" id="" aria-placeholder="Desea ser contactado v&iacute;a">
            <option value="">Desea ser contactado v&iacute;a:*</option>
            <option value="">Tel&eacute;fono</option>
            <option value="">Whatsapp</option>
            <option value="">Correo Electr&oacute;nico</option>
          </select>
        </div>
        <div class="cell small-12 medium-12 large-12">
          <textarea name="" id="" cols="30" rows="3" placeholder="Comentarios"></textarea>
        </div>
        <div class="cell small-12 medium-12 large-12">
          <div class="control-group">
            <label for="sendCopy" class="control control-radio">
              Enviar una copia de este mensaje a su propio E-mail
              <input type="radio" name="sendCopy" value="sendCopy" id="sendCopy">
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
        <div class="cell small-12 medium-12 large-12">
          <input id="checkbox1" type="checkbox"><label for="checkbox1" class="small">Declaro haber leido
            el
            <a href="http://" target="_blank" rel="noopener noreferrer">Aviso de privacidad</a> y estar
            conforme con el mismo.</label>
          <span class="form-error">
            Debe aceptor el Aviso de Privacidad
          </span>
        </div>
        <div class="cell small-12 medium-12 large-12 text-center">
          <button class="button search_button">Enviar</button>
        </div>
      </div>
      <div class="cell small-4 medium-4 large-4"></div>
    </div>
  </div>
</div>
