<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  template="<img src='/assets/images/logo-ev.png' />"
>
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="row columns">
  <div class="medium-3 columns">
      <ul class="menu-left">
          <li><a href="quienes-somos">¿Quienes somos?</a></li>
          <li><a href="revista-digital">Revista digital</a></li>
          <li><a href="glosario">Glosario</a></li>
          <li><a class="active" href="#">Contáctenos</a></li>
          <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
          <li><a href="aviso-legal">Aviso legal</a></li>
          <li><a href="politica-datos">Politica de Tratamiento de datos</a></li>
          <!-- <li><a href="mapa-sitio">Mapa del sitio</a></li> -->

      </ul>
  </div>
  <div class="medium-9 columns">
      <div class="row">
          <div class="medium-8 medium-offset-2 columns">
              <h1>Contáctenos</h1>
              <form data-abide novalidate [formGroup]="form">
                    <div class="container-form">
                        <span id="spanName" class="error hide">
                            Debe digitar un nombre de contacto
                        </span>
                        <input type="text" placeholder="Nombre" aria-errormessage="nameError" formControlName="name"
                        name="name" required pattern="text">
                        <span id="spannLastName" class="error hide">
                            Debe digitar un apellido de contacto
                        </span>
                        <input type="text" placeholder="Apellido" aria-errormessage="lastnameError"
                        formControlName="lastname" name="lastnanme" required pattern="text">
                        <span id="spanEmail" class="error hide">
                            Debe digitar un correo de contacto valido
                        </span>
                        <input type="text" placeholder="Email" aria-errormessage="emailError" formControlName="email"
                        name="email" required pattern="email">
                        <span id="spanPhone" class="error hide">
                            Debe digitar un n&uacute;mbre de contacto
                        </span>
                        <input type="text" placeholder="Teléfono" aria-errormessage="phoneError"
                        formControlName="phone" name="phone" required>
                        <span id="spanCity" class="error hide">
                            Debe seleccionar una ciudad
                          </span>
                        <select id="select" required formControlName="city" name="city">
                        <option value="Ciudad">Ciudad:</option>
                        <option value="bogota">Bogotá</option>
                        <option value="barranquilla">Barranquilla</option>
                        </select>
                        <span id="spanContact" class="error hide">
                            Debe seleccionar una opción
                          </span>
                        <select id="select" required formControlName="contact" name="contact">
                        <option value="Deseas ser contactado">Deseas ser contactado v&iacute;a:</option>
                        <option value="telefono">Tel&eacute;fonica</option>
                        <option value="email">Correo Electr&oacute;nico</option>
                        <option value="correo">Correo Postal</option>
                        </select>

                        <textarea placeholder="Comentarios" formControlName="comment" name="comment"></textarea>

                        <div class="text-left terminos">
                            <div>
                                <span id="spanTerm" class="error hide">
                                    Debe aceptar los términos
                                    </span>
                                <input id="checkbox1" type="checkbox" formControlName="term" name="term"><label for="right-label" class="text-left">Declaro
                                    haber leido los <a href="/aviso-privacidad">Términos de privacidad</a> y estar conforme con los
                                    mismos.</label>

                            </div>
                            <div> <input id="checkbox1" type="checkbox" formControlName="emailCopy" name="emailCopy"><label for="right-label" class="text-left">Enviar
                                    una copia del mensaje a su propio Email</label></div>
                        </div>
                        <div class="text-center">
                        <span  class="button secondary " (click)="onSubmit(form.value)">Enviar</span>
                        </div>
                    </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div class="reveal text-center" id="exampleModal1" data-reveal>
<img src="../images/logo-ev.png">
    <h2>¡Gracias!</h2>
    <p>Pronto te llegará toda la información a tu correo</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<hr class="white">
<div class="container-blue">
  <div class="row columns text-center">
      <h2 class="deco">Suscribirse a nuestro boletín</h2>
      <p>Suscribete a nustro boletin y recibe nuestros últimos contenidos.</p>
      <div>
          <form action="">
              <div class="row condensed">
                  <div class="medium-7 medium-offset-2 columns">
                      <input type="text" placeholder="Ingresa tu correo electrónico" />
                  </div>
                  <div class="medium-1 columns end">
                      <a href="#" class="button expanded secondary">Suscribirse</a>
                  </div>
                  <div class="medium-7 medium-offset-2 columns end text-left">
                      <input id="checkbox1" type="checkbox"><label for="checkbox1">Declaro haber leido el <a href="#">
                              Aviso de Privacidad</a> y estar conforme con el mismo</label>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
