<div class="grid-container">
  <div class="cell medium-12 large-12 small-12">
    &nbsp;
  </div>
  <div class="grid-x grid-margin-x grid-margin-y cell medium-12 large-12 small-12">
    <div class="cell medium-2 large-2 small-2"></div>
    <div class="grid-x grid-margin-x medium-8 large-8 small-8 background-primary">
      <div class="cell medium-1 large-1 small-1">
      </div>
      <div class="grid-x cell medium-10 large-10 small-10">
        <div class="grid-x cell medium-5 large-5 small-5">
          <div class="cell medium-12 large-12 small-12">
            <h5>Para mantenerte informado con proyectos de tu inter&eacute;s</h5>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿Cu&aacute;l es tu <strong>presupuesto</strong> de compra?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿Cu&aacute;nto suman tus <strong>ingresos</strong> familiares?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿En cu&aacute;nto <strong>tiempo</strong> esperas estrenar vivienda?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿En qu&eacute; ciudad o sector <strong>vives</strong>?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <input type="text" name="" id="" placeholder="P. ej. Castilla, Bogot&aacute;">
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿En qu&eacute; ciudad o sector <strong>trabajas</strong>?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <input type="text" name="" id="" placeholder="P. ej. Chapinero, Bogot&aacute;">
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">¿Cu&aacute;l ser&iacute; el plazo de financiamiento en a&ntilde;os?</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-torso"></i>
              </span>
              <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class=" grid-x cell medium-12 large-12 small-12">

            <span>¿Quieres que te enviemos al correo el c&aacute;lculo del cr&eacute;dito para este proyecto?</span>
            <div class="cell medium-6 large-6 small-6">
              <div class="control-group">
                <label for="sendMailYes" class="control control-radio">
                  S&iacute;
                  <input type="radio" name="sendMail" formControlName="sendMail" value="si" id="sendMailYes">
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>

            <div class="cell medium-6 large-6 small-6">
              <div class="control-group">
                <label for="sendMailNo" class="control control-radio">
                  No
                  <input type="radio" name="sendMail" formControlName="sendMail" value="no" id="sendMailNo">
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
          </div>
          <div class=" grid-x cell medium-12 large-12 small-12">

            <span>¿Vas a comprar con subsidio?</span>
            <div class="cell medium-6 large-6 small-6">
              <div class="control-group">
                <label for="subsidioYes" class="control control-radio">
                  S&iacute;
                  <input type="radio" name="subsidio" formControlName="subsidio" value="si" id="subsidioYes">
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>

            <div class="cell medium-6 large-6 small-6">
              <div class="control-group">
                <label for="subsidioNo" class="control control-radio">
                  No
                  <input type="radio" name="subsidio" formControlName="subsidio" value="no" id="subsidioNo">
                  <div class="control_indicator"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="cell medium-2 large-2 small-2"></div>
        <div class="cell medium-5 large-5 small-5">
          <div class="cell medium-12 large-12 small-12">
            <h5>¡Crea una contrase&ntilde;a!</h5>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <h6>Para completar tu registro, crea una contrase&ntilde;a:</h6>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">Contrase&ntilde;a (min 6 caract&eacute;res)</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-key"></i>
              </span>
              <input type="text" name="" id="" placeholder="Contrase&ntilde;a">
            </div>
          </div>
          <div class="cell medium-12 large-12 small-12">
            <label for="">Repetir contrase&ntilde;a</label>
            <div class="input-group">
              <span class="input-group-label">
                <i class="fi-key"></i>
              </span>
              <input type="text" name="" id="" placeholder="Repetir contrase&ntilde;a">
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-1 large-1 small-1">
      </div>
      <div class="cell medium-12 large-12 small-12 text-center">
        <a href="" class="button search_button">Finalizar y crear cuenta</a>
      </div>
      <div class="cell medium-12 large-12 small-12 text-center"></div>
    </div>
    <div class="cell medium-2 large-2 small-2"></div>
  </div>
</div>
