<div class="row columns text-center">
  <div class="publicidad">
      <img src="/assets/images/banner1.jpg" alt="">
  </div>
</div>
<div class="row columns">
  <h1>Constructoras</h1>
  <div>
      <form action="">
          <div class="row">
              <div class="medium-4 columns end">
                  <input type="search" placeholder="Buscar constructora" />
              </div>
              <div class="medium-4 columns end">
                  <input type="search" placeholder="Ciudad" />
              </div>
              <div class="medium-2 columns end">
                  <a href="#" class="button expanded">Buscar</a>
              </div>
          </div>
      </form>
  </div> 
  <hr>
</div>
<div class="row columns">
  <div class="medium-4 columns end" *ngFor="let project1 of response; let i = index">
      <div class="card constructora">
          <div class="row">
              <div class="small-4 columns foto">
                  <img [src]="project1.url_img" alt="" class="image">
              </div>
              <div class="small-8 columns">
                  <div class="title">Amarilo</div>
                  <div class="info">{{ project1.direccion }} Bogotá. +571 5800 0000</div>
              </div>
              <hr class="white">
              <div class="small-12 columns">
                  <p [innerHTML]=project1.descripcion></p>
              </div>
              <div class="small-12 columns text-center">
              <a href="/proyectos" class="button secondary">Proyectos</a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row columns text-center">
<a href="#" class="button secondary">Cargar más</a>
</div>
<hr class="white">