<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner> -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" template="<img src='/assets/images/logo-ev.png' />">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<!--Bloque1 -->
<div class="container-gray">
    <div class="row columns text-center">
        <!-- <div> -->
        <div id='beacon_ffca91f02b' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'>
            <img src='https://ads.estrenarvivienda.com/www/delivery/lg.php?bannerid=0&amp;campaignid=0&amp;zoneid=16&amp;loc=https%3A%2F%2Fwww.estrenarvivienda.com%2Fproyectos-vivienda&amp;cb=ffca91f02b' width='0' height='0' alt='' style='width: 0px; height: 0px;'
            />
        </div>
        <!-- </div> -->
    </div>
    <div class="row columns">
        <h2 class="text-center deco">¿Qué estás buscando?</h2>
        <div class="medium-3 columns end">
            <div class="row">
                <div class="small-3 medium-6 columns text-center">
                    <a class="icono" (click)="findTypes('Casas')"><img src="/assets/images/icon-casa.png" alt="casas"></a>
                    <div class="title-icono">Casa</div>
                </div>
                <div class="small-3 medium-6 columns text-center">
                    <a class="icono" (click)="findTypes('Apartamentos')"><img src="/assets/images/icon-apto.png" alt="casas"></a>
                    <div class="title-icono">Apartamentos</div>
                </div>
                <div class="small-3 medium-6 columns text-center">
                    <a class="icono" (click)="findTypes('Apartaestudios')"><img src="/assets/images/icon-aptoe.png" alt="casas"></a>
                    <div class="title-icono">Apartaestudios</div>
                </div>
                <div class="small-3 medium-6 columns text-center">
                    <a class="icono" href="/vis"><img src="/assets/images/icon-vis.png" alt="casas"></a>
                    <div class="title-icono">VIS</div>
                </div>
            </div>
        </div>
        <hr class="mobile">
        <!--slide-->
        <div class="medium-9 columns">
            <div class="slider" role="region" aria-label="Favorite Space Pictures">
                <div class="">
                    <ul class="slider-home">
                        <li class="is-active ">
                            <div class="row">
                                <div class="medium-8 columns destacado">
                                    <figure class="">
                                        <div *ngIf="response.home_featured_collections[0]; else imgOther0">
                                            <a (click)=(loadCollection(response.home_featured_collections[0].id,response.home_featured_collections[0].name))>
                                                <img class="" [src]="response.home_featured_collections[0].image.url" alt="">
                                            </a>
                                        </div>
                                        <ng-template #imgOther0>
                                            <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                        </ng-template>
                                        <figcaption class="">{{ response.home_featured_collections[0] ? response.home_featured_collections[0].name : "" }}</figcaption>
                                    </figure>
                                </div>
                                <div class="medium-4 columns">
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[1]; else imgOther1">
                                                    <a (click)=(loadCollection(response.home_featured_collections[1].id,response.home_featured_collections[1].name))>
                                                        <img class="" [src]="response.home_featured_collections[1].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther1>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[1] ? response.home_featured_collections[1].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[2]; else imgOther2">
                                                    <a (click)=(loadCollection(response.home_featured_collections[2].id,response.home_featured_collections[2].name))>
                                                        <img class="" [src]="response.home_featured_collections[2].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther2>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[2] ? response.home_featured_collections[2].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <div class="medium-4 columns">
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[3]; else imgOther3">
                                                    <a (click)=(loadCollection(response.home_featured_collections[3].id,response.home_featured_collections[3].name))>
                                                        <img class="" [src]="response.home_featured_collections[3].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther3>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[3] ? response.home_featured_collections[3].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[4]; else imgOther4">
                                                    <a (click)=(loadCollection(response.home_featured_collections[4].id,response.home_featured_collections[4].name))>
                                                        <img class="" [src]="response.home_featured_collections[4].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther4>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[4] ? response.home_featured_collections[4].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>

                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[5]; else imgOther5">
                                                    <a (click)=(loadCollection(response.home_featured_collections[5].id,response.home_featured_collections[5].name))>
                                                        <img class="" [src]="response.home_featured_collections[5].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther5>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[5] ? response.home_featured_collections[5].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[6]; else imgOther6">
                                                    <a (click)=(loadCollection(response.home_featured_collections[6].id,response.home_featured_collections[6].name))>
                                                        <img class="" [src]="response.home_featured_collections[6].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther6>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[6] ? response.home_featured_collections[6].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>

                                    </div>
                                </div>
                                <div class="medium-4 columns">
                                    <div class="row">
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[7]; else imgOther7">
                                                    <a (click)=(loadCollection(response.home_featured_collections[7].id,response.home_featured_collections[7].name))>
                                                        <img class="" [src]="response.home_featured_collections[7].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther7>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[7] ? response.home_featured_collections[7].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="medium-12 columns">
                                            <figure class="">
                                                <div *ngIf="response.home_featured_collections[8]; else imgOther8">
                                                    <a (click)=(loadCollection(response.home_featured_collections[8].id,response.home_featured_collections[8].name))>
                                                        <img class="" [src]="response.home_featured_collections[8].image.url" alt="">
                                                    </a>
                                                </div>
                                                <ng-template #imgOther8>
                                                    <img class="" src="/assets/images/content/ficha.jpg" alt="">
                                                </ng-template>
                                                <figcaption class="">{{ response.home_featured_collections[8] ? response.home_featured_collections[8].name : "" }}
                                                </figcaption>
                                            </figure>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--fin slide-->
    </div>
</div>
<div class="reveal text-center" id="exampleModal2" data-reveal>
    <h2>Contactar</h2>
    <form data-abide novalidate [formGroup]="form">
        <div class="container-form">
            <span id="spanName" class="error hide">
                Debe digitar un nombre de contacto
              </span>
            <input type="text" placeholder="Nombre" aria-errormessage="nameError" formControlName="name" name="name" required pattern="text">
            <span id="spannLastName" class="error hide">
            Debe digitar un apellido de contacto
          </span>
            <input type="text" placeholder="Apellido" aria-errormessage="lastnameError" formControlName="lastname" name="lastnanme" required pattern="text">
            <span id="spanEmail" class="error hide">
            Debe digitar un correo de contacto valido
          </span>
            <input type="text" placeholder="Email" aria-errormessage="emailError" formControlName="email" name="email" required pattern="email">
            <span id="spanPhone" class="error hide">
            Debe digitar un n&uacute;mbre de contacto
          </span>
            <input type="text" placeholder="Teléfono" aria-errormessage="phoneError" formControlName="phone" name="phone" required>
            <span id="spanContact" class="error hide">
            Debe seleccionar una opción
          </span>
            <select id="select" required formControlName="contact" name="contact">
            <option value="Deseas ser contactado">Deseas ser contactado v&iacute;a:</option>
            <option value="telefono">Tel&eacute;fonica</option>
            <option value="email">Correo Electr&oacute;nico</option>
            <option value="correo">Correo Postal</option>
          </select>
            <span id="spanTypesearch" class="error hide">
            Debe seleccionar una opción
            </span>
            <fieldset class="text-left">
                <legend>Buscas vivienda para:</legend>
                <input type="radio" formControlName="typeSearch" name="typeSearch" value="habitar" id="houseForHabitar"><label for="">Habitar</label>
                <input type="radio" formControlName="typeSearch" name="typeSearch" value="invertir" id="houseForInvertir"><label for="">Invertir</label>
            </fieldset>
            <span id="spanTerm" class="error hide">
            Debe aceptar los términos
            </span>
            <div class="text-left terminos">
                <input id="checkbox1" type="checkbox" formControlName="term" name="term"><label for="right-label" class="text-left">Declaro
                  haber leido los <a href="/aviso-privacidad">Términos de privacidad</a> y estar conforme con los
                  mismos.</label>

            </div>
            <span href="" class="button secondary" (click)="onSubmit(form.value)">Enviar</span>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="reveal text-center" id="exampleModal1" data-reveal>
    <img src="/assets/images/logo-ev.png">
    <h2>¡Gracias!</h2>
    <p>Pronto te llegará toda la información a tu correo</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!--fin bloque1 -->
<!--Bloque2 -->
<div class="container">
    <div class="row columns">
        <h2 class="text-center deco">Proyectos destacados</h2>
        <div class="medium-6 columns">
            <!-- Card Proyecto individual destacado-->
            <div class="card">
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="container-photo vertical">
                            <img [src]="response.home_featured_typologies[0].typology_images" alt="" class="proyecto">
                            <div class="container-tools">
                                <div class="tags">
                                    <div *ngIf="response.home_featured_typologies[0].project_category.length > 0">
                                        <div class="tag" *ngFor="let tags of response.home_featured_typologies[0].project_category; let i = index">
                                            <a>{{ tags }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="add">
                                    <a (click)="addFavorite(response.home_featured_typologies[0].nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="medium-6 columns featured">
                        <div class="cont-destacado">
                            <div class="card-section info">
                                <h2>{{ response.home_featured_typologies[0].project }}</h2>
                                <div class="descripcion">
                                    {{ response.home_featured_typologies[0].project_city }}, {{ response.home_featured_typologies[0].project_zone }}, {{ response.home_featured_typologies[0].project_neighborhood }}
                                </div>
                                <div class="precio text-center">
                                    <div>Desde:</div>
                                    <span>$ {{ response.home_featured_typologies[0].typology_price | number }}</span>
                                </div>

                            </div>
                            <div class="card-section">
                                <hr>
                                <div class="row">
                                    <div class="small-6 columns">
                                        <div class="item">
                                            <div class="data-icon"><img src="/assets/images/icon-medida.png" alt="">
                                            </div>
                                            <div class="data">{{ response.home_featured_typologies[0].area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-6 columns">
                                        <div class="item">
                                            <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt="">
                                            </div>
                                            <div class="data">{{ response.home_featured_typologies[0].bedrooms }} alcobas </div>
                                        </div>
                                    </div>
                                    <div class="small-6 columns">
                                        <div class="item">
                                            <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt="">
                                            </div>
                                            <div class="data">{{ response.home_featured_typologies[0].garages }} garajes
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-6 columns">
                                        <div class="item">
                                            <div class="data-icon"><img src="/assets/images/icon-water.png" alt="">
                                            </div>
                                            <div class="data">{{ response.home_featured_typologies[0].bathrooms }} baños
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="card-section">
                                <div class="button-group align-spaced ">
                                    <a class="button" href="/es{{response.home_featured_typologies[0].url}}">Ver
                                        Proyecto</a>
                                    <a class="button" data-open="exampleModal2">Contacto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="comparador-btn">
                <div class="container-comparador">
                    <h2>¿Quieres comparar?</h2>
                    <div class="subtitle">Selecciona tus proyectos favoritos para hacerlo</div>
                </div>
            </div>
            <!-- Fin Card Proyecto individual destacado-->
        </div>
        <div class="medium-6 columns">
            <!--slide proyecto-->
            <div class="slider" role="region" aria-label="Favorite Space Pictures">
                <div class="">

                    <ul class="slider-projects-home">
                        <li class="is-active ">
                            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                                <div class="medium-6 columns">
                                    <!-- Card Proyecto individual-->
                                    <div class="card" data-equalizer-watch>
                                        <div class="container-photo">
                                            <img [src]="response.home_featured_typologies[1].typology_images" alt="" class="proyecto-card">
                                            <div class="container-tools">
                                                <div class="tags">
                                                    <div *ngIf="response.home_featured_typologies[1].project_category.length > 0">
                                                        <div class="tag" *ngFor="let tags of response.home_featured_typologies[1].project_category; let i = index">
                                                            <a>{{ tags }}</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="add">
                                                    <a (click)="addFavorite(response.home_featured_typologies[1].nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-section info">
                                            <h2>{{ response.home_featured_typologies[1].project }}</h2>
                                            <div class="descripcion">
                                                {{ response.home_featured_typologies[1].project_city }}, {{ response.home_featured_typologies[1].project_zone }}, {{ response.home_featured_typologies[1].project_neighborhood }}
                                            </div>
                                        </div>
                                        <div class="precio text-center">
                                            <div>Desde:</div>
                                            <span>$ {{ response.home_featured_typologies[1].typology_price | number }}</span>
                                        </div>
                                        <hr>

                                        <div class="card-section">
                                            <hr>
                                            <div class="row">
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[1].area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[1].bedrooms }} alcobas
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[1].garages }} garajes
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[1].bathrooms }} baños
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="card-section">
                                            <div class="button-group align-spaced ">
                                                <a class="button" href="/es/{{response.home_featured_typologies[1].url}}">Ver
                                                    Proyecto</a>
                                                <a class="button" data-open="exampleModal2">Contacto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Card Proyecto individual-->

                                <div class="medium-6 columns">
                                    <!-- Card Proyecto individual-->
                                    <div class="card" data-equalizer-watch>
                                        <div class="container-photo">
                                            <img [src]="response.home_featured_typologies[2].typology_images" alt="" class="proyecto-card">
                                            <div class="container-tools">
                                                <div class="tags">
                                                    <div *ngIf="response.home_featured_typologies[2].project_category.length > 0">
                                                        <div class="tag" *ngFor="let tags of response.home_featured_typologies[2].project_category; let i = index">
                                                            <a>{{ tags }}</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="add">
                                                    <a (click)="addFavorite(response.home_featured_typologies[2].nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-section info">
                                            <h2>{{ response.home_featured_typologies[2].project }}</h2>
                                            <div class="descripcion">
                                                {{ response.home_featured_typologies[2].project_city }}, {{ response.home_featured_typologies[2].project_zone }}, {{ response.home_featured_typologies[2].project_neighborhood }}
                                            </div>
                                        </div>
                                        <div class="precio text-center">
                                            <div>Desde:</div>
                                            <span>$ {{ response.home_featured_typologies[2].typology_price | number }}</span>
                                        </div>
                                        <hr>

                                        <div class="card-section">
                                            <hr>
                                            <div class="row">
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[2].area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[2].bedrooms }} alcobas
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[2].garages }} garajes
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[2].bathrooms }} baños
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="card-section">
                                            <div class="button-group align-spaced ">
                                                <a class="button" href="/es/{{response.home_featured_typologies[2].url}}">Ver
                                                    Proyecto</a>
                                                <a class="button" data-open="exampleModal2">Contacto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <div class="medium-6 columns">
                                    <!-- Card Proyecto individual-->
                                    <div class="card" data-equalizer-watch>
                                        <div class="container-photo">
                                            <img [src]="response.home_featured_typologies[3].typology_images" alt="" class="proyecto-card">
                                            <div class="container-tools">
                                                <div class="tags">
                                                    <div *ngIf="response.home_featured_typologies[3].project_category.length > 0">
                                                        <div class="tag" *ngFor="let tags of response.home_featured_typologies[3].project_category; let i = index">
                                                            <a>{{ tags }}</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="add">
                                                    <a (click)="addFavorite(response.home_featured_typologies[3].nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-section info">
                                            <h2>{{ response.home_featured_typologies[3].project }}</h2>
                                            <div class="descripcion">
                                                {{ response.home_featured_typologies[3].project_city }}, {{ response.home_featured_typologies[3].project_zone }}, {{ response.home_featured_typologies[3].project_neighborhood }}
                                            </div>
                                        </div>
                                        <div class="precio text-center">
                                            <div>Desde:</div>
                                            <span>$ {{ response.home_featured_typologies[3].typology_price | number
                                                }}</span>
                                        </div>
                                        <hr>

                                        <div class="card-section">
                                            <hr>
                                            <div class="row">
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[3].area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[3].bedrooms }} alcobas
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[3].garages }} garajes
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[3].bathrooms }} baños
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="card-section">
                                            <div class="button-group align-spaced ">
                                                <a class="button" href="/es/{{response.home_featured_typologies[3].url}}">Ver
                                                    Proyecto</a>
                                                <a class="button" data-open="exampleModal2">Contacto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="medium-6 columns">
                                    <!-- Card Proyecto individual-->
                                    <div class="card" data-equalizer-watch>
                                        <div class="container-photo">
                                            <img [src]="response.home_featured_typologies[4].typology_images" alt="" class="proyecto-card">
                                            <div class="container-tools">
                                                <div class="tags">
                                                    <div *ngIf="response.home_featured_typologies[4].project_category.length > 0">
                                                        <div class="tag" *ngFor="let tags of response.home_featured_typologies[4].project_category; let i = index">
                                                            <a>{{ tags }}</a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="add">
                                                    <a (click)="addFavorite(response.home_featured_typologies[4].nid);" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-section info">
                                            <h2>{{ response.home_featured_typologies[4].project }}</h2>
                                            <div class="descripcion">
                                                {{ response.home_featured_typologies[4].project_city }}, {{ response.home_featured_typologies[4].project_zone }}, {{ response.home_featured_typologies[4].project_neighborhood }}
                                            </div>
                                        </div>
                                        <div class="precio text-center">
                                            <div>Desde:</div>
                                            <span>$ {{ response.home_featured_typologies[4].typology_price | number
                                                }}</span>
                                        </div>
                                        <hr>

                                        <div class="card-section">
                                            <hr>
                                            <div class="row">
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[4].area_built }} m2 <span data-tooltip class="right" tabindex="3" title="El valor corresponde al área construida">!</span></div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[4].bedrooms }} alcobas
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[4].garages }} garajes
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="small-6 columns">
                                                    <div class="item">
                                                        <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                                                        <div class="data">{{ response.home_featured_typologies[4].bathrooms }} baños
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="card-section">
                                            <div class="button-group align-spaced ">
                                                <a class="button" href="/es/{{response.home_featured_typologies[4].url}}">Ver
                                                    Proyecto</a>
                                                <a class="button" data-open="exampleModal2">Contacto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--fin slide proyecto-->
        </div>
    </div>
    <hr class="white">


    <div class="row text-center">
        <hr class="white">
        <div class="publicidad">
            <img src="/assets/images/banner1.jpg" alt="">
        </div>
    </div>
</div>
<!--fin bloque2 -->
<!--Bloque3 -->
<div class="container-gray">
    <div class="row columns">
        <h2 class="text-center deco">Constructoras</h2>
        <div class="sl-constructoras" role="region" aria-label="Favorite Space Pictures">
            <div class="">

                <ul class="slider-builders-home">
                    <li class="is-active ">
                        <div class="row">
                            <div class="small-4 medium-2 columns end" *ngFor="let builder of response.home_featured_builders; let i = index">
                                <div *ngIf="i < 6">
                                    <figure class="">
                                        <img class="" [src]="builder.builder_logo" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="row">
                            <div class="small-4 medium-2 columns end" *ngFor="let builder of response.home_featured_builders; let i = index">
                                <div *ngIf="i >= 6">
                                    <figure class="">
                                        <img class="" [src]="builder.builder_logo" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--fin bloque3 -->
<!--Bloque4 -->
<div class="container">
    <div class="row columns">
        <h2 class="text-center deco">Blog</h2>
        <div class="" role="region" aria-label="Favorite Space Pictures">
            <div class="">
                <ul class="slider-blog-home">
                    <li class="is-active ">
                        <div class="row">
                            <div class="medium-3 columns end" *ngFor="let blog of response.home_featured_articles; let i = index">
                                <div class="blog-list">
                                    <div class="img">
                                        <a href="{{blog.url}}"><img [src]="blog.article_image" alt=""></a>
                                    </div>
                                    <div class="social">
                                        <div class="comment"><img src="/assets/images/comment.png" alt=""><span>{{blog.comments}}</span>
                                        </div>
                                        <div class="like"><img src="/assets/images/like.png" alt=""><span>{{blog.likes}}</span></div>
                                    </div>

                                    <div class="section"><a href="{{blog.url}}">{{ blog.article_type }}</a></div>
                                    <h3><a href="{{blog.url}}">{{ blog.title.slice(0,90) }}</a></h3>
                                    <!-- <div class="resumen" [innerHTML]=blog.descripcion.slice(0,180)>
                                  </div> -->
                                    <div class="resumen">
                                        <p [innerHTML]=blog.description.slice(0,160)+stringText></p>
                                    </div>
                                    <!-- <hr> -->
                                    <a href="{{blog.url}}" class="button">Seguir leyendo</a>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--fin bloque4 -->
