/************************************************************
* Estilos servicios carrousell                                         *
*************************************************************/

.link-carrousel-icon {
  display: block;
  padding-top: 12px;
  color: #14444E;
  font-weight: bolder;
}

/************************************************************
* Estilos Carrousell Constructora                                         *
*************************************************************/

.builder-card-carrousell {
  display: inline-block;
  padding: 2rem;
  max-width: 100%;
}

.top_bar {
  background-image: url("https://placehold.it/1920x1080/888?text=Imagen-Cabecera");
}
