
<!--Bloque1 -->
<div class="container-gray">
  <div class="row columns text-center">
      <div class="publicidad">
          <img src="/assets/images/banner1.jpg" alt="">
      </div>
  </div>
  <div class="row columns">
      <h2 class="text-center deco">¿Qué estas buscando?</h2>
      <div class="medium-3 columns end">
          <div class="row">
              <div class="small-6 columns text-center">
                  <a class="icono" href="#"><img src="/assets/images/icon-casa.png" alt="casas"></a>
                  <div class="title-icono">Casa</div>
              </div>
              <div class="small-6 columns text-center">
                  <a class="icono" href="#"><img src="/assets/images/icon-apto.png" alt="casas"></a>
                  <div class="title-icono">Apartamentos</div>
              </div>
              <div class="small-6 columns text-center">
                  <a class="icono" href="#"><img src="/assets/images/icon-aptoe.png" alt="casas"></a>
                  <div class="title-icono">Apartaestudios</div>
              </div>
              <div class="small-6 columns text-center">
                  <a class="icono" href="#"><img src="/assets/images/icon-vis.png" alt="casas"></a>
                  <div class="title-icono">VIS</div>
              </div>
          </div>
      </div>
      <!--slide-->
      <div class="medium-9 columns">
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
              <div class="orbit-wrapper">

                  <ul class="orbit-container">
                      <li class="is-active orbit-slide">
                          <div class="row">
                              <div class="medium-8 columns destacado">
                                  <figure class="orbit-figure">
                                      <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                                  </figure>
                              </div>
                              <div class="medium-4 columns">
                                  <div class="row">
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="orbit-slide">
                          <div class="row">
                              <div class="medium-4 columns">
                                  <div class="row">
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>

                                  </div>
                              </div>
                              <div class="medium-4 columns">
                                  <div class="row">
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>

                                  </div>
                              </div>
                              <div class="medium-4 columns">
                                  <div class="row">
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>
                                      <div class="medium-12 columns">
                                          <figure class="orbit-figure">
                                              <img class="orbit-image" src="/assets/images/content/ficha.jpg" alt="">
                                              <figcaption class="orbit-caption">Space, the final frontier.
                                              </figcaption>
                                          </figure>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="container-controls">
                  <nav class="orbit-bullets">
                      <button class="is-active" data-slide="0">
                          <span class="show-for-sr">First slide details.</span>
                          <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                      </button>
                      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                  </nav>
                  <div class="orbit-controls">
                      <button class="orbit-previous"><span class="show-for-sr">Previous
                              Slide</span>&#9664;&#xFE0E;</button>
                      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                  </div>
              </div>
          </div>
      </div>
      <!--fin slide-->
  </div>
</div>
<!--fin bloque1 -->
<!--Bloque2 -->
<div class="container">
  <div class="row columns">
      <h2 class="text-center deco">Proyectos destacados</h2>
      <div class="medium-6 columns">
          <!-- Card Proyecto individual destacado-->
          <div class="card">
              <div class="row">
                  <div class="medium-6 columns">
                      <div class="container-photo vertical">
                          <img [src]="response.header_proj1[0].url_img" alt="" class="proyecto">
                          <div class="container-tools">
                              <div class="tags">
                                  <div class="tag"><a href="#">VIS</a></div>
                                  <div class="tag"><a href="#">Mi casa ya</a></div>
                              </div>
                              <div class="add">
                                  <a href="#" class="fav"><img src="/assets/images/add.png" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="medium-6 columns">
                      <div class="card-section">
                          <h2>{{ response.header_proj1[0].direccion }}</h2>
                          <div class="descripcion">
                              {{ response.header_proj1[0].sub_titulo }}
                          </div>
                          <div class="precio text-center">
                              <div>Desde:</div>
                              <span>{{ response.header_proj1[0].valor_venta | number }}</span>
                          </div>
                          <hr>
                      </div>
                      <div class="card-section">
                          <div class="row">
                              <div class="small-6 columns">
                                  <div class="item">
                                      <div class="data-icon"><img src="/assets/images/icon-medida.png" alt=""></div>
                                      <div class="data">{{  response.header_proj1[0].medida_apartamento }} m </div>
                                  </div>
                              </div>
                              <div class="small-6 columns">
                                  <div class="item">
                                      <div class="data-icon"><img src="/assets/images/icon-alcoba.png" alt=""></div>
                                      <div class="data">{{  response.header_proj1[0].n_habitaciones }} alcobas </div>
                                  </div>
                              </div>
                              <div class="small-6 columns">
                                  <div class="item">
                                      <div class="data-icon"><img src="/assets/images/icon-garaje.png" alt=""></div>
                                      <div class="data">{{  response.header_proj1[0].n_garages }} garajes </div>
                                  </div>
                              </div>
                              <div class="small-6 columns">
                                  <div class="item">
                                      <div class="data-icon"><img src="/assets/images/icon-water.png" alt=""></div>
                                      <div class="data">{{  response.header_proj1[0].n_banos }} baños </div>
                                  </div>
                              </div>
                          </div>
                          <hr>
                      </div>
                      <div class="card-section">
                          <div class="button-group align-spaced ">
                              <a class="button" routerLink="/proyecto/{{response.header_proj1[0].titulo}}">Ver
                                  Proyecto</a>
                              <a class="button">Contacto</a>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="comparador-btn">
              <div class="container-comparador">
                  <h2>¿Quieres comparar?</h2>
                  <div class="subtitle">Selecciona tus proyectos favoritos para hacerlo</div>
              </div>
          </div>
          <!-- Fin Card Proyecto individual destacado-->
      </div>
      <div class="medium-6 columns">
          <!--slide proyecto-->
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
              <div class="orbit-wrapper">

                  <ul class="orbit-container">
                      <li class="is-active orbit-slide">
                          <div class="row">
                              <div class="medium-6 columns" *ngFor="let projectSlide1 of response.header_proj2; let i = index">
                                  <!-- Card Proyecto individual-->
                                  <div class="card">
                                      <div class="container-photo">
                                          <img [src]="projectSlide1.url_img" alt="" class="proyecto">
                                          <div class="container-tools">
                                              <div class="tags">
                                                  <div class="tag"><a href="#">VIS</a></div>
                                                  <div class="tag"><a href="#">Mi casa ya</a></div>
                                              </div>
                                              <div class="add">
                                                  <a href="#" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="card-section">
                                          <h2>{{ projectSlide1.direccion }}</h2>
                                          <div class="descripcion">
                                              {{ projectSlide1.sub_titulo }}
                                          </div>
                                          <div class="precio text-center">
                                              <div>Desde:</div>
                                              <span>{{ projectSlide1.valor_venta | number }}</span>
                                          </div>
                                          <hr>
                                      </div>
                                      <div class="card-section">
                                          <div class="row">
                                              <div class="small-6 columns">
                                                  <div class="item">
                                                      <div class="data-icon"><img src="/assets/images/icon-medida.png"
                                                              alt=""></div>
                                                      <div class="data"> {{ projectSlide1.medida_apartamento }} m</div>
                                                  </div>
                                              </div>
                                              <div class="small-6 columns">
                                                  <div class="item">
                                                      <div class="data-icon"><img src="/assets/images/icon-alcoba.png"
                                                              alt=""></div>
                                                      <div class="data"> {{ projectSlide1.n_habitaciones }} alcobas</div>
                                                  </div>
                                              </div>
                                              <div class="small-6 columns">
                                                  <div class="item">
                                                      <div class="data-icon"><img src="/assets/images/icon-garaje.png"
                                                              alt=""></div>
                                                      <div class="data"> {{ projectSlide1.n_garages }} garajes</div>
                                                  </div>
                                              </div>
                                              <div class="small-6 columns">
                                                  <div class="item">
                                                      <div class="data-icon"><img src="/assets/images/icon-water.png"
                                                              alt=""></div>
                                                      <div class="data"> {{ projectSlide1.n_banos }} baños</div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                      </div>
                                      <div class="card-section">
                                          <div class="button-group align-spaced ">
                                              <a class="button" routerLink="/proyecto/{{projectSlide1.titulo}}">Ver
                                                  Proyecto</a>
                                              <a class="button">Contacto</a>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Fin Card Proyecto individual-->
                              </div>
                          </div>
                      </li>
                      <li class="is-active orbit-slide">
                          <div class="row">
                            <div class="medium-6 columns" *ngFor="let projectSlide2 of response.header_proj4; let i = index">
                                <!-- Card Proyecto individual-->
                                <div class="card">
                                    <div class="container-photo">
                                        <img [src]="projectSlide2.url_img" alt="" class="proyecto">
                                        <div class="container-tools">
                                            <div class="tags">
                                                <div class="tag"><a href="#">VIS</a></div>
                                                <div class="tag"><a href="#">Mi casa ya</a></div>
                                            </div>
                                            <div class="add">
                                                <a href="#" class="fav"><img src="/assets/images/add.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-section">
                                        <h2>{{ projectSlide2.direccion }}</h2>
                                        <div class="descripcion">
                                            {{ projectSlide2.sub_titulo }}
                                        </div>
                                        <div class="precio text-center">
                                            <div>Desde:</div>
                                            <span>{{ projectSlide2.valor_venta | number }}</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="card-section">
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <div class="item">
                                                    <div class="data-icon"><img src="/assets/images/icon-medida.png"
                                                            alt=""></div>
                                                    <div class="data"> {{ projectSlide2.medida_apartamento }} m</div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns">
                                                <div class="item">
                                                    <div class="data-icon"><img src="/assets/images/icon-alcoba.png"
                                                            alt=""></div>
                                                    <div class="data"> {{ projectSlide2.n_habitaciones }} alcobas</div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns">
                                                <div class="item">
                                                    <div class="data-icon"><img src="/assets/images/icon-garaje.png"
                                                            alt=""></div>
                                                    <div class="data"> {{ projectSlide2.n_garages }} garajes</div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns">
                                                <div class="item">
                                                    <div class="data-icon"><img src="/assets/images/icon-water.png"
                                                            alt=""></div>
                                                    <div class="data"> {{ projectSlide2.n_banos }} baños</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="card-section">
                                        <div class="button-group align-spaced ">
                                            <a class="button" routerLink="/proyecto/{{projectSlide2.titulo}}">Ver
                                                Proyecto</a>
                                            <a class="button">Contacto</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Card Proyecto individual-->
                            </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="container-controls">
                  <nav class="orbit-bullets">
                      <button class="is-active" data-slide="0">
                          <span class="show-for-sr">First slide details.</span>
                          <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                      </button>
                      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                  </nav>
                  <div class="orbit-controls">
                      <button class="orbit-previous"><span class="show-for-sr">Previous
                              Slide</span>&#9664;&#xFE0E;</button>
                      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                  </div>
              </div>
          </div>



          <!--fin slide proyecto-->

      </div>
  </div>
  <hr class="white">
  <div class="row text-center">
      <div class="publicidad">
          <img src="/assets/images/banner1.jpg" alt="">
      </div>
  </div>
</div>
<!--fin bloque2 -->
<!--Bloque3 -->
<div class="container-gray">
  <div class="row columns">
      <h2 class="text-center deco">Constructoras</h2>
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <div class="orbit-wrapper">

              <ul class="orbit-container">
                  <li class="is-active orbit-slide">
                      <div class="row">
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                      </div>
                  </li>
                  <li class="orbit-slide">
                      <div class="row">
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                          <div class="small-4 medium-2 columns">
                              <figure class="orbit-figure">
                                  <img class="orbit-image" src="/assets/images/content/constructora2.jpg" alt="">
                              </figure>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="container-controls">
              <nav class="orbit-bullets">
                  <button class="is-active" data-slide="0">
                      <span class="show-for-sr">First slide details.</span>
                      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                  </button>
                  <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              </nav>
              <div class="orbit-controls">
                  <button class="orbit-previous"><span class="show-for-sr">Previous
                          Slide</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
          </div>
      </div>
  </div>
</div>
<!--fin bloque3 -->
<!--Bloque4 -->
<div class="container">
  <div class="row columns">
      <h2 class="text-center deco">Blog</h2>
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <div class="orbit-wrapper">

              <ul class="orbit-container">
                  <li class="is-active orbit-slide">
                      <div class="row">
                          <div class="medium-3 columns" *ngFor="let blog of response.blogs; let i = index">
                              <div class="blog-list" *ngIf="i <= 3">
                                  <div class="img">
                                      <img [src]="blog.banner" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>{{ blog.titulo.slice(0,90) }}</h3>
                                  <div class="resumen" [innerHTML]=blog.descripcion.slice(0,180)>
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <!-- <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                                      suscipit.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                                      suscipit sollicitudin mauris.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div> -->

                      </div>
                  </li>
                  <!-- <li class="orbit-slide">
                      <div class="row">
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                                      suscipit sollicitudin mauris.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                                      suscipit.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>
                          <div class="medium-3 columns">
                              <div class="blog-list">
                                  <div class="img">
                                      <img src="/assets/images/content/proyecto.jpg" alt="">
                                  </div>
                                  <div class="social">
                                      <div class="comment"><img src="/assets/images/comment.png" alt=""><span>2</span>
                                      </div>
                                      <div class="like"><img src="/assets/images/like.png" alt=""><span>5</span></div>
                                  </div>

                                  <div class="section"><a href="#">Decoracion</a></div>
                                  <h3>Tendencias de decoracion de vacaciones</h3>
                                  <div class="resumen">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non semper quam,
                                      suscipit sollicitudin mauris.
                                  </div>
                                  <a href="#" class="button">Seguir leyendo</a>
                              </div>
                          </div>

                      </div>
                  </li> -->
              </ul>
          </div>
          <div class="container-controls">
              <nav class="orbit-bullets">
                  <button class="is-active" data-slide="0">
                      <span class="show-for-sr">First slide details.</span>
                      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                  </button>
                  <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              </nav>
              <div class="orbit-controls">
                  <button class="orbit-previous"><span class="show-for-sr">Previous
                          Slide</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
          </div>
      </div>
  </div>
</div>


<!--fin bloque4 -->