<div class="grid-container">
  <div class="grid-x grid-padding-x align-stretch">
    <div class="cell small-1 medium-1 large-1"></div>
    <div class="cell small-3 medium-3 large-3">
      <ul class="vertical menu information-company">
        <li><a href="quienes-somos">¿Qui&eacute;nes somos?</a></li>
        <li class="is-active"><a href="glosario">Glosario</a></li>
        <li><a href="contactenos">Cont&aacute;ctenos</a></li>
        <li><a href="aviso-privacidad">Aviso de privacidad</a></li>
        <li><a href="politica-datos">Pol&iacute;tica de tratamiento de datos</a></li>
        <li><a href="mapa-sitio">Mapa del sitio</a></li>
      </ul>
    </div>
    <div class="grid-x cell small-7 medium-7 large-7">
      <div class="cell large-12 small-12 medium-12">
        <ul class="tabs" id="glosary-tabs" role="tablist" data-tabs>
          <li class="tabs-title glosary is-active" role="presentation"><a href="#panelA" aria-selected="true" role="tab"
              aria-controls="panelA" id="panelA-label" tabindex="0">A</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelB" role="tab" aria-controls="panelB"
              id="panelB-label" tabindex="1">B</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelC" role="tab" aria-controls="panelC"
              id="panelC-label" tabindex="2">C</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelD" role="tab" aria-controls="panelD"
              id="panelD-label" tabindex="3">D</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelE" role="tab" aria-controls="panelE"
              id="panelE-label" tabindex="4">E</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelF" role="tab" aria-controls="panelF"
              id="panelF-label" tabindex="5">F</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelG" role="tab" aria-controls="panelG"
              id="panelG-label" tabindex="6">G</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelH" role="tab" aria-controls="panelH"
              id="panelH-label" tabindex="7">H</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelI" role="tab" aria-controls="panelI"
              id="panelI-label" tabindex="8">I</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelJ" role="tab" aria-controls="panelJ"
              id="panelE-label" tabindex="9">J</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelK" role="tab" aria-controls="panelK"
              id="panelK-label" tabindex="10">K</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelL" role="tab" aria-controls="panelL"
              id="panelL-label" tabindex="11">L</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelM" role="tab" aria-controls="panelM"
              id="panelM-label" tabindex="12">M</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelN" role="tab" aria-controls="panelN"
              id="panelE-label" tabindex="13">N</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelO" role="tab" aria-controls="panelO"
              id="panelO-label" tabindex="14">O</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelP" role="tab" aria-controls="panelP"
              id="panelP-label" tabindex="15">P</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelQ" role="tab" aria-controls="panelQ"
              id="panelQ-label" tabindex="16">Q</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelR" role="tab" aria-controls="panelR"
              id="panelR-label" tabindex="17">R</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelS" role="tab" aria-controls="panelS"
              id="panelS-label" tabindex="18">S</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelT" role="tab" aria-controls="panelT"
              id="panelT-label" tabindex="19">T</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelU" role="tab" aria-controls="panelU"
              id="panelU-label" tabindex="20">U</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelV" role="tab" aria-controls="panelV"
              id="panelV-label" tabindex="21">V</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelW" role="tab" aria-controls="panelW"
              id="panelW-label" tabindex="22">W</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelX" role="tab" aria-controls="panelX"
              id="panelX-label" tabindex="23">X</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelY" role="tab" aria-controls="panelY"
              id="panelY-label" tabindex="24">Y</a></li>
          <li class="tabs-title glosary" role="presentation"><a href="#panelZ" role="tab" aria-controls="panelZ"
              id="panelZ-label" tabindex="25">Z</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="glosary-tabs">
          <div class="tabs-panel glosary is-active" id="panelA" role="tabpanel" aria-labelledby="panelA-label">
            <p>
              <span class="text-bold">Acabados</span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut, nihil quaerat suscipit eaque eveniet
              consectetur odit sit officia nesciunt laboriosam. Cumque dicta a quae delectus neque deserunt cum sed.</p>
          </div>
          <div class="tabs-panel glosary" id="panelB" role="tabpanel" aria-labelledby="panelB-label">
            <p>
              <span class="text-bold">B</span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ut, nihil quaerat suscipit eaque eveniet
              consectetur odit sit officia nesciunt laboriosam. Cumque dicta a quae delectus neque deserunt cum sed.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cell small-1 medium-1 large-1"></div>
  </div>
</div>
