<!--
<footer>
  <div class="grid-container full">
    <div class="grid-x grid-padding-x">

      <div class="large-2 medium-2 small-2 cell">
        <img src="https://www.estrenarvivienda.com/sites/default/files/logo-footer_0_0.png" width="275" height="55"
          alt="Logo " />
        <div class="region-social-media-links">
          <a href="https://www.facebook.com/Portal.Estrenar.Vivienda" target="_blank" title="Facebook">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/facebook.svg"
              alt="Facebook icon" />
          </a>

           <a href="https://www.twitter.com/e_vivienda" target="_blank" title="Twitter">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/twitter.svg"
              alt="Twitter icon" />
          </a>

          <a href="https://www.pinterest.com/estrenavivienda" target="_blank" title="Pinterest">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/pinterest.svg"
              alt="Pinterest icon" />
          </a>

          <a href="https://www.instagram.com/estrenar_vivienda" target="_blank" title="Instagram">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/instagram.svg"
              alt="Instagram icon" />
          </a>

          <a href="https://www.youtube.com/channel/UCeh1KHOGpuGSy77rw6FEdfA" target="_blank"
            title="Youtube (Channel)">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/youtube_channel.svg"
              alt="Youtube (Channel) icon" />
          </a>

          <a href="https://plus.google.com/115186147302368233471/" target="_blank" title="Linkedin">
            <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/googleplus.svg"
              alt="Google+ icon" />
          </a>
        </div>
      </div>


      <div class="large-2 medium-2 small-2 cell">
        <h4>Estrenar Vivienda</h4>
        <p>
          Somos el Portal Especializado de Vivienda Nueva en Colombia. Encuentra
          apartamentos y casas en venta nuevos en Bogotá, Cali, Medellín y el
          resto del país. Conoce proyectos de vivienda de interés social,
          constructoras y proyectos vacacionales.
        </p>
      </div>
      <div class="large-2 medium-2 small-2 cell">
        <div class="content">
          <ul class="menu-footer">
            <li class="first leaf menu-item">
              <a href="/quienes-somos">Quiénes somos</a>
            </li>
            <li class="leaf menu-item">
              <a href="/contactenos">Contáctenos</a>
            </li>
            <li class="leaf menu-item"><a href="/glosario">Glosario</a></li>
          </ul>
        </div>
      </div>
      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <ul class="menu-footer">
            <li class="leaf menu-item">
              <a href="/aviso-de-privacidad">Aviso de privacidad</a>
            </li>
            <li class="leaf menu-item">
              <a href="/aviso-legal">Aviso legal</a>
            </li>
            <li class="leaf menu-item">
              <a href="/politica-de-tratamiento-de-datos">Política de tratamiento de datos</a>
            </li>
            <li class="last leaf menu-item">
              <a href="/politica-de-datos-de-navegacion">Política de cookies</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="cell auto"></div>
      <div class="large-12 medium-12 small-12 cell"></div>

      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <div
            class="view view-evivienda-footer-menu view-id-evivienda_footer_menu view-display-id-block_2 view-dom-id-36b553eb2ac89f668f1f421328744bab">
            <div class="view-header">
              <h3><a href="#">Apartamentos en Venta en Colombia</a></h3>
            </div>
            <div class="view-content">
              <div class="item-list">
                <ul class="menu-footer">
                  <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                        Bogotá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta en
                        Barranquilla</a>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en Cali</a>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                        Cajicá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                        Tocancipá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                        Zipaquirá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                        Madrid</a>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                        Cartagena</a>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                        Mosquera</a>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en La
                        Calera</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <div
            class="view view-evivienda-footer-menu view-id-evivienda_footer_menu view-display-id-block view-dom-id-282cd99d181eb48a5630f67e35fa995b">
            <div class="view-header">
              <h3><a href="#">Proyectos de Vivienda en Colombia</a></h3>
            </div>
            <div class="view-content">
              <div class="item-list">
                <ul class="menu-footer">
                  <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-bogota/galeria">Proyectos de Vivienda en Bogotá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-barranquilla/galeria">Proyectos de Vivienda en
                        Barranquilla</a>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-cali/galeria">Proyectos de Vivienda en Cali</a>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-cajica/galeria">Proyectos de Vivienda en Cajicá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-tocancipa/galeria">Proyectos de Vivienda en Tocancipá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-cartagena/galeria">Proyectos de Vivienda en Cartagena</a>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-zipaquira/galeria">Proyectos de Vivienda en Zipaquirá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-madrid/galeria">Proyectos de Vivienda en Madrid</a>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-mosquera/galeria">Proyectos de Vivienda en Mosquera</a>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/ciudad-chia/galeria">Proyectos de Vivienda en Chía</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <div
            class="view view-evivienda-footer-menu view-id-evivienda_footer_menu view-display-id-block_3 view-dom-id-282b36e080b83671f9b085892e1e59c4">
            <div class="view-header">
              <h3><a href="#">Vivienda de Interés Social en Colombia </a></h3>
            </div>
            <div class="view-content">
              <div class="item-list">
                <ul class="menu-footer">
                  <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-bogota/galeria">Vivienda de Interés Social en Bogotá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-barranquilla/galeria">Vivienda de Interés Social en
                        Barranquilla</a>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-cali/galeria">Vivienda de Interés Social en Cali</a>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-tocancipa/galeria">Vivienda de Interés Social en
                        Tocancipá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-madrid/galeria">Vivienda de Interés Social en Madrid</a>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-ibague/galeria">Vivienda de Interés Social en Ibagué</a>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-cartagena/galeria">Vivienda de Interés Social en
                        Cartagena</a>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-piedecuesta/galeria">Vivienda de Interés Social en
                        Piedecuesta</a>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-cajica/galeria">Vivienda de Interés Social en Cajicá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/ciudad-jamundi/galeria">Vivienda de Interés Social en
                        Jamundí</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <div
            class="view view-evivienda-footer-menu view-id-evivienda_footer_menu view-display-id-block_1 view-dom-id-0568ec06a20bb34f530125cdb4074bba">
            <div class="view-header">
              <h3><a href="#">Casas en Venta en Colombia</a></h3>
            </div>
            <div class="view-content">
              <div class="item-list">
                <ul class="menu-footer">
                  <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-jamundi/galeria">Casas en Venta en Jamundí</a>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-tocancipa/galeria">Casas en Venta en Tocancipá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-barranquilla/galeria">Casas en Venta en Barranquilla</a>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-cajica/galeria">Casas en Venta en Cajicá</a>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-mosquera/galeria">Casas en Venta en Mosquera</a>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-cali/galeria">Casas en Venta en Cali</a>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-chia/galeria">Casas en Venta en Chía</a>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-cota/galeria">Casas en Venta en Cota</a>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-villeta/galeria">Casas en Venta en Villeta</a>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                      <a href="/proyectos-vivienda/casas/ciudad-ibague/galeria">Casas en Venta en Ibagué</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 medium-2 small-2 cell auto">
        <div class="content">
          <div
            class="view view-constructora-footer view-id-constructora_footer view-display-id-block view-evivienda-footer-menu view-dom-id-a579a480ee52b4cc022d858e17829c02">
            <div class="view-header">
              <h3><a href="#">Constructoras en Colombia</a></h3>
            </div>
            <div class="view-content">
              <div class="item-list">
                <ul class="menu-footer">
                  <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-title">
                      <a href="/marval">Constructora MARVAL</a>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-title">
                      <a href="/constructora-bolivar">Constructora CONSTRUCTORA BOLÍVAR</a>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-title">
                      <a href="/amarilo">Constructora AMARILO</a>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-title">
                      <a href="/acierto-inmobiliario">Constructora ACIERTO INMOBILIARIO</a>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-title">
                      <a href="/constructora-capital-bogota">Constructora CONSTRUCTORA CAPITAL BOGOTÁ</a>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-title">
                      <a href="/prodesa">Constructora PRODESA</a>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-title">
                      <a href="/ar-construcciones">Constructora AR CONSTRUCCIONES</a>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-title">
                      <a href="/constructora-melendez">Constructora CONSTRUCTORA MELÉNDEZ</a>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-title">
                      <a href="/cusezar">Constructora CUSEZAR</a>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-title">
                      <a href="/alcabama">Constructora ALCABAMA</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
-->
<!--Footer -->
<footer>
  <div class="container-footer">
    <div class="row">
      <div class="medium-3 columns">
        <img src="https://www.estrenarvivienda.com/sites/default/files/logo-footer_0_0.png" width="275" height="55"
          alt="Logo " />
        <div class="region-social-media-links">
          <ul>
            <li>
              <a href="https://www.facebook.com/Portal.Estrenar.Vivienda" target="_blank" title="Facebook">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/facebook.svg"
                  alt="Facebook icon" />
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/e_vivienda" target="_blank" title="Twitter">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/twitter.svg"
                  alt="Twitter icon" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/estrenar_vivienda" target="_blank" title="Instagram">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/instagram.svg"
                  alt="Instagram icon" />
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.com/estrenavivienda" target="_blank" title="Pinterest">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/pinterest.svg"
                  alt="Pinterest icon" />
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCeh1KHOGpuGSy77rw6FEdfA" target="_blank"
                title="Youtube (Channel)">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/youtube_channel.svg"
                  alt="Youtube (Channel) icon" />
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/115186147302368233471/" target="_blank" title="Linkedin">
                <img src="https://www.estrenarvivienda.com/sites/all/themes/seed_ev/images/icons/googleplus.svg"
                  alt="Google+ icon" />
              </a>
            </li>
          </ul>
        </div>
    </div>
    
      <div class="medium-3 columns">
        <h4>Estrenar Vivienda</h4>
        <p>
          Somos el Portal Especializado de Vivienda Nueva en Colombia. Encuentra
          apartamentos y casas en venta nuevos en Bogotá, Cali, Medellín y el
          resto del país. Conoce proyectos de vivienda de interés social,
          constructoras y proyectos vacacionales.
        </p>
    </div>
    
      <div class="medium-3 columns">
          <ul class="menu-footer">
            <li>
              <a href="/quienes-somos">Quiénes somos</a>
            </li>
            <li>
              <a href="/contactenos">Contáctenos</a>
            </li>
            <li><a href="/glosario">Glosario</a></li>
          </ul>
    </div>
    
      <div class="medium-3 columns">
          <ul class="menu-footer">
            <li>
              <a href="/aviso-privacidad">Aviso de privacidad</a>
            </li>
            <li>
              <a href="/aviso-legal">Aviso legal</a>
            </li>
            <li>
              <a href="/politica-datos">Política de tratamiento de datos</a>
            </li>
            <!-- <li>
              <a href="#">Política de cookies</a>
            </li> -->
          </ul>
      </div>
    </div> 
    <hr>
    <div class="row">

        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                            Bogotá</a>
                    </div>
                </li>
                <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta
                            en
                            Barranquilla</a>
                    </div>
                </li>
                <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en
                            Cali</a>
                    </div>
                </li>
                <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                            Cajicá</a>
                    </div>
                </li>
                <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                            Tocancipá</a>
                    </div>
                </li>
                <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                            Zipaquirá</a>
                    </div>
                </li>
                <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                            Madrid</a>
                    </div>
                </li>
                <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                            Cartagena</a>
                    </div>
                </li>
                <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                            Mosquera</a>
                    </div>
                </li>
                <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en
                            La
                            Calera</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                            Bogotá</a>
                    </div>
                </li>
                <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta
                            en
                            Barranquilla</a>
                    </div>
                </li>
                <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en
                            Cali</a>
                    </div>
                </li>
                <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                            Cajicá</a>
                    </div>
                </li>
                <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                            Tocancipá</a>
                    </div>
                </li>
                <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                            Zipaquirá</a>
                    </div>
                </li>
                <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                            Madrid</a>
                    </div>
                </li>
                <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                            Cartagena</a>
                    </div>
                </li>
                <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                            Mosquera</a>
                    </div>
                </li>
                <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en
                            La
                            Calera</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                            Bogotá</a>
                    </div>
                </li>
                <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta
                            en
                            Barranquilla</a>
                    </div>
                </li>
                <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en
                            Cali</a>
                    </div>
                </li>
                <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                            Cajicá</a>
                    </div>
                </li>
                <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                            Tocancipá</a>
                    </div>
                </li>
                <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                            Zipaquirá</a>
                    </div>
                </li>
                <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                            Madrid</a>
                    </div>
                </li>
                <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                            Cartagena</a>
                    </div>
                </li>
                <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                            Mosquera</a>
                    </div>
                </li>
                <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en
                            La
                            Calera</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                            Bogotá</a>
                    </div>
                </li>
                <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta
                            en
                            Barranquilla</a>
                    </div>
                </li>
                <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en
                            Cali</a>
                    </div>
                </li>
                <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                            Cajicá</a>
                    </div>
                </li>
                <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                            Tocancipá</a>
                    </div>
                </li>
                <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                            Zipaquirá</a>
                    </div>
                </li>
                <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                            Madrid</a>
                    </div>
                </li>
                <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                            Cartagena</a>
                    </div>
                </li>
                <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                            Mosquera</a>
                    </div>
                </li>
                <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en
                            La
                            Calera</a>
                    </div>
                </li>
            </ul>
        </div>
  <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-bogota/galeria">Apartamentos en Venta en
                            Bogotá</a>
                    </div>
                </li>
                <li class="views-row views-row-2 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-barranquilla/galeria">Apartamentos en Venta
                            en
                            Barranquilla</a>
                    </div>
                </li>
                <li class="views-row views-row-3 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cali/galeria">Apartamentos en Venta en
                            Cali</a>
                    </div>
                </li>
                <li class="views-row views-row-4 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cajica/galeria">Apartamentos en Venta en
                            Cajicá</a>
                    </div>
                </li>
                <li class="views-row views-row-5 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-tocancipa/galeria">Apartamentos en Venta en
                            Tocancipá</a>
                    </div>
                </li>
                <li class="views-row views-row-6 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-zipaquira/galeria">Apartamentos en Venta en
                            Zipaquirá</a>
                    </div>
                </li>
                <li class="views-row views-row-7 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-madrid/galeria">Apartamentos en Venta en
                            Madrid</a>
                    </div>
                </li>
                <li class="views-row views-row-8 views-row-even menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-cartagena/galeria">Apartamentos en Venta en
                            Cartagena</a>
                    </div>
                </li>
                <li class="views-row views-row-9 views-row-odd menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-mosquera/galeria">Apartamentos en Venta en
                            Mosquera</a>
                    </div>
                </li>
                <li class="views-row views-row-10 views-row-even views-row-last menu-item">
                    <div class="views-field views-field-php">
                        <a href="/proyectos-vivienda/apartamentos/ciudad-la-calera/galeria">Apartamentos en Venta en
                            La
                            Calera</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  <!--Fin Footer -->
  </div>
<div class="legal">
  <div class="row text-center">
    <p>Toda la información contenida de precios, descuentos, promociones, sorteos y condiciones de las publicaciones puedne cambiar sin previo aviso y están</p>
    <p>sujetos a las políticas de comercializamiento del anunciante, quien es el único responsable del contenido del anuncio</p>
    <p>Copyright © 2021 Estrenar Vivienda</p>
  </div>
</div>
</footer>
