<!--Footer -->
<footer>
  <div class="container-footer">
    <div class="row">
      <div class="medium-3 small-12 columns text-center mBotton10">
          <img src="https://www.estrenarvivienda.com/sites/default/files/logo-footer_0_0.png" width="275" height="55"
            alt="Logo " />
          <div class="region-social-media-links">
            <ul>
              <li>
                <a href="https://www.facebook.com/Portal.Estrenar.Vivienda" target="_blank" title="Facebook">
                  <img src="/assets/images/redes/fb.png" width="30px"
                    alt="Facebook icon" />
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/e_vivienda" target="_blank" title="Twitter">
                  <img src="/assets/images/redes/twitter.png" width="30px"
                    alt="Twitter icon" />
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/estrenar_vivienda" target="_blank" title="Instagram">
                  <img src="/assets/images/redes/instagram.png" width="30px"
                    alt="Instagram icon" />
                </a>
              </li>
              <li>
                <a href="https://www.pinterest.com/estrenavivienda" target="_blank" title="Pinterest">
                  <img src="/assets/images/redes/pinterest.png" width="30px"
                    alt="Pinterest icon" />
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCeh1KHOGpuGSy77rw6FEdfA" target="_blank"
                  title="Youtube (Channel)">
                  <img src="/assets/images/redes/youtube.png" width="30px"
                    alt="Youtube (Channel) icon" />
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/115186147302368233471/" target="_blank" title="Linkedin">
                  <img src="/assets/images/redes/linkedin.png" width="30px"
                    alt="Google+ icon" />
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="medium-3 small-12 columns">
          <h4 class="margin0">Estrenar Vivienda</h4>
          <p>
            Somos el Portal Especializado de Vivienda Nueva en Colombia. Encuentra
            apartamentos y casas en venta nuevos en Bogotá, Cali, Medellín y el
            resto del país. Conoce proyectos de vivienda de interés social,
            constructoras y proyectos vacacionales.
          </p>
      </div>
      <div class="medium-3 small-6 columns paddinTFooter">
            <ul class="menu-footer paddinLFooter">
              <li>
                <a href="/quienes-somos">Quiénes somos</a>
              </li>
              <li>
                <a href="/contactenos">Contáctenos</a>
              </li>
              <li><a href="/glosario">Glosario</a></li>
            </ul>
      </div>
      <div class="medium-3 small-6 columns paddinTFooter">
        <ul class="menu-footer">
          <li>
            <a href="/aviso-privacidad">Aviso de privacidad</a>
          </li>
          <li>
            <a href="/aviso-legal">Aviso legal</a>
          </li>
          <li>
            <a href="/politica-datos">Política de tratamiento de datos</a>
          </li>
          <!-- <li>
            <a href="#">Política de cookies</a>
          </li> -->
        </ul>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item" *ngFor="let project of response.projects">
                    <div class="views-field views-field-php">
                        <a href="/proyectos/{{ project.values.value }}">Proyectos de vivienda en {{ project.values.value }}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="small-12 medium-five columns">
            <h2>Apartamentos en Colombia</h2>
            <ul class="">
                <li class="views-row views-row-1 views-row-odd views-row-first menu-item" *ngFor="let apartment of response.apartments">
                    <div class="views-field views-field-php">
                        <a href="/proyectos/{{ apartment.values.value }}">Apartamentos en {{ apartment.values.value }}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="small-12 medium-five columns">
            <h2>Apartaestudios en Colombia</h2>
            <ul class="">
              <li class="views-row views-row-1 views-row-odd views-row-first menu-item" *ngFor="let studioapartment of response.studioapartments">
                  <div class="views-field views-field-php">
                      <a href="/proyectos/{{ studioapartment.values.value }}">Apartaestudios en {{ studioapartment.values.value }}</a>
                  </div>
              </li>
            </ul>
        </div>
        <div class="small-12 medium-five columns">
            <h2>Casas en Colombia</h2>
            <ul class="">
              <li class="views-row views-row-1 views-row-odd views-row-first menu-item" *ngFor="let house of response.houses">
                  <div class="views-field views-field-php">
                      <a href="/proyectos/{{ house.values.value }}">Casas en {{ house.values.value }}</a>
                  </div>
              </li>
            </ul>
        </div>
        <div class="small-12 medium-five columns">
            <h2>Proyectos de vivienda Vis en Colombia</h2>
            <ul class="">
              <li class="views-row views-row-1 views-row-odd views-row-first menu-item" *ngFor="let vis of response.vis_housing">
                  <div class="views-field views-field-php">
                      <a href="/vivienda-interes-social/{{ vis.values.value }}">Proyectos de vivienda Vis en {{ vis.values.value }}</a>
                  </div>
              </li>
            </ul>
        </div>
    </div>
  <!--Fin Footer -->
  </div>
<div class="legal">
  <div class="row text-center">
    <p>Toda la información contenida de precios, descuentos, promociones, sorteos y condiciones de las publicaciones puedne cambiar sin previo aviso y están</p>
    <p>sujetos a las políticas de comercializamiento del anunciante, quien es el único responsable del contenido del anuncio</p>
    <p>Copyright © 2021 Estrenar Vivienda</p>
  </div>
</div>
</footer>
