footer {
  background-color: #13454E;
  padding: 10px;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #fff;
  font-size: 0.75rem;
}

footer a {
  display: block;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.25rem;
  text-decoration: underline;
}

footer h4 {
  color: #a9d13a;
  font-weight: bolder;
}

footer h3>a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: bolder;
}
