footer {
  background-color: #66A6B2;
  padding: 10px;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #fff;
  font-size: 0.75rem;
  .menu-footer {
    margin: 0;
    li {
      display: block;
      a {
        display: block;
        color: #fff;
        font-size: 0.75rem;
        padding: 0.25rem;
        margin: 0;
        text-decoration: underline;
      }
    }
  }

  .region-social-media-links {
    margin-top: 2rem;
  }

  h3 {
    a {
      text-decoration: none;
      font-size: 0.95rem;
      line-height: 1.2em;
      font-weight: 600;
    }
  }
  h4 {
    color: #a9d13a;
    font-weight: bolder;
  }
}
